[2018-01-29 16:25] #187 closed

[2018-01-29 16:29] mhdawson commented on #191
@sathvikl could you add an additional check of another file that can be created as part of the on_exit function ?

[2018-01-29 17:59] sathvikl commented on #191
@mhdawson  I don't quite understand. You mean to say, create those files so grep can exit?

[2018-01-29 19:00] mhdawson commented on #192
starting hangout now.

[2018-01-29 19:01] mhdawson commented on #192
Link for participants: https://hangouts.google.com/hangouts/_/ytl/nhxjRphRRhiqFoX53wMbvUZpybkHyZ6GWdEnNJvSAWQ=?eid=100598160817214911030

Link for those who just want to watch: http://youtu.be/Cg1jWTPAIDU

[2018-01-29 19:43] mhdawson opened #196 "Raise awareness of how to report and issue"
Survey showed people don't know how to report issues:

Some ideas

1) add link on Node.js org website
2) add info in benchmarking repo
3) add email address
4) Communication/publication

[2018-01-30 20:50] mhdawson commented on #191
Have the while check for an additional file X and terminate if it exists or the one it already checks.  Then have on_exit create the additional file X.

Having discussed in the benchmarking meeting, using the PIDs and a kill is probably the better solution.

[2018-01-30 21:00] mhdawson commented on #192
PR for minutes: https://github.com/nodejs/benchmarking/pull/197

[2018-01-30 21:00] #192 closed

[2018-01-31 02:12] sathvikl commented on #191
I think this can be closed.
Only this script will be updated: [run-ghost-js.sh](https://github.com/sathvikl/benchmarking/blob/add_ghostjs/experimental/benchmarks/ghost-bench/run-ghost-js.sh#L314)

[2018-01-31 17:43] mhdawson commented on #188
Discussed, last meeting, nothing for TSC to decide at this point.  Let async hooks team address, removing tag for now.

[2018-01-31 17:44] ofrobots commented on #188
Seems like @nodejs/async_hooks hasn't been mentioned here yet. Doing so.

[2018-02-01 15:53] mhdawson commented on #191
Ok closing.

[2018-02-01 15:53] #191 closed

[2018-02-05 23:16] sathvikl commented on #191
@mhdawson  I choose to use  `jobs -p` since it would reliably return all the PIDs of the background processes that have been launched from the script.
[change in run-ghost-js](https://github.com/sathvikl/benchmarking/blob/add_ghostjs/experimental/benchmarks/ghost-bench/run-ghost-js.sh#L85)
This is a simple enough change that can be done on all the scripts OR better yet in Jenkins.

The issue is th

[2018-02-06 01:06] mmarchini commented on #168
It's not easy. I tried this approach with eBPF `profile` tool (which is similar to Linux perf), but I couldn't make it work. Besides being hard, this approach also has the downside that it needs to be reimplemented to all interested tools (Linux perf, eBPF profiler, dtrace, etc.).

I didn't explore the second approach yet, but it seems promising. In theory, it would work for any external tool whic

[2018-02-06 01:50] hashseed commented on #168
With the second approach, you can find out which function is on the stack, but not where inside the function you collected the sample from. I.e. you can't figure out which source line exactly the tick comes from.

/cc @fhinkel

[2018-02-06 01:57] mmarchini commented on #168
@hashseed thanks, now I understood :)

I think Linux perf wasn't able to tell the exact line before Ignition either, just where the function was declared. I'll confirm that though

[2018-02-07 14:05] mhdawson opened #198 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-02-13"
## Time

**UTC Tue 13-Feb-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 13-Feb-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 13-Feb-2018 12:00 (12:00 PM) |
| US / Central  | Tue 13-Feb-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 13-Feb-2018 14:00 (02:00 PM) |
| London        | Tue 13-Feb-2018 19:00 (07:00 PM) |

[2018-02-08 19:20] mhdawson opened #199 "Usecases, a recent survey"
Was reading through this post recently and thought it might be useful in our discussion about use cases.

https://blog.risingstack.com/why-developers-love-node-js-2018-survey/.  See the question which is "When we asked developers about what they actually build with Node"

[2018-02-08 20:00] bmeurer commented on #199
Very interesting. Thanks for sharing. cc @thomasnat1

[2018-02-09 09:04] bmeurer commented on #198
In the context of https://github.com/v8/web-tooling-benchmark/pull/33 there was a discussion whether it makes sense to have benchmarks for Node specific packages/libraries like `@std/esm`. Can we invite @jdalton to this or the next WG meeting to discuss that?

[2018-02-09 10:24] jdalton commented on #198
Thanks! Yes things like runtime transpilers, instrumentation, and loaders.

[2018-02-09 16:18] mhdawson commented on #198
I'm not going to be able to make the meeting on the 13th due to the Diagnostic summit.  @bmeurer do you want to chair ?   There is not a lot on the agenda, so we could also skip until the next time as I would be interested in the discussion with @jdalton

[2018-02-09 17:33] bmeurer commented on #198
Ah right. I'd say we should skip this one and meet end of the month.

[2018-02-09 17:50] jdalton commented on #198
Can do, thanks!

[2018-02-09 22:14] mhdawson commented on #198
@bmeurer sounds good.

[2018-02-09 22:14] mhdawson commented on #198
Going to cancel for this week and meet at next regular time in 2 weeks.

[2018-02-09 22:14] #198 closed

[2018-02-13 04:31] Trott commented on #188
Seems like the `tsc-agenda` label should be removed? If I'm wrong about that, by all means, add it again.

[2018-02-14 14:09] mhdawson opened #200 "Failures on canary in DC-EIS"
Looks like DC-EIS is failing on the canary branch for the last few days:

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-canary/73/

@uttampawar  can you take a look to see if you can recreate locally?

[2018-02-14 14:44] targos commented on #200
It's probably this: https://github.com/nodejs/node/pull/18723

[2018-02-14 16:01] mhdawson opened #201 "Failure of web tooling benchmark on 4.X"
Seems to be a persistent failure for the last few days.

Wondering if something changed in the benchmark to make it incompatible with 4.X since it is still running ok on 6.x and 8.x.

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-4.x/803/console

[code]

[2018-02-14 16:02] mhdawson commented on #201
@bmeurer can you take a look.

[2018-02-14 16:05] mhdawson opened #202 "Require cached pref much lower"
I just noticed this regressed (quite a while ago).

https://benchmarking.nodejs.org/charts/require_cached.png

Seems like its in the 3400 range on master, 8,x and canary and way higher on 6.x.

This may have been known, but would be doc to capture here what the reason was.

[2018-02-14 16:08] mhdawson opened #203 "Footprint increase - acmeair after load last 2 weeks"
https://benchmarking.nodejs.org/charts/acmeair_postfootprint.png

Looks to have increased from around 90 to ~126.

@targos, does this line up with an update to v8 ?

[2018-02-14 16:10] mhdawson commented on #203
This there is also an increase footprint after for node-dc-eis.

[2018-02-14 16:17] targos commented on #203
Do you have an exact date for the first point that is higher?

[2018-02-14 16:51] mathiasbynens commented on #201
Array spread is not supported in Node.js v4. :( http://node.green/#ES2015-syntax-spread-------operator-with-arrays--in-function-calls A simple fix would be to use `Array.from()`. I’ll submit a patch.

[2018-02-14 18:11] mathiasbynens commented on #201
The last “working” build was https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-4.x/800/console. On closer inspection of the log, it looks like a similar error is happening elsewhere:

[code]

This use of the spread operator originates from coffeescript.

I suspect WTB never worked on Node.js v4.

[2018-02-14 18:25] mathiasbynens commented on #201
Per https://github.com/v8/web-tooling-benchmark#building the Web Tooling Benchmark has not been tested on Node.js v4. I’ll go ahead and make it more clear that Node.js v4 is not supported. The fact that CI runs such as https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-4.x/800/console have been passing seems like a bug.

[2018-02-15 17:04] mhdawson commented on #201
@bmeurer can you confirm that we should just remove the web tooling benchmark from the v4.x runs ?

[2018-02-15 17:05] mhdawson commented on #200
@uttampawar ping

[2018-02-15 17:06] mhdawson commented on #188
@Trott thanks, I had removed manually from the last agenda, but forgot to remove the tag.

[2018-02-15 18:43] bmeurer commented on #201
@mhdawson Yes.

[2018-02-15 22:11] mhdawson commented on #201
Removed from job for 4.x and I see it is not in the graphs so closing.

[2018-02-15 22:11] #201 closed

[2018-02-21 14:05] mhdawson opened #204 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-02-26"
## Time

**UTC Mon 26-Feb-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 26-Feb-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 26-Feb-2018 12:00 (12:00 PM) |
| US / Central  | Mon 26-Feb-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 26-Feb-2018 14:00 (02:00 PM) |
| London        | Mon 26-Feb-2018 19:00 (07:00 PM) |

[2018-02-21 21:43] mmarchini commented on #168
This is being covered in https://github.com/nodejs/benchmarking/issues/168. I suggest closing this issue here.

[2018-02-22 15:07] bmeck opened #205 "Benchmarks for Async Web Tooling"
This was talked about in the feedback meeting, but https://github.com/v8/web-tooling-benchmark currently is only setup to test a minimal subset of workflows that do not use asynchronous tasks. That is the reason that webpack is not in the benchmark suite there. It would be great if we could setup some generic benchmarking system to use against real applications. I did mention that GoDaddy has an o

[2018-02-22 15:53] targos commented on #203
Ping @mhdawson. Is the raw data public?

[2018-02-22 16:22] mathiasbynens commented on #205
In the Web Tooling Benchmark, we avoid:

a) Node-specific APIs, to ensure the benchmark can run in the various standalone JS shells
b) disk I/O, as it skews the results (on non-SSD drives, it would otherwise become an I/O benchmark)

We’re open to testing asynchronous tasks, as long as they don’t fall under the above, and provided we find a way around the fact that the microtask queue is not handl

[2018-02-22 18:02] m-leitch commented on #205
Given IO tends to be where things get "real", can you simply enforce a reference standard (whether IOPS+latency or SSD+NVMe)?  This would assume these additional workloads would have value. :-)

[2018-02-22 18:59] bmeck commented on #205
@mathiasbynens since IO is part of Node's bottlenecks sometimes I think we would want it to some extent, even if skewed / needing to plaec timers on start/end of every turn of the event loop. Otherwise we are just testing JS running speed, not any IO optimizations as well. I'm not sure how complex real world apps would be easily ported to not use Node APIs but that seems a fine goal if it is doabl

[2018-02-26 14:04] mhdawson commented on #136
Closing since the survey is complete and we are just waiting for the final data from the user-feedback team.

[2018-02-26 14:04] #136 closed

[2018-02-26 14:05] mhdawson commented on #189
Closing since this was covered in an earlier meeting.

[2018-02-26 14:05] #189 closed

[2018-02-26 14:07] mhdawson commented on #200
@uttampawar ping

[2018-02-26 15:55] mhdawson commented on #204
Link to join for attendees https://github.com/nodejs/benchmarking/issues/204.  Note using zoom this week as it supports more participants and we now have an account.

Will post link for those who just want to watch once the live stream starts as I don't have a link until that time.

[2018-02-26 16:21] jdalton commented on #204
👍

[2018-02-26 19:01] bmeurer commented on #204
Is it me or did you forget to actually post the link for attendees?

[2018-02-26 19:01] mhdawson commented on #204
I must have gotten the wrong link, sorry updating now

[2018-02-26 19:02] mhdawson commented on #204
https://zoom.us/j/328248752

[2018-02-26 19:02] bmeurer commented on #204
BTW I don't have a lot of time today, only about 20mins. Can we do the discussion about Node benchmarks involving @jdalton at the beginning today?

[2018-02-26 19:02] mhdawson commented on #204
Sure

[2018-02-26 19:08] bmeurer opened #206 "Think about Node library/tool benchmarks"
As brought up in https://github.com/v8/web-tooling-benchmark/pull/33 we don't currently have a place for benchmarks regarding Node libraries/tools, for example `@std/esm`.

cc @mathiasbynens @jdalton

[2018-02-26 19:08] mhdawson commented on #204
Link for YouTube stream https://www.youtube.com/watch?v=qZFwRYmvkzk

[2018-02-26 19:21] mhdawson commented on #203
The raw data is not published right now, but I can  post it here.

[2018-02-26 19:34] mhdawson commented on #203
Discussed in last Benchmarking meeting @uttampawar took action to try to narrow it down to a date/commit

[2018-02-26 19:35] mhdawson commented on #203
Turns out I need to do a sql query to get the raw data so will take me a bit longer.

[2018-02-26 19:37] mhdawson commented on #159
@uttampawar is going to take this over.  Most of the code is ready but @sathvikl is changing roles so he won't have time to work on it.

[2018-02-26 20:06] mhdawson commented on #203
Raw data is in:

[acmeair_postfootprint.txt](https://github.com/nodejs/benchmarking/files/1760119/acmeair_postfootprint.txt)

Strangely I can't find the increased numbers in the data yet.  Is should be in the series were we see

[code]

[2018-02-27 13:50] targos commented on #203
`data6` is `v8.x`. With `data1` (master), we have this:

![image](https://user-images.githubusercontent.com/2352663/36731734-e281c816-1bcb-11e8-8d29-7ea7f10994b8.png)

First problematic point is on 2018-02-02. There was no V8 update this time (it happened 5 days before). I'm not surprised because the canary curve followed master. We should have seen the regression in canary before.

Many commits l

[2018-02-27 14:23] addaleax commented on #203
I think nodejs/node@5898dc3d0c071a8e5135ba0a80565dd19d49cb32 is pretty safe, it shouldn’t change memory layout in the big picture, and only has an effect if there’s handles being sent over an IPC channel.

I wouldn’t consider it impossible that nodejs/node@7c4b09b24bbe7d6a8cbad256f47b30a101a909ea has a memory impact. I would be surprised, but from a quick look at the commits landed that day it see

[2018-02-28 00:51] uttampawar commented on #200
@mhdawson I'm not able to reproduce the error. Also, the 'ci' is not accessible.

[2018-03-01 18:13] mhdawson commented on #200
It looks like whatever the problem was it is now resolved :)  Closing.

[2018-03-01 18:13] #200 closed

[2018-03-06 00:02] uttampawar commented on #203
@mhdawson @addaleax Today, node-dc-eis shows +7% and acme-air shows +11% memory footprint increase after-load compare to last week where it was +30% higher as measured on the master branch.

[2018-03-06 20:01] mhdawson commented on #203
An additional +7% and 11% or down to only being that versus the previous +30%

[2018-03-07 14:05] mhdawson opened #208 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-03-13"
## Time

**UTC Tue 13-Mar-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 13-Mar-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 13-Mar-2018 12:00 (12:00 PM) |
| US / Central  | Tue 13-Mar-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 13-Mar-2018 14:00 (02:00 PM) |
| London        | Tue 13-Mar-2018 18:00 (06:00 PM) |

[2018-03-07 14:23] mhdawson commented on #208
I'm travelling so I'm not 100% sure I can make the meeting but will try to attend.

[2018-03-07 20:02] mhdawson commented on #168
Closing as covered by https://github.com/nodejs/diagnostics/issues/148

[2018-03-07 20:02] #168 closed

[2018-03-08 17:22] uttampawar commented on #203
I'm still narrowing it down from Commit list in February. Currently we do see stable size for node-dc-eis (much closer to the LTS 8) but AcmeAir show relatively high footprint. I'll update the result as soon as I find the culprit commit.

[2018-03-12 15:47] bmeurer commented on #208
I cannot make the meeting today, sorry.

[2018-03-12 18:01] uttampawar commented on #208
@mhdawson Do you want to cancel the meeting?

[2018-03-12 22:20] mhdawson commented on #208
@bmeurer. Its scheduled for tomorrow (Tuesday).

If you can't make it tomorow as well, then maybe we should just cancel, although I'll be on holiday for the next one.  If people are available may we can move this week's meeting to Thursday at 2:30 ?

[2018-03-12 22:58] uttampawar commented on #208
@mhdawson I'm available tomorrow and/or on Thursday (is it 2:30 pm PST?).

[2018-03-13 00:24] mhdawson commented on #208
Sorry 2:30 EST is what I was suggesting.

It's up to you and @bmeurer.  I don't think I'll make it tomorrow but if you two can you can go ahead.  Alternately I'm available on Thursday/Friday if we can find a good time.

[2018-03-13 04:58] bmeurer commented on #208
Same constraints today. I may be available on Thursday, although 2:30pm PST is really challenging for me.

I don't have any news, since I hadn't had a lot of time to any performance related work due to performance review cycle. So I guess it'd be fine to skip this meeting.

[2018-03-13 20:07] uttampawar commented on #203
For Node-DC-EIS I see following footprint increase,

commit id: 4404c76
metric pre footprint 49104
metric post footprint 123868
metric footprint increase 74764

commit id: 5898dc3
metric pre footprint 48072
metric post footprint 143656
metric footprint increase 95584

commit id: 7c4b09b
metric pre footprint 48824
metric post footprint 147052
metric footprint increase 98228

Release: (v8.x)
metric

[2018-03-13 21:37] uttampawar commented on #203
It looks like, commit-id 7c4b09b where we see significant footprint increase. See following table for 15 commits.

Commit-id (pre, post,increase)
-------------------------------------------------------------------------------------------------
5898dc3 src: simplify handles for libuv streams (48072, 143656, 95584)
7c4b09b src: refactor stream callbacks and ownership (48824, 147052, 98228)
1b6cb94 b

[2018-03-14 04:14] bmeurer commented on #208
How about next meeting in 3 weeks then?

[2018-03-15 12:22] raoulmillais commented on #159
I watched the WG meeting and heard you debating locking down the jenkins user to only be able to start one service.  You can specify the specific full commands in the sudoers file.  E.g.

[code]

[2018-03-16 20:15] mhdawson commented on #208
3 weeks sounds good to me.  @uttampawar let us know if that works for you ?  If so I'll update the calendar.

[2018-03-19 17:25] a0viedo commented on #17
@nodejs/benchmarking is this one still relevant or can be closed?

[2018-03-20 15:02] mhdawson commented on #17
It would still be good to go back and take a look.  I don't anybody's had time to do that.

[2018-03-21 13:05] mhdawson opened #209 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-04-02"
## Time

**UTC Mon 02-Apr-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 02-Apr-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 02-Apr-2018 12:00 (12:00 PM) |
| US / Central  | Mon 02-Apr-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 02-Apr-2018 14:00 (02:00 PM) |
| London        | Mon 02-Apr-2018 19:00 (07:00 PM) |

[2018-03-24 03:24] mhdawson commented on #208
No meeting closing.

[2018-03-24 03:24] #208 closed

[2018-03-28 13:05] mhdawson opened #210 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-04-02"
## Time

**UTC Mon 02-Apr-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 02-Apr-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 02-Apr-2018 12:00 (12:00 PM) |
| US / Central  | Mon 02-Apr-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 02-Apr-2018 14:00 (02:00 PM) |
| London        | Mon 02-Apr-2018 19:00 (07:00 PM) |

[2018-04-02 16:07] #209 closed

[2018-04-02 17:08] gareth-ellis commented on #209
Is this not happening? Start time (European time at least) is still an hour away

[2018-04-02 17:09] gareth-ellis commented on #209
Nevermind. Just seen title

[2018-04-02 17:49] mhdawson commented on #205
I agree that having something that covers IO optimization is good as well.

[2018-04-02 17:51] mhdawson commented on #193
@gareth-ellis did I ever create that for you or are you still waiting on me(sorry I can't remember)? If so please ping and we'll get it setup.

If I did create one can you post on update on progress so far.

[2018-04-02 17:52] uttampawar commented on #210
@mhdawson Is there a zoom meeting id for this meeting?

[2018-04-02 17:52] mhdawson commented on #188
@bmeurer since we have no other promise centric benchmarks I'm wondering if running these nightly would be better than nothing?

[2018-04-02 17:58] mhdawson commented on #210
I'd updated the meeting link above but it tells me it is expired.
Fixing it up now.

[2018-04-02 18:00] mhdawson commented on #210
New link https://zoom.us/j/245107617

[2018-04-02 18:01] mhdawson commented on #210
Meeting is live now so you should be able to join.

[2018-04-02 18:07] mhdawson commented on #210
Agreed to move to next week since its a holiday for Benedick.

[2018-04-02 18:10] mhdawson commented on #210
closing as new issue will be generated for meeting next week.

[2018-04-02 18:11] mhdawson opened #211 "Submissions to NodeSummit, JS Interactive, NodeConfEU"
Submissions are open to all of these

NodeSummit submissions are already been evaluated but call is still open
JS Interactive closes April 20
NodeConfEU a bit after that.

Should we be submitting some talks covering the work of this WG for this year?

[2018-04-03 04:12] bmeurer commented on #211
I submitted a talk about Promise performance to NodeConfEU, which I guess is related to the benchmarking WG work. But I'm happy to do a joint talk about other benchmarking WG topics at NodeConfEU.

I'm not going to be at either NodeSummit or JS Interactive.

[2018-04-03 04:17] bmeurer commented on #188
@mhdawson Makes sense. I've created versions of these benchmarks, see https://github.com/v8/promise-performance-tests, which we use for V8 internally to track `Promise` and `async/await` performance. Shouldn't be hard to setup on Node infrastructure as well (and run with `async_hook` on and off).

[2018-04-04 13:05] mhdawson opened #212 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-04-10"
## Time

**UTC Tue 9-Apr-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 9-Apr-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 9-Apr-2018 12:00 (12:00 PM) |
| US / Central  | Tue 9-Apr-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 9-Apr-2018 14:00 (02:00 PM) |
| London        | Tue 9-Apr-2018 19:00 (07:00 PM) |
| Ams

[2018-04-04 20:42] mhdawson opened #213 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-04-09"
## Time

**UTC Mon 09-Apr-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 09-Apr-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 09-Apr-2018 12:00 (12:00 PM) |
| US / Central  | Mon 09-Apr-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 09-Apr-2018 14:00 (02:00 PM) |
| London        | Mon 09-Apr-2018 19:00 (07:00 PM) |

[2018-04-04 20:43] #212 closed

[2018-04-09 18:04] mhdawson commented on #213
Just started meeting

[2018-04-09 18:14] mhdawson commented on #211
Discussed in last meeting, don't think we have something interesting enough this cycle.  Will keep thinking but may skip until next  time.

[2018-04-09 18:14] #211 closed

[2018-04-09 18:26] bmeurer commented on #213
Quick update on the Promise Performance side: As mentioned earlier, I'm planning to setup the [promise-performance-tests](https://github.com/v8/promise-performance-tests) that we use in V8 internally now to also run on the Node infrastructure. They even cover async generators now, which are going to be in Node 10.

[2018-04-09 21:07] #210 closed

[2018-04-09 21:08] mhdawson commented on #204
PR for minutes: https://github.com/nodejs/benchmarking/pull/207

[2018-04-09 21:08] #204 closed

[2018-04-09 21:16] mhdawson commented on #213
PR for minutesL https://github.com/nodejs/benchmarking/pull/214

[2018-04-09 21:16] #213 closed

[2018-04-10 00:06] uttampawar commented on #202
@mhdawson Can you post the script to run this 'require' test, please? I lost the screen content after leaving the zoom meeting today.

[2018-04-12 21:57] mhdawson commented on #202
Here it is:
[code]

[2018-04-13 18:09] uttampawar commented on #202
@mhdawson Thanks. I'll work on this issue.

[2018-04-17 17:35] uttampawar opened #215 "Ops/s number for AcmeAir is zero"
@mhdawson Ops/s numbers for AcmeAir benchmark is showing zero on the throughput graph at https://benchmarking.nodejs.org/charts/acmeair_throughput.png

[2018-04-18 12:05] mhdawson opened #216 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-04-23"
## Time

**UTC Mon 23-Apr-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 23-Apr-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 23-Apr-2018 12:00 (12:00 PM) |
| US / Central  | Mon 23-Apr-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 23-Apr-2018 14:00 (02:00 PM) |
| London        | Mon 23-Apr-2018 19:00 (07:00 PM) |

[2018-04-19 16:50] mhdawson commented on #215
Latest run https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-canary/138/console
[code]

[2018-04-19 16:51] mhdawson commented on #215
Looks to me like ACME air is not running correctly on canary.

@uttampawar can you take a look at what they problem might be?

[2018-04-19 16:51] mhdawson commented on #215
hmm, I see it is for all versions :(

[2018-04-19 18:27] mhdawson commented on #215
Have not idea what might have chnaged but adding an entry to localhosts for the name seems to have let it run ok locally.

Next step to check if it is now ok in the CI.

[2018-04-19 21:31] mhdawson commented on #215
Looks ok now, will close after we see update graphs where it looks ok.  canary is failing but I believe that is because currently canary does not build.

[2018-04-23 13:10] mhdawson commented on #215
Hmm, jobs look ok but charts still show 0s but it kind of looks like there have not been any recent updates.

[2018-04-23 14:30] mhdawson opened #217 "Add 10.x to charts, drop 4.x from charts"
Need to

* Create new nightly job to run on 10.x stream

* Update benchmarking infra to add/display 10.x

[2018-04-23 16:16] mhdawson commented on #215
Ok the issue with the charts not updating was a caching issue in my browser, cleared cache and they look goo to me.

[2018-04-23 16:16] mhdawson commented on #215
Closing as resolved.

[2018-04-23 16:16] #215 closed

[2018-04-23 18:03] mhdawson commented on #216
Meeting is up, @uttampawar @bmeurer you going to be able to make it today?

[2018-04-23 18:43] mhdawson commented on #216
Minutes for meeting:https://github.com/mhdawson/benchmarking/blob/1508153660fbff764cbe51db26add1814cab53b4/meetings/2018-04-23/minutes.md

[2018-04-23 18:43] #216 closed

[2018-05-02 12:05] mhdawson opened #221 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-05-08"
## Time

**UTC Tue 08-May-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 08-May-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 08-May-2018 12:00 (12:00 PM) |
| US / Central  | Tue 08-May-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 08-May-2018 14:00 (02:00 PM) |
| London        | Tue 08-May-2018 19:00 (07:00 PM) |

[2018-05-07 13:11] mhdawson commented on #217
This is done.

[2018-05-07 13:11] #217 closed

[2018-05-07 16:37] mhdawson opened #222 "Brainstorm capturing/documenting areas people can contribute"
@detrohutt is volunteering to help document how people can get involved across the project and also to see if we can capture items from working groups and strategic initiatives.

I suggested we start with brainstorming with one or more WGs and this one is first on the list.

[2018-05-07 17:32] bmeurer commented on #222
Sounds good. I think the benchmark situation isn't too bad right now, so there aren't that many open issues. One good candidate would be a test suite/benchmark set for measuring/tracking startup performance across different scenarios and using different modules (i.e. also checking the impact of lazy loading). We talked about this with @BridgeAR and @hashseed last week.

[2018-05-08 17:55] uttampawar commented on #221
@mhdawson I'll be missing today's meeting due to last minute conflict.

[2018-05-08 18:05] mhdawson commented on #221
Turns out I was the only one who could make it this week.  We'll cancel and touch base at the next regular meeting.

[2018-05-08 18:05] #221 closed

[2018-05-16 12:05] mhdawson opened #223 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-05-21"
## Time

**UTC Mon 21-May-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 21-May-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 21-May-2018 12:00 (12:00 PM) |
| US / Central  | Mon 21-May-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 21-May-2018 14:00 (02:00 PM) |
| London        | Mon 21-May-2018 19:00 (07:00 PM) |

[2018-05-21 14:11] mhdawson commented on #223
I'm at a conference today so I won't be able to make it.

[2018-05-21 14:55] bmeurer commented on #223
Public holiday here and I'm out. As mentioned before, let's just meet at Node Collaborator Summit and chat.

[2018-05-21 17:44] detrohutt commented on #223
I can't make it today so #222 can be tabled for next meeting.

[2018-05-30 12:05] mhdawson opened #224 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-06-05"
## Time

**UTC Tue 05-Jun-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 05-Jun-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 05-Jun-2018 12:00 (12:00 PM) |
| US / Central  | Tue 05-Jun-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 05-Jun-2018 14:00 (02:00 PM) |
| London        | Tue 05-Jun-2018 19:00 (07:00 PM) |

[2018-06-05 13:00] mhdawson commented on #224
@bmeurer, @uttampawar, @nodejs/benchmarking reminder that meeting is today

[2018-06-05 16:57] uttampawar commented on #224
@mhdawson I'll be there. Thanks for the reminder.

[2018-06-05 18:05] mhdawson commented on #224
@uttampawar you still going to be able to join?

[2018-06-05 18:56] gareth-ellis opened #225 "Investigate the time taken, and number of benchmarks in core"
This is the starting place to begin running core benchmarks on a regular basis.

First steps: Put together a benchmark run that summarises time to run each suite as well as record number of results out of the run.

Then, at a future meeting: Look at results, decide on a subset to run on a regular basis that can fit into the time available and can be summarised appropriately.

[2018-06-05 19:23] mhdawson commented on #224
https://github.com/nodejs/benchmarking/pull/226

[2018-06-05 19:23] #224 closed

[2018-06-13 12:05] mhdawson opened #227 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-06-18"
## Time

**UTC Mon 18-Jun-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 18-Jun-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 18-Jun-2018 12:00 (12:00 PM) |
| US / Central  | Mon 18-Jun-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 18-Jun-2018 14:00 (02:00 PM) |
| London        | Mon 18-Jun-2018 19:00 (07:00 PM) |

[2018-06-13 22:08] addaleax commented on #203
I think this was fixed by https://github.com/nodejs/node/commit/3217e8e66fa81e787b9f3b18c0c09235f050acee

[2018-06-14 22:45] mhdawson commented on #203
Charts don't seem to show it yet, but looking at the output from the 10.x run it did look better:

[2018-06-18 17:55] mhdawson commented on #203
Latest chart also shows that its back to expected values :) Closing.

[2018-06-18 17:55] #203 closed

[2018-06-18 17:56] mhdawson commented on #222
Closing out as we talked about this last meeting.

[2018-06-18 17:56] #222 closed

[2018-06-18 18:03] mhdawson commented on #227
@nodejs/benchmarking, @uttampawar  meeting is live

[2018-06-18 18:04] mhdawson commented on #227
So far its just me, will wait a bit longer to see if anybody else can make it.

[2018-06-18 18:10] mhdawson commented on #227
ok, 10 after, going to cancel for this week.

[2018-06-18 18:10] #227 closed

[2018-06-23 07:57] gareth-ellis commented on #225
@mhdawson i'm writing a script to go through and collect the runtime for each core benchmark - could you create me a temporary job in jenkins I can modify and use to run this?

[2018-06-25 21:14] mhdawson commented on #225
Here you go https://ci.nodejs.org/job/benchmark-node-micro-benchmarks-gareth/

[2018-06-27 12:05] mhdawson opened #228 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-07-03"
## Time

**UTC Tue 03-Jul-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 03-Jul-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 03-Jul-2018 12:00 (12:00 PM) |
| US / Central  | Tue 03-Jul-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 03-Jul-2018 14:00 (02:00 PM) |
| London        | Tue 03-Jul-2018 19:00 (07:00 PM) |

[2018-06-27 17:52] mhdawson commented on #228
I'm not going to be able to make this due to the Canada day long weekend.  I'm going to cancel and plan for us to get together the next time unless I hear objection by the end of this week.

[2018-07-11 12:05] mhdawson opened #229 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-07-16"
## Time

**UTC Mon 16-Jul-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 16-Jul-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 16-Jul-2018 12:00 (12:00 PM) |
| US / Central  | Mon 16-Jul-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 16-Jul-2018 14:00 (02:00 PM) |
| London        | Mon 16-Jul-2018 19:00 (07:00 PM) |

[2018-07-12 19:38] mhdawson opened #230 "Membership review"
It may be time to review our membership list.  There are quite a few people that I don't think have been active for quite a while.

What I'd suggest is:

1) Post an issue with an @ notice to all members asking they confirm they still plan to be active in the WG.
2) Remind after 2 weeks
3) After 4 weeks move all of those who have not responded to 'emeritus'
4) Allow a grace period of 4 more weeks w

[2018-07-12 19:40] #228 closed

[2018-07-12 19:40] mhdawson commented on #229
@nodejs/benchmarking can people add their thumbs up/down in terms of being able to attend?

[2018-07-16 14:39] mhdawson commented on #229
@uttampawar you able make it this week?

@nodejs/build please add your availability with  thumbs up/down

[2018-07-16 18:03] mhdawson commented on #229
Sorry pinging the wrong WG again

@nodejs/benchmarking reminder that meeting is starting now.

[2018-07-16 18:15] gareth-ellis commented on #230
Sounds a good idea

[2018-07-23 15:06] mhdawson commented on #229
Turned out it was me and Gareth.  Need to get the minutes done.

[2018-07-25 12:05] mhdawson opened #232 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-07-31"
## Time

**UTC Tue 31-Jul-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 31-Jul-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 31-Jul-2018 12:00 (12:00 PM) |
| US / Central  | Tue 31-Jul-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 31-Jul-2018 14:00 (02:00 PM) |
| London        | Tue 31-Jul-2018 19:00 (07:00 PM) |

[2018-07-30 14:17] mhdawson commented on #232
@nodejs/benchmarking, @uttampawar a reminder that this is tomorrow.

[2018-07-31 18:03] mhdawson commented on #232
Just waiting for participants to join and will start stream soon.

[2018-07-31 18:03] mhdawson commented on #232
@uttampawar you on your way?

[2018-07-31 18:10] uttampawar commented on #232
@mhdawson I'm trying to join. You guys start.

[2018-07-31 18:15] uttampawar commented on #230
Yes. I'll be active for sure.

[2018-07-31 18:19] mhdawson commented on #202
Just created https://github.com/nodejs/build/issues/1422 to give @uttampawar access.

[2018-07-31 18:30] mhdawson commented on #132
Given that there has not been discussion for a year, we should probably close.  Please re-open if you think we need to start discussion again.

[2018-07-31 18:30] #132 closed

[2018-07-31 18:43] jdalton commented on #230
👍

[2018-08-01 16:35] uttampawar opened #233 "Promoting nodejsbenchmarking/performance page"
During latest node summit, I talked many people and realized that no one knows about the nodejsbenchmarking webpage and the performance of node.js runtime from release to release. With current reorg of main nodejs.org site, my suggestion is to integrate nodejsbenchmarking results (URL) on the main page which would make it more visible and known.

[2018-08-02 20:28] mhdawson commented on #232
PR for minutes: https://github.com/nodejs/benchmarking/pull/234

[2018-08-02 20:28] #232 closed

[2018-08-02 22:01] mhdawson opened #235 "Membership review - still active?"
Membership review as agreed in: https://github.com/nodejs/benchmarking/issues/230

Michael Dawson (@mhdawson) -> active
Trevor Norris (@trevnorris) -> Emeritus
Ali Sheikh (@ofrobots) -> Emeritus
Yosuke Furukawa (@yosuke-furukawa) -> Emeritus
Yunong Xiao (@yunong) -> Emeritus
Mark Leitch (@m-leitch) -> Emeritus
Surya V Duggirala (@suryadu) -> Emeritus
Uttam Pawar (@uttampawar) -> active
Michael Pau

[2018-08-02 22:01] mhdawson commented on #235
I plan to continue to be active

[2018-08-02 22:02] mhdawson commented on #230
Opened issue to review membership #235, closing

[2018-08-02 22:02] #230 closed

[2018-08-02 22:15] gareth-ellis commented on #235
I plan to remain active

[2018-08-03 03:38] kunalspathak commented on #235
+1

[2018-08-06 17:48] uttampawar commented on #235
+1

[2018-08-08 12:05] mhdawson opened #236 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-08-13"
## Time

**UTC Mon 13-Aug-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 13-Aug-2018 11:00 (11:00 AM) |
| US / Mountain | Mon 13-Aug-2018 12:00 (12:00 PM) |
| US / Central  | Mon 13-Aug-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 13-Aug-2018 14:00 (02:00 PM) |
| London        | Mon 13-Aug-2018 19:00 (07:00 PM) |

[2018-08-13 17:40] uttampawar commented on #236
+1

[2018-08-13 17:54] gareth-ellis commented on #236
I'm not going to be able to make it tonight, I'm afraid

[2018-08-13 18:09] BridgeAR commented on #236
I would like to join. Especially about #225. It says the host did not yet start the meeting?

[2018-08-13 18:12] uttampawar commented on #236
@BridgeAR I'm waiting as well. Looks like @mhdawson needs to join since he is the host.

[2018-08-22 12:05] mhdawson opened #237 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-08-28"
## Time

**UTC Tue 28-Aug-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 28-Aug-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 28-Aug-2018 12:00 (12:00 PM) |
| US / Central  | Tue 28-Aug-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 28-Aug-2018 14:00 (02:00 PM) |
| London        | Tue 28-Aug-2018 19:00 (07:00 PM) |

[2018-08-22 18:55] mhdawson commented on #236
Sorry I was away on vacation and the meeting was generated after I left.

@gareth-ellis, @BridgeAR @uttampawar looks like the next regularly scheduled meeting is Aug 28th which is next week so I'll suggest we'll wait until then.

[2018-08-28 18:04] mhdawson commented on #237
@uttampawar are you going to be able to make it ?

[2018-08-28 19:11] mhdawson commented on #237
PR for minutes https://github.com/nodejs/benchmarking/pull/238

[2018-08-28 19:11] #237 closed

[2018-08-28 19:12] mhdawson commented on #236
closing since next meeting happened.

[2018-08-28 19:12] #236 closed

[2018-08-28 19:13] mhdawson commented on #235
Ali Sheikh (@ofrobots)
Yosuke Furukawa (@yosuke-furukawa)
Yunong Xiao (@yunong)
Mark Leitch (@m-leitch)
Surya V Duggirala (@suryadu)
Michael Paulson (@michaelbpaulson)
Wayne Andrews (@CurryKitten)
Kyle Farnung (@kfarnung)
Benedikt Meurer (@bmeurer)
Sathvik Laxminarayan (@sathvikl)

This is the second reminder, after 2 weeks we'll remove you from the WG if you don't respond.  There is still a furth

[2018-08-28 19:14] mhdawson commented on #235
Trevor Norris (@trevnorris) missed you on last post so doing that here.

[2018-08-28 19:17] mhdawson commented on #229
PR for minutes: https://github.com/nodejs/benchmarking/pull/231

[2018-08-28 19:17] #229 closed

[2018-08-28 21:28] michaelbpaulson commented on #235
I am in. I have come back from an extended vacation and now moving full time in perf related items. I am sure I'll have time to get back up to speed

[2018-08-28 21:33] mhdawson commented on #235
@michaelbpaulson looking forward to seeing you at the next meeting.

[2018-08-30 00:56] davisjam opened #239 "Item for the agenda: Node-land threadpool"
Hi @mhdawson and others.

I would like to suggest an agenda item for the next benchmarking WG meeting.
Yesterday's agenda looked pretty sparse so maybe you have space on the next agenda for this?

I would like to discuss the potential implications of [libuv #1726](https://github.com/libuv/libuv/pull/1726), which enables a libuv embedder to define their own threadpool implementation instead of rely

[2018-09-12 12:05] mhdawson opened #240 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-09-18"
## Time

**UTC Tue 18-Sep-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 18-Sep-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 18-Sep-2018 12:00 (12:00 PM) |
| US / Central  | Tue 18-Sep-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 18-Sep-2018 14:00 (02:00 PM) |
| London        | Tue 18-Sep-2018 19:00 (07:00 PM) |

[2018-09-18 18:02] mhdawson commented on #239
@davisjam were you going to be able to make it to the meeting to discuss this week?

[2018-09-19 06:41] uttampawar commented on #240
@davisjam Yes. One in particular is 'lets-chat' application. Other workloads worked without any major issue.

[2018-09-20 00:27] davisjam commented on #240
@uttampawar Are your changes to the `lets-chat` application or driver available?

[2018-09-20 15:14] mhdawson commented on #240
PR for minutes: https://github.com/nodejs/benchmarking/pull/241

[2018-09-20 15:14] #240 closed

[2018-09-28 17:44] davisjam commented on #239
Good conversation, captured in the notes. I'll open additional issues as I find things.

[2018-09-28 17:44] #239 closed

[2018-10-01 20:39] davisjam commented on #6
`docs/case_coverage.md` is sadly empty.

I am interested in helping to populate it.

I'd like use this comment to track recommended benchmarks for the various use cases.
If you have a suggestion, please reply on this issue and I'll update this comment.
The current use cases below are taken from #243.

# Use Cases

## Node.js a component in a web stack

Use case

[2018-10-02 19:35] mhdawson commented on #6
https://github.com/nodejs/benchmarking/blob/master/docs/case_coverage.md is not completely empty, but it would be happier if there were less blank spaces (which I'm guessing is what you meant).

[2018-10-02 21:39] davisjam commented on #6
Yes, I realize that was not clear. I've edited my post to read "somewhat sparse".

[2018-10-03 12:05] mhdawson opened #244 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-10-09"
## Time

**UTC Tue 09-Oct-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 09-Oct-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 09-Oct-2018 12:00 (12:00 PM) |
| US / Central  | Tue 09-Oct-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 09-Oct-2018 14:00 (02:00 PM) |
| London        | Tue 09-Oct-2018 19:00 (07:00 PM) |

[2018-10-03 12:15] davisjam commented on #244
Wish I could attend, but I'll be traveling to Node+JS Interactive.

Suggested additional items:
- Adding Node-DC-EIS micro-services workload to the benchmarks: input from @uttampawar on [Node-DC-EIS #78](https://github.com/Node-DC/Node-DC-EIS/issues/78)
- Adding npm workload to the benchmarks for the (new) *Developer tooling: Node.js* use case.
  - What should the workload be? `npm install` a laun

[2018-10-03 12:58] jorangreef commented on #6
From https://github.com/nodejs/benchmarking/pull/243:

Firstly, thanks @davisjam and everyone here for your efforts expanding the Node.js benchmarking use cases.

Ronomon is an email startup in private beta. It falls into the "systems software" use case. Our new storage stack is being written in Node.js to drive 16x 10TB disks per server.

Things that are important for this use case:

* The system

[2018-10-03 14:12] mhdawson commented on #235
PR landed, review complete

[2018-10-03 14:12] #235 closed

[2018-10-03 14:15] mhdawson commented on #244
I'm also going to be at Node+JS Interactive so I'm going to suggest we move out 1 week. Unfortunately, I'm busy at the 2EDT time slot but I could do 5EDT.  @nodejs/benchmarking would that time work for people?

[2018-10-03 14:16] mhdawson commented on #244
@davisjam all of those suggestions look like good additions to the agenda.

[2018-10-04 18:59] mhdawson commented on #244
Going to move before I forget,  For those who have not responded yet, if it does not work for you please comment here and we'll try to find a different time.

[2018-10-06 16:17] davisjam commented on #206
I am working on this as part of #6 / #243, for the use case "Developer tooling: Node.js".

I am currently planning to run a series of `npm install`'s using [local-npm](https://github.com/local-npm/local-npm) as a proxy.
I am open to incorporating other tools e.g. esm.
I welcome input.

[2018-10-10 12:05] mhdawson opened #245 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-10-16"
## Time

**UTC Tue 16-Oct-2018 21:00 (09:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 16-Oct-2018 14:00 (02:00 PM) |
| US / Mountain | Tue 16-Oct-2018 15:00 (03:00 PM) |
| US / Central  | Tue 16-Oct-2018 16:00 (04:00 PM) |
| US / Eastern  | Tue 16-Oct-2018 17:00 (05:00 PM) |
| London        | Tue 16-Oct-2018 22:00 (10:00 PM) |

[2018-10-13 19:26] davisjam opened #246 "Hardware information"
It would be helpful to include information about the hardware on which the benchmarks are being evaluated.

There is a link [here](https://github.com/nodejs/benchmarking/tree/master/benchmarks#current-nodejs-benchmarking-infrastructure) to https://ci.nodejs.org/computer/iojs-softlayer-benchmark/ but that link is dead.

[2018-10-13 19:30] davisjam commented on #246
I see relevant minutes in [2017-08-01/minutes.md](https://github.com/nodejs/benchmarking/blob/master/meetings/2017-08-01/minutes.md), and I guess the issue referenced there is #126.

Is #126 still accurate? If so, I suggest we put that information somewhere reasonably prominently in the benchmarking documentation.

[2018-10-13 22:38] mhdawson commented on #246
https://ci.nodejs.org/computer/test-nearform_intel-ubuntu1604-x64-1/ has some info.

[2018-10-15 14:32] davisjam commented on #245
My slides and notes from our meeting at the Vancouver collab summit are [here](http://people.cs.vt.edu/~davisjam/downloads/misc/Davis-NodeJSInteractive-BenchmarkingAndPerformanceBreakout.pptx). The notes are in the "presenter's notes" section of the deck.

[2018-10-15 16:32] uttampawar commented on #245
+1

[2018-10-15 17:12] #244 closed

[2018-10-16 19:40] mhdawson commented on #155
@davisjam done

[2018-10-16 21:01] davisjam commented on #245
@jonathan-alexander

[2018-10-16 21:40] davisjam commented on #6
The TechEmpower benchmark source for Node.js is [here](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/JavaScript).

[2018-10-16 21:53] mhdawson commented on #245
PR for minutes: https://github.com/nodejs/benchmarking/pull/247

[2018-10-16 21:53] #245 closed

[2018-10-23 15:46] davisjam opened #249 "Meeting info in README"
I like the idea in [nodejs/diagnostics #244](https://github.com/nodejs/diagnostics/pull/244)

[2018-10-23 17:43] mhdawson commented on #249
+1, just need a PR to add :)

[2018-10-24 12:05] mhdawson opened #250 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-10-30"
## Time

**UTC Tue 30-Oct-2018 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 30-Oct-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 30-Oct-2018 12:00 (12:00 PM) |
| US / Central  | Tue 30-Oct-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 30-Oct-2018 14:00 (02:00 PM) |
| London        | Tue 30-Oct-2018 18:00 (06:00 PM) |

[2018-10-29 16:53] uttampawar commented on #250
+1

[2018-10-29 18:03] uttampawar commented on #250
@mhdawson Trying to connect but zoom app is stuck with a message saying 'The host has another meeting in progress'.

[2018-10-29 18:07] uttampawar commented on #250
@mhdawson Nevermind, wrong date. I'd the meeting on my calendar for today 29th Oct. I'll see you tomorrow.

[2018-10-30 00:12] uttampawar commented on #202
@mhdawson I was able to track this down and determined that this is not a regression. I don't think it's really a drop merely a reporting error. In fact for this test, we should report reduced "ops/sec" as a improvement.

There are two numbers reported while running require_perf.js benchmark as shown below,

Using master node branch.
$ node benchmarking/experimental/benchmarks/node-api/require/req

[2018-10-30 14:20] mhdawson commented on #202
The chart label says ops/s so I think that is what we believed was being reported. For 6.x (and the previous versions before the change in the charts), the number was higher for require.cached which is what we expected.

Looking at the runner however, I see:

[code]

Which does seem to indicate it is reporting the average time per run as opposed to ops/s

[2018-10-30 14:23] mhdawson commented on #202
But then the number fo 6.x is hard to understand in that it would say that it takes longer to load a cached module than a non-cached one.

[2018-10-30 14:30] mhdawson commented on #202
Looking at the code changed by nodejs/node@28f0693 unless adding to the children speeds up lookup, that change looks like it would only slow down require as opposed to speed it out.

@uttampawar can you review the benchmark code to confirm what you believe it is measuring (as I'm not sure based on my quick look at the code and the change) and if we expect a speedup/slowdown from the change you ref

[2018-10-30 14:32] mhdawson commented on #202
Also looking at this in the test runner code

[code]

That seems to indicate it might be reporting hz (ops per second?) as we originally thought.

[2018-10-30 16:21] uttampawar commented on #202
@mhdawson I'll take a look.

[2018-10-30 18:00] mhdawson commented on #250
meeting started.

[2018-11-01 10:10] mcollina commented on #181
I would recommend to check out the latest Node 8, Node 10 and Node 11, as the runtimes that are used in the blog post are quite old, or not supported anymore (Node 9). There should have been some improvement in the area.

Overall `async_hooks`  are *very* costly, especially with promises.

[2018-11-01 12:34] holyjak commented on #181
Thanks. I did try the latest Node 11 (the last graph in the blog post) with
no difference.

On Thu, Nov 1, 2018, 11:10 AM Matteo Collina <notifications@github.com>
wrote:

[2018-11-14 13:05] mhdawson opened #253 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-11-20"
## Time

**UTC Tue 20-Nov-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 20-Nov-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 20-Nov-2018 12:00 (12:00 PM) |
| US / Central  | Tue 20-Nov-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 20-Nov-2018 14:00 (02:00 PM) |
| London        | Tue 20-Nov-2018 19:00 (07:00 PM) |

[2018-11-19 22:43] uttampawar commented on #202
@mhdawson Yes it looks that way, that change of updatingChildren when cached module is found is only going to slow down require. But simple test as shown below shows dramatic difference ...
$ cat top.js
for (var i=0; i < 1e+6; i++) {
  require('./a.js');
  module.constructor._cache[__dirname + '/a.js'] = undefined;
}

$ time node top.js
real	0m22.934s
user	0m24.464s
sys	0m5.344s

$ cat top.js (wit

[2018-11-20 03:45] uttampawar commented on #253
+1

[2018-11-20 06:10] #162 closed

[2018-11-20 19:03] mhdawson commented on #250
PR for minutes https://github.com/nodejs/benchmarking/pull/252

[2018-11-20 19:03] #250 closed

[2018-11-20 19:04] #249 closed

[2018-11-20 19:33] mhdawson commented on #253
PR for minutes: https://github.com/nodejs/benchmarking/pull/254

[2018-11-20 19:33] #253 closed

[2018-12-05 20:07] uttampawar commented on #202
@mhdawson Here is the update. I debugged the code and it's definitely working as expected (as shown in previous example).
I seperated the require.new and require.cached into two separate program codes and I get expected speedup. See details below,

$ node experimental/benchmarks/node-api/require/require.new perf.js 2
require.new,54551.57659729372

$ node experimental/benchmarks/node-api/require/re

[2018-12-12 13:05] mhdawson opened #255 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-12-18"
## Time

**UTC Tue 18-Dec-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 18-Dec-2018 11:00 (11:00 AM) |
| US / Mountain | Tue 18-Dec-2018 12:00 (12:00 PM) |
| US / Central  | Tue 18-Dec-2018 13:00 (01:00 PM) |
| US / Eastern  | Tue 18-Dec-2018 14:00 (02:00 PM) |
| London        | Tue 18-Dec-2018 19:00 (07:00 PM) |

[2018-12-15 01:11] uttampawar commented on #255
+1

[2018-12-18 19:41] mhdawson commented on #255
PR for minutes: https://github.com/nodejs/benchmarking/pull/256

[2018-12-18 19:41] #255 closed

[2019-01-16 13:05] mhdawson opened #258 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-01-22"
## Time

**UTC Tue 22-Jan-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 22-Jan-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 22-Jan-2019 12:00 (12:00 PM) |
| US / Central  | Tue 22-Jan-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 22-Jan-2019 14:00 (02:00 PM) |
| London        | Tue 22-Jan-2019 19:00 (07:00 PM) |

[2019-01-17 18:43] uttampawar commented on #258
+1

[2019-01-17 19:11] uttampawar commented on #258
@mhdawson Are we meeting today?

[2019-01-17 21:13] mhdawson commented on #258
Its for the 22nd :)

[2019-01-22 19:09] #202 closed

[2019-02-06 13:05] mhdawson opened #260 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-02-12"
## Time

**UTC Tue 12-Feb-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 12-Feb-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 12-Feb-2019 12:00 (12:00 PM) |
| US / Central  | Tue 12-Feb-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 12-Feb-2019 14:00 (02:00 PM) |
| London        | Tue 12-Feb-2019 19:00 (07:00 PM) |

[2019-02-06 14:32] davisjam commented on #260
@Jonathan-Alexander re: [Node-DC-EIS #78](https://github.com/Node-DC/Node-DC-EIS/issues/78)?

[2019-02-06 21:14] mhdawson commented on #260
I'm not going to be able to make this meeting as I'm going to be traveling.  @uttampawar can you chair?  If not I'd suggest we move it to the 19th.

[2019-02-07 16:45] mhdawson commented on #260
@uttampawar ping.

[2019-02-11 14:41] mhdawson commented on #258
PR for minutes: https://github.com/nodejs/benchmarking/pull/259

[2019-02-11 14:41] #258 closed

[2019-02-21 22:35] uttampawar commented on #260
@mhdawson I missed this meeting due to missing calendar entry.

[2019-02-22 15:47] mhdawson commented on #260
Going to close, we'll catch up at the next meeting.

[2019-02-22 15:47] #260 closed

[2019-02-27 13:05] mhdawson opened #261 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-03-05"
## Time

**UTC Tue 05-Mar-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 05-Mar-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 05-Mar-2019 12:00 (12:00 PM) |
| US / Central  | Tue 05-Mar-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 05-Mar-2019 14:00 (02:00 PM) |
| London        | Tue 05-Mar-2019 19:00 (07:00 PM) |

[2019-02-28 22:53] uttampawar commented on #261
+1

[2019-03-05 14:21] mhdawson commented on #261
@uttampawar talk to you then.

[2019-03-05 19:13] mhdawson commented on #159
Discussed in the team meeting this week.  Uttam has commented he does not think it is the best one to pursue and it does not run with master branch or canary.  For that reason closing for now.

[2019-03-05 19:13] #159 closed

[2019-03-20 12:05] mhdawson opened #263 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-03-26"
## Time

**UTC Tue 26-Mar-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 26-Mar-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 26-Mar-2019 12:00 (12:00 PM) |
| US / Central  | Tue 26-Mar-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 26-Mar-2019 14:00 (02:00 PM) |
| London        | Tue 26-Mar-2019 18:00 (06:00 PM) |

[2019-03-25 03:20] mhdawson commented on #263
I'm on holiday this week, how about we move to next week?

[2019-03-25 17:30] uttampawar commented on #263
Works for me.

[2019-04-01 20:36] mhdawson opened #264 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-04-02"
## Time

**UTC Tue 02-Apr-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 02-Apr-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 02-Apr-2019 12:00 (12:00 PM) |
| US / Central  | Tue 02-Apr-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 02-Apr-2019 14:00 (02:00 PM) |
| London        | Tue 02-Apr-2019 19:00 (07:00 PM) |

[2019-04-01 20:37] mhdawson commented on #264
We should also talk about adding 12.x to the benchmark charts

[2019-04-01 20:38] mhdawson commented on #261
Past meeting so closing.

[2019-04-01 20:38] #261 closed

[2019-04-01 20:39] mhdawson commented on #264
@uttampawar as a reminder of the meeting tomorrow.

[2019-04-02 17:18] uttampawar commented on #264
@mhdawson I'll join the meeting at 11:30 due to conflict.

[2019-04-02 18:07] mhdawson commented on #264
Waiting for people to join and depending on who does will likely start the meeting late.

[2019-04-02 18:41] mhdawson commented on #264
We waited a bit but in the end decided to cancel.

[2019-04-02 19:00] uttampawar commented on #264
Hi All,
I couldn't leave from my earlier meeting. My apologies for missing this one.

[2019-04-02 19:01] #264 closed

[2019-04-09 17:30] mhdawson opened #265 "Update charts on benchmarking.nodejs.org for 12.x"
We probably need to update benchmarking.nodejs.org for 12.x

@uttampawar would you like to do it this time around?  We can get together to cover the required steps and I'm pretty sure you already have the access required.

[2019-04-10 12:05] mhdawson opened #266 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-04-16"
## Time

**UTC Tue 16-Apr-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 16-Apr-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 16-Apr-2019 12:00 (12:00 PM) |
| US / Central  | Tue 16-Apr-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 16-Apr-2019 14:00 (02:00 PM) |
| London        | Tue 16-Apr-2019 19:00 (07:00 PM) |

[2019-04-15 20:55] mhdawson commented on #266
@uttampawar confirming you can make it?

[2019-04-16 16:11] uttampawar commented on #266
+1

[2019-04-16 18:42] mhdawson commented on #225
Closing as we have not made progress.  @gabrielschulhof  is going to write a proposal for an alternate approach.

[2019-04-16 19:11] mhdawson commented on #266
PR for minutes: https://github.com/nodejs/benchmarking/pull/267

[2019-04-16 19:11] #266 closed

[2019-04-16 20:15] uttampawar opened #268 "Adding core internal benchmarks proposal to run monthly"
My suggestion is to add all core benchmarks to the build setup but run them once a month. Since running all the benchmarks takes multiple days, it would be crazy to run them nightly. With monthly setup we can have complete performance data and overtime we can get a trend line. There is still a problem of presenting this data accurately without overwhelming the users and gain understanding of the p

[2019-04-16 22:58] uttampawar commented on #265
@mhdawson I've already pushed update to StreamIDs.md file. Do you know other steps we need to take for v12.x? Once this change is done, the remaining step will be to remote v6.x entry.

[2019-04-18 20:43] mhdawson commented on #265
I think this past PR shows what needs to be done. IIt swapped in 10.x for 4.x.
 We need something similar to swap in 12.x for 6.x: https://github.com/nodejs/benchmarking/commit/cdf98c835d15337481e5bb668fd57815a26c22fd

[2019-04-18 20:44] mhdawson commented on #265
@uttampawar ^^

[2019-04-23 15:14] mhdawson commented on #265
@uttampawar ping?

[2019-04-23 16:24] uttampawar commented on #265
@mhdawson Thanks for the reminder. I'll fix it as soon as possible.

[2019-04-23 16:32] uttampawar commented on #265
@mhdawson I'll push the changes today.

[2019-04-23 19:09] mhdawson commented on #265
Kicked off chart generation after landing @uttampawar's PR. We should see within the next couple of hours or so if the changes look good when they show up on benchmarking.nodejs.org

[2019-04-25 16:05] uttampawar commented on #265
@mhdawson Changes look correct for require.perf.js microbenchmark and a new graph line for v12.x instead of v6.x.

[2019-04-25 19:21] mhdawson commented on #265
Looks good, closing

[2019-04-25 19:21] #265 closed

[2019-05-01 12:05] mhdawson opened #271 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-05-07"
## Time

**UTC Tue 07-May-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 07-May-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 07-May-2019 12:00 (12:00 PM) |
| US / Central  | Tue 07-May-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 07-May-2019 14:00 (02:00 PM) |
| London        | Tue 07-May-2019 19:00 (07:00 PM) |

[2019-05-01 16:04] uttampawar commented on #271
👍

[2019-05-07 16:53] keywordnew opened #272 "Collab Summit Berlin 2019 is less than a month away, let's register ✍️"
This Collab Summit will be held before JSConfEU at the [Marriott Courtyard Berlin City Centre](https://www.marriott.com/hotels/travel/bermt-courtyard-berlin-city-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2
).

The registration link is: https://www.eventbrite.com/e/openjs-collaborator-summit-tickets-55985971548 and the password is: collabsummit.

To get your visa for this event: Email visainf

[2019-05-07 18:05] uttampawar commented on #271
@mhdawson Are you planning to attend?

[2019-05-07 18:18] uttampawar commented on #271
Disconnecting at this time. We will reschedule in 3 weeks.

[2019-05-09 03:44] dnutels commented on #181
Tried it on Node 12.2 on Windows 10 U. Still costly.

[code]

[2019-05-09 13:39] mhdawson commented on #271
@uttampawar sorry was on holiday. Hopefully we'll get you set up so you can host the next time I'm not around.

[2019-05-09 13:39] #271 closed

[2019-05-22 12:05] mhdawson opened #273 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-05-28"
## Time

**UTC Tue 28-May-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 28-May-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 28-May-2019 12:00 (12:00 PM) |
| US / Central  | Tue 28-May-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 28-May-2019 14:00 (02:00 PM) |
| London        | Tue 28-May-2019 19:00 (07:00 PM) |

[2019-05-28 17:37] uttampawar commented on #273
+1

[2019-05-28 18:07] mhdawson commented on #273
Sorry I'm late just starting meeting now if @uttampawar has not already.

[2019-05-28 18:10] octaviansoldea commented on #273
+1

[2019-05-28 19:48] uttampawar opened #278 "Fix iojs-softlayer links"
Some of the links on https://github.com/nodejs/benchmarking/blob/master/benchmarks/README.md page are broken after last update.
Example: https://ci.nodejs.org/computer/iojs-softlayer-benchmark/

[2019-06-12 12:05] mhdawson opened #279 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-06-18"
## Time

**UTC Tue 18-Jun-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 18-Jun-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 18-Jun-2019 12:00 (12:00 PM) |
| US / Central  | Tue 18-Jun-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 18-Jun-2019 14:00 (02:00 PM) |
| London        | Tue 18-Jun-2019 19:00 (07:00 PM) |

[2019-06-17 22:21] mhdawson commented on #279
@gabrielschulhof , @uttampawar are you going to make this one?

[2019-06-17 22:22] mhdawson commented on #272
Summit is over closing.

[2019-06-17 22:22] #272 closed

[2019-06-17 23:32] gabrielschulhof commented on #279
Hey, Michael!

Uttam is out of office. Octavian and I should be able to join, although I
don't have much to report, unfortunately.

HTH,

Gabriel

On Mon, Jun 17, 2019 at 3:21 PM Michael Dawson <notifications@github.com>
wrote:

[2019-06-18 17:05] octaviansoldea commented on #279
Hi Michael

Is there a meeting today? Did anybody initiate the zoom room?

Best regards,
Octavian

[2019-06-18 18:01] mhdawson commented on #279
@octaviansoldea I think the time is now, looks like you were an hour early.  Zoom is started now.

[2019-06-18 18:06] mhdawson commented on #279
Looks like we don't have any attendees after all ( I confirmed that Gabriel won't be able to make it and waited for a while to see if anybody else could make it).  Seems like there was some confusion due to timezones as well.  Not much on the agenda anyway so we can catch up next time.

[2019-06-18 18:06] #279 closed

[2019-06-20 14:57] mhdawson commented on #278
New machine name is infra-softlayer-ubuntu1404-x64-2

[2019-07-03 12:05] mhdawson opened #280 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-07-09"
## Time

**UTC Tue 09-Jul-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 09-Jul-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 09-Jul-2019 12:00 (12:00 PM) |
| US / Central  | Tue 09-Jul-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 09-Jul-2019 14:00 (02:00 PM) |
| London        | Tue 09-Jul-2019 19:00 (07:00 PM) |

[2019-07-08 15:40] mhdawson commented on #280
@nodejs/benchmarking @gabrielschulhof @uttampawar I'm booked for the 2nd half of the meeting any objection to moving to next week?

[2019-07-08 20:25] gabrielschulhof commented on #280
@nodejs/benchmarking I have my road test next Tuesday, so I won't be able to make it.

[2019-07-08 20:58] octaviansoldea commented on #280
@nodejs/benchmarking Unfortunately I am booked on July 16th in the morning.

[2019-07-09 15:26] mhdawson commented on #280
@gabrielschulhof, @octaviansoldea ok lets do it today, but I'll have to drop off after the first 1/2 if we are not already done.

[2019-07-09 19:46] octaviansoldea opened #281 "Monitoring Node-DC-EIS"
During about a month of following Node-DC-EIS benchmark behavior, I observed that many of the performance indicators do not change, many of them are zero, and in some cases they have suspect identical values for various Node.js versions. In this context, I am attaching here my opservations in the following xlsx file, in a hope it is self explanatory.
[NodeJSBenchMarking.xlsx](https://github.com/no

[2019-07-09 19:54] mhdawson commented on #281
@uttampawar can you take a look or have one of your team take a look?

[2019-07-24 12:05] mhdawson opened #284 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-07-30"
## Time

**UTC Tue 30-Jul-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 30-Jul-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 30-Jul-2019 12:00 (12:00 PM) |
| US / Central  | Tue 30-Jul-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 30-Jul-2019 14:00 (02:00 PM) |
| London        | Tue 30-Jul-2019 19:00 (07:00 PM) |

[2019-07-29 15:51] omeraha commented on #181
Can you shortly explain the reasons for the substantial performance impact?

[2019-07-30 12:48] mhdawson commented on #280
PR for minutes: https://github.com/nodejs/benchmarking/pull/282

[2019-07-30 12:48] #280 closed

[2019-07-30 12:50] mhdawson commented on #273
Minutes: https://github.com/nodejs/benchmarking/tree/master/meetings/2019-05-28

[2019-07-30 12:50] #273 closed

[2019-07-30 12:51] mhdawson commented on #284
@uttampawar assuming you will chair again this week.

[2019-07-30 18:09] mhdawson commented on #284
There were only 2 of us today so we had a quick chat and decide to cancel the meeting until next time.

[2019-07-30 18:09] #284 closed

[2019-07-30 18:12] octaviansoldea commented on #281
Hi @mhdawson and @uttampawar

Following several short discussions on this issue, I would like to update you that I am trying to analyse this in the available time. Meantime I am learning the structure of the code. I anticipate I will be a bit slow on this, however, I will do my best to analyze this issue.

Best regards,
  @octaviansoldea

[2019-08-14 12:05] mhdawson opened #285 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-08-20"
## Time

**UTC Tue 20-Aug-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 20-Aug-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 20-Aug-2019 12:00 (12:00 PM) |
| US / Central  | Tue 20-Aug-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 20-Aug-2019 14:00 (02:00 PM) |
| London        | Tue 20-Aug-2019 19:00 (07:00 PM) |

[2019-08-16 20:56] octaviansoldea commented on #281
Hi @mhdawson and @uttampawar

This is just a small update. Following a discussion with @uttampawar today we have observed that the node.js version 12 has an issue connecting to mongodb, see also the next excerpt form the log:
...
Starting a single instance of Node.js process with (pid: 13241)
********************************
Server running at port: 9000
********************************
connect ECO

[2019-08-20 01:55] mhdawson commented on #285
This conflicts with the CPC meeting this week so I can' make this time. @uttampawar I can do an hour later or you can go ahead without me (I think you are all set up to chair now).

[2019-08-20 19:06] octaviansoldea commented on #285
Hello

Is there any meeting today?

@octaviansoldea

[2019-08-20 20:45] mhdawson commented on #285
No meeting this time.

[2019-08-20 20:45] #285 closed

[2019-09-04 12:05] mhdawson opened #286 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-09-10"
## Time

**UTC Tue 10-Sep-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 10-Sep-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 10-Sep-2019 12:00 (12:00 PM) |
| US / Central  | Tue 10-Sep-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 10-Sep-2019 14:00 (02:00 PM) |
| London        | Tue 10-Sep-2019 19:00 (07:00 PM) |

[2019-09-09 22:33] mhdawson commented on #286
@uttampawar, @gabrielschulhof are you going to be able to make it?

@uttampawar hoping you will chair again this week.

[2019-09-10 16:40] uttampawar commented on #286
+1

[2019-09-10 16:47] gabrielschulhof commented on #286
+1

[2019-09-10 18:02] uttampawar commented on #286
@gabrielschulhof @mhdawson I've lost my host credentails to start this webinar. Does one of you have them?

[2019-09-10 18:04] mhdawson commented on #286
started

[2019-09-10 18:11] gabrielschulhof commented on #286
@mhdawson could you please promote me?

[2019-09-10 18:50] gabrielschulhof commented on #225
Spreadsheet tracking relative importance of benchmarks:

https://docs.google.com/spreadsheets/d/17ey-6r_sTVYpy6Zv0n55kqkVgqRf67aaf6Ub7eebGgo/edit#gid=0

[2019-09-23 14:22] alekbarszczewski commented on #181
Is it possible to reduce performance impact of async_hooks in the future (in future Node.js versions)? Or the performance will be always so bad because of the nature of async_hooks and how they work?

[2019-09-24 09:14] benjamingr commented on #181
@alekbarszczewski it is mostly blocked on people doing the product work and suggesting concrete improvements.

[2019-09-25 12:05] mhdawson opened #288 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-10-01"
## Time

**UTC Tue 01-Oct-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 01-Oct-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 01-Oct-2019 12:00 (12:00 PM) |
| US / Central  | Tue 01-Oct-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 01-Oct-2019 14:00 (02:00 PM) |
| London        | Tue 01-Oct-2019 19:00 (07:00 PM) |

[2019-09-30 20:52] mhdawson opened #291 "Benchmarking runs - not running on some versions?"
When I looked today the latest result looked to be 0 for many Node.js versions/runs.  Need to see if this is a persistent failure and what is going on.

@uttampawar also reminds me that the node-dceis ones have been broken for a while is that still something that somebody at intel is looking at?

[2019-09-30 21:04] octaviansoldea commented on #291
It seems this is related to https://github.com/nodejs/benchmarking/issues/281
I will try to look at this asap, however, I expect to be slow with this.

[2019-10-01 05:40] XhmikosR opened #292 "Look into optimizing the generated images"
It seems the generated png files are totally unoptimized. Not a big deal, but savings could be pretty big, even with just optipng -o7:

[code]

I think it'd be a good addition even if it's not `-o7` but something lower.

I'm not familiar with how things work, so I'll leave this for someone more familiar with the codebase to do it. I'd probably just use imagemin, configured just for lossless compre

[2019-10-01 12:11] XhmikosR commented on #292
I quickly did `optipng -o7 *.png` and it goes from 1.86 MB to 1.36 MB. And that's lossless.

[2019-10-01 17:46] uttampawar commented on #288
@mhdawson I won't be able to join today.

[2019-10-01 18:04] octaviansoldea commented on #288
Do we have the meeting today? I do not see the webinar started.

[2019-10-01 23:18] mhdawson commented on #288
Sorry, conflicted with the OpenJS CPC meeting and I missed this one.  @uttampawar, @octaviansoldea do you want to reschedule or skip until next time?

[2019-10-01 23:18] #288 closed

[2019-10-02 15:30] rochdev commented on #181
If anyone can provide pointers of where to start to try and fix this, and/or a tl;dr of why it's so slow, I can try to look into it.

[2019-10-02 18:17] octaviansoldea commented on #288
@mhdawson, I prefer to skip until next time.

[2019-10-02 22:20] gabrielschulhof opened #293 "Benchmark Popularity Survey"
Please have a look at https://docs.google.com/forms/d/1BlVwIYZPBBmR46Ru3okvddLiPj5Zy03XPE2kyW55VzQ/edit because it contains a list of the benchmarks we have. Please inform us as to how often you used each of them last year!

[2019-10-02 22:51] gabrielschulhof commented on #225
... and the survey: https://docs.google.com/forms/d/1BlVwIYZPBBmR46Ru3okvddLiPj5Zy03XPE2kyW55VzQ/edit

[2019-10-03 19:52] mhdawson commented on #181
@rochdev how much time will you have to invest?  It will be a relatively big ramp up.

[2019-10-03 19:54] mhdawson commented on #181
@rochdev my suggestion is to come to the next https://github.com/nodejs/diagnostics meeting. We are looking for a Champion to help with moving async hooks forward.

As per the calendar the next meeting is scheduled for Oct 9 (next wed) and an issue will be opened in the repo next Monday with the meeting links etc.

[2019-10-03 21:04] rochdev commented on #181
I definitely don't expect that it will be an easy task, but it's definitely an issue that is severely impacting APM vendors. I don't know if I'll be able to put a lot of time into it, at least short term, but I'd like to familiarize myself with the issue and how `async_hooks` currently works in general.

I'll try to join the next Diagnostics meeting. Thanks for the tip!

[2019-10-07 13:44] rochdev commented on #181
I won't be able to make it to this week WG meeting. I'll make sure I stay available for the next one.

[2019-10-15 14:33] mmarchini opened #295 "Benchmarking Heap/Memory Used"
Today our benchmarks are focused on execution time and ops/s. It would be interesting to have benchmarks for memory consumption as well, both on https://benchmarking.nodejs.org/ and on core benchmarks. Memory can be tricky to measure though: should we get the peak memory used by the process, the accumulated memory over the course of execution, or the memory at the end of the benchmark? I like the

[2019-10-16 12:05] mhdawson opened #296 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-10-22"
## Time

**UTC Tue 22-Oct-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 22-Oct-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 22-Oct-2019 12:00 (12:00 PM) |
| US / Central  | Tue 22-Oct-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 22-Oct-2019 14:00 (02:00 PM) |
| London        | Tue 22-Oct-2019 19:00 (07:00 PM) |

[2019-10-17 14:37] mhdawson commented on #295
There are memory consumption ones in the ACME air and Node-DCEIS. For example: https://benchmarking.nodejs.org/charts/acmeair_prefootprint.png and nchmarking.nodejs.org/charts/acmeair_postfootprint.png(although it does no look like there might be some problems with the latest results).

These two capture the memory before/after running ACME Air. and the scripts are here: https://github.com/nodejs/

[2019-10-21 07:03] XhmikosR opened #297 "styles.css not found"
So after #294 it seems the CSS file isn't found while it is in the repo https://github.com/nodejs/benchmarking/blob/master/www/styles.css

Does anybody know what else we might be missing?

/CC @mhdawson

[2019-10-21 21:53] mhdawson commented on #296
Going to push out a week so closing and a new issue should be generated next week.

[2019-10-21 21:53] #296 closed

[2019-10-22 11:48] XhmikosR commented on #297
Ping @nodejs/benchmarking-admins maybe?

[2019-10-23 12:05] mhdawson opened #298 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-10-28"
## Time

**UTC Mon 28-Oct-2019 18:00 (06:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 28-Oct-2019 11:00 (11:00 AM) |
| US / Mountain | Mon 28-Oct-2019 12:00 (12:00 PM) |
| US / Central  | Mon 28-Oct-2019 13:00 (01:00 PM) |
| US / Eastern  | Mon 28-Oct-2019 14:00 (02:00 PM) |
| London        | Mon 28-Oct-2019 18:00 (06:00 PM) |

[2019-10-24 07:04] XhmikosR commented on #297
Ping?

[2019-10-24 21:34] mhdawson commented on #297
I've hopefully fixed the cron job.

[2019-10-24 21:36] XhmikosR commented on #297
Are you sure it's cron issue? Maybe we need to make changes somewhere else
for the css file to be included?

On Fri, Oct 25, 2019, 00:34 Michael Dawson <notifications@github.com> wrote:

[2019-10-24 21:42] mhdawson commented on #297
I looked a the the cron on the www server and it was only transferring index.html, that would explain why the css file was not there. The cron job runs every 4 hours so we'll know in a few hours.

[2019-10-25 07:08] XhmikosR commented on #297
@mhdawson still happens :/

[2019-10-29 14:28] XhmikosR commented on #297
Perfect, LGTM now!

[2019-11-06 13:05] mhdawson opened #299 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-11-12"
## Time

**UTC Tue 12-Nov-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 12-Nov-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 12-Nov-2019 12:00 (12:00 PM) |
| US / Central  | Tue 12-Nov-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 12-Nov-2019 14:00 (02:00 PM) |
| London        | Tue 12-Nov-2019 19:00 (07:00 PM) |

[2019-11-12 18:23] uttampawar commented on #299
+1

[2019-11-19 15:56] mhdawson commented on #299
@uttampawar did the meeting happen?

[2019-11-20 00:57] rvagg opened #301 "select-compiler in benchmark script"
microbenchmark runs are now failing since the V8 upgrade, see https://github.com/nodejs/node/pull/30547#issuecomment-555635270, e.g. https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-node-micro-benchmarks/458/

It needs select-compiler.sh to be run after checking out nodejs/node (since it checks Node version) so it can't be done in Jenkins and needs to be done here.

This file: https://

[2019-11-21 21:45] mhdawson commented on #301
The benchmark job turns out to be a bit of a snowflake.  Took me a while to figure out why the right compiler was not being selected.

It does not use a configuration matrix. For x64 select compiler uses the $nodes value which ends up not being set if you don't have a configuration matrix.

Going to manually set  $nodes in the job for now.

We should probably refactor the job to make it more consi

[2019-11-21 22:43] #301 closed

[2019-11-21 22:46] mhdawson commented on #301
@rvagg I think I've fixed it.  The  PR's you'd tried to run it on before did not run but it looked like an issue applying the PR.  Doing a run against master on a current PR seemed ok.

[2019-11-27 13:05] mhdawson opened #303 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-12-03"
## Time

**UTC Tue 03-Dec-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 03-Dec-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 03-Dec-2019 12:00 (12:00 PM) |
| US / Central  | Tue 03-Dec-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 03-Dec-2019 14:00 (02:00 PM) |
| London        | Tue 03-Dec-2019 19:00 (07:00 PM) |

[2019-12-03 22:11] gabrielschulhof commented on #225
Here's a spreadsheet with the processed responses where the benchmarks are sorted in order of popularity:

https://docs.google.com/spreadsheets/d/1_7VrAFO8K9KdQW8qEmnKnVBb514SMRqYiitoDu_cMiM/edit#gid=979605

[2019-12-18 13:05] mhdawson opened #304 "Node.js Foundation Benchmarking WorkGroup Meeting 2019-12-24"
## Time

**UTC Tue 24-Dec-2019 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 24-Dec-2019 11:00 (11:00 AM) |
| US / Mountain | Tue 24-Dec-2019 12:00 (12:00 PM) |
| US / Central  | Tue 24-Dec-2019 13:00 (01:00 PM) |
| US / Eastern  | Tue 24-Dec-2019 14:00 (02:00 PM) |
| London        | Tue 24-Dec-2019 19:00 (07:00 PM) |

[2019-12-24 19:09] octaviansoldea commented on #304
Hello

Is there a meeting today?

Best regards,
  @octaviansoldea

[2019-12-24 19:13] uttampawar commented on #304
I couldn't connect to the zoom meeting link. @mhdawson Was there anything specific you wanted to talk about?

[2020-01-06 19:40] mhdawson commented on #304
I was away on holiday, back now.  Next meeting @uttampawar lets see what issues you have with starting the zoom so you can still meet if I'm not around.

[2020-01-08 13:18] mhdawson opened #305 "Node.js Foundation Benchmarking WorkGroup Meeting 2020-01-14"
## Time

**UTC Tue 14-Jan-2020 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 14-Jan-2020 11:00 (11:00 AM) |
| US / Mountain | Tue 14-Jan-2020 12:00 (12:00 PM) |
| US / Central  | Tue 14-Jan-2020 13:00 (01:00 PM) |
| US / Eastern  | Tue 14-Jan-2020 14:00 (02:00 PM) |
| London        | Tue 14-Jan-2020 19:00 (07:00 PM) |

[2020-01-10 21:52] mhdawson commented on #305
I'm not going to be able to make this time. @uttampawar can you host?

[2020-01-14 19:08] octaviansoldea commented on #305
Can we initiate the zoom meeting? I am waiting online.

[2020-01-16 01:22] mmarchini opened #306 "Benchmarks for popular Web Frameworks"
(I couldn't find an issue for it, so I'm opening one)

It would be interesting to integrate a set of benchmarks for popular web frameworks (https://github.com/fastify/benchmarks for example), so we can track performance for those frameworks across active Node.js releases.

[2020-02-12 13:18] mhdawson opened #307 "Node.js Foundation Benchmarking WorkGroup Meeting 2020-02-18"
## Time

**UTC Tue 18-Feb-2020 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 18-Feb-2020 12:00 (12:00 PM) |
| US / Mountain | Tue 18-Feb-2020 13:00 (01:00 PM) |
| US / Central  | Tue 18-Feb-2020 14:00 (02:00 PM) |
| US / Eastern  | Tue 18-Feb-2020 15:00 (03:00 PM) |
| London        | Tue 18-Feb-2020 20:00 (08:00 PM) |

[2020-02-18 20:03] mhdawson commented on #307
Trying to login to lastpass to start meeting. Taking a few attempts

[2020-02-18 20:05] octaviansoldea commented on #307
Thanks for the update.

[2020-02-18 20:05] mhdawson commented on #307
Looks like I have to wait 5 minutes for lastpass to time out

[2020-02-18 20:21] mhdawson commented on #307
Had a quick chat with @octaviansoldea, end result is captured in: https://github.com/nodejs/TSC/issues/822

[2020-02-18 20:21] #307 closed

[2020-03-06 04:26] mscdex commented on #268
FWIW I've been running most node core benchmark categories nightly, with results available for viewing/comparing [here](https://mscdex.github.io/nodebench/).

[2020-03-06 21:23] #298 closed

[2020-03-06 21:23] #299 closed

[2020-03-06 21:23] #303 closed

[2020-03-06 21:23] #304 closed

[2020-03-06 21:23] #305 closed

[2020-03-06 21:24] #286 closed

[2020-03-10 16:41] MaiaVictor opened #308 "Better visualization of the data?"
I'm interested in reading about how the performance of Node.js has evolved over the years. I've just found about [the site](https://benchmarking.nodejs.org/) but I'm having trouble making sense of the data. For example, the ops/s chart makes no sense, it is just a bunch of circles on the 0 ops/s mark. Am I missing something? How I'm supposed to visualize and interpret the data?

[2020-03-10 16:43] mmarchini commented on #308
We had some issues where some benchmarks would fail, and it shows as 0 ops/s in the graph (and some benchmarks are still failing). We intend to do some cleanup of this data and re-generate those graphs, but there's no ETA at the moment.

[2020-04-13 15:07] Trott opened #311 "Adding @puzpuzpuz to @nodejs/benchmarking"
New Collaborator @puzpuzpuz would like to be on the correct team for the benchmarks in Node.js core. It's not clear to me if @nodejs/benchmarking is the right group or not. Is it safe for me to go ahead and add them to @nodejs/benchmarking or does the Benchmarking Workgroup (is it still active?) have a different process?

/cc @addaleax

[2020-04-13 15:08] Trott commented on #311
(By the way, @addaleax noticed that @mmarchini is on @nodejs/benchmarking but not listed in the README in this repo.)

[2020-04-13 16:37] mmarchini commented on #311
The WG is being de-charteted (https://github.com/nodejs/TSC/issues/822) which is why I didn't add my name to the readme. But the GitHub team will be kept for notifications, so +1 on adding @puzpuzpuz to it.

[2020-04-13 17:11] Trott commented on #311
Ah, in that case, yeah, seems like the obvious thing to do is to add them. Done!

[2020-04-13 17:11] #311 closed

[2020-07-29 02:39] spmiller opened #313 "Running a benchmark"
Hello,

We stumbled across this project when looking to compare how a NodeJS application would perform when running on different hardware. The Acme Air benchmark referenced in the use cases looks similar to our application, so running this benchmark looks like a good proxy for how well our app would perform.

We can't work out how to run the benchmark on a machine. We were expecting to find a "run

[2020-09-22 14:07] mhdawson commented on #313
The naming is not great but the scripts are in:

https://github.com/nodejs/benchmarking/tree/master/experimental

so for example the script to run acmeair is:

https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/acmeair/run_acmeair.sh