[2015-05-25 20:04] mhdawson opened #1 "Kickoff Meeting Wed May 27 2015"
Sorry for the late notice but meeting was being arranged before repo was available.

The kickoff meeting is scheduled for Wed May 27 2015 at 2:00 PM EST.

If you would like to attend you can add to you calender with this link:
<a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=ZnU3ajAzNGt1OGhmaXJpMDluaTA3cXRhdGcgbWhkYXdzb25pYm1AbQ&tmsrc=mhdawsonibm%40gmail.com"><i

[2015-05-27 15:55] yosuke-furukawa commented on #1
Sorry. My condition is not so good... I would like to attend this meeting but the meeting time is at 3 a.m. in Japan. I need to take a sleep to recover my condition.

But I would like to write my motivation for this benchmarking WG.

- **Continuous benchmark:** We should take a bench performance on every release continuously.
- **Graph:** And we should draw some graphs to detect performance down e

[2015-05-27 17:06] mhdawson commented on #1
yosuke, thanks I'll make sure to add those to the discussion

[2015-05-27 19:30] mhdawson commented on #1
Minutes from initial meeting

https://github.com/nodejs/benchmarking/blob/master/meetings/2015-05-27/minutes.md

[2015-05-27 19:38] targos commented on #1
I think you need to use hangouts on air to have the recording feature

[2015-05-29 18:06] mhdawson opened #5 "Benchmarking use cases"
This issue is for us to discuss what use cases we need Node benchmark to cover.

Two initial ones are
+ front end gui
+  back end services

but we'd like to get more specific and make sure we have one for each of the important ways that Node is used.

[2015-05-29 18:08] mhdawson commented on #5
Two use cases from earlier discussion here: https://nodejs.org/about/core-team/meetings/2015-03-26/minutes.html

 + low-latency
 + high concurrency.

[2015-05-29 18:10] #1 closed

[2015-05-29 18:14] mhdawson opened #6 "Canditate benchmarks"
This issues is to discuss/identify candidate benchmarks. So far what we have on the list is:

+ Acme-Air for Node https://github.com/acmeair/acmeair-nodejs
+ ghost blog (https://github.com/tryghost/Ghost)  and create our own load driver
+ techEmpower (https://www.techempower.com/benchmarks/)
+ Existing micro benchmarks

We expect that we'll want multiple, with at least one to cover each use case i

[2015-05-29 18:16] mhdawson opened #7 "Microbenchmarks"
This issue is for discussion on the existing micro-benchmarks, what we do in order to improve and get the running again.

One suggestion so far is that we make sure they print and display time for single iteration (how many us to complete) were the time is both the wall time as well as the cycles used.

We also discussed coming up with a list of additional micro benchmarks that we might want to ad

[2015-05-29 18:19] mhdawson opened #8 "2nd Benchmarking WG meeting"
The next meeting will be planned for the week of June 15. The draft agenda is:

+ Overview of Acme Air from Yang Lei (one of the authors)
+ Review of discussion in issues opened:
 https://github.com/nodejs/benchmarking/issues/5
 https://github.com/nodejs/benchmarking/issues/6
 https://github.com/nodejs/benchmarking/issues/7

I'll send out the invite to the participants so far.  If you want to be a

[2015-06-01 07:58] meaku commented on #6
Concerning benchmarking "real" apps it might be hard to get meaningful results that can be compared.
If you're benchmarking an app there are many modules involved and external resources like database.

Think of benchmarking __acmeair v0.1.1__ using __io.js 2.2.1__ on day 1.
A week later we benchmark __acmeair v 0.1.1__ using __iojs 2.2.2__ and the benchmark shows that it's way faster.

But we actu

[2015-06-01 08:10] seabaylea commented on #6
Agreed - for any benchmark it will be important to only change one "component" (be that node.js/io.js or used module) at a time, so we know where the change in performance is coming from. Shrinkwrapping is a good approach to making sure that happens.

[2015-06-01 22:04] mhdawson commented on #6
+1 for seabaylea's comment.  For comparison purposes we'll want to limit the changes so that we can isolate what may have affected results

[2015-06-02 08:06] meaku commented on #6
Do you think database latency might be an issue? If we stick to the same machine(s) and database version it might not be a problem.

[2015-06-03 20:36] trevnorris commented on #7
IMO the most reliable things to micro-benchmark are native calls (e.g. `Buffer#slice()`). Will definitely want to exclude micro calls (e.g. `Buffer#writeUInt8()`).

May want to consider implementing some for the complex JS paths (e.g. several streams paths).

[2015-06-03 21:08] mhdawson commented on #6
Like other variables we'd need to make sure we keep the database version/systems consistent between runs and when we do change the database not change anything else at the same time

[2015-06-15 13:12] mhdawson commented on #8
Based on doodle setting date as Tuesday June 16 @ 2pm EST

[2015-06-16 18:04] mhdawson commented on #8
hangouts link https://plus.google.com/hangouts/_/hoaevent/AP36tYebWBzN4Iq88P0b3kqKRKMpjJ0hcnEV3KeKteQ28U61JoQAsw

[2015-06-18 21:16] mhdawson commented on #8
Minutes are here (still needs update to include slides) https://github.com/nodejs/benchmarking/blob/master/meetings/2015-06-16/minutes.md

[2015-06-19 19:01] mhdawson commented on #8
Minutes updated with slides, closing

[2015-06-19 19:01] #8 closed

[2015-06-22 21:03] mhdawson opened #10 "Benchmark working group meeting Week of July 6"
The next meeting will be planned for the week of July 5. The draft agenda is:

*  Review of discussion in issues opened (carried over)
*  Discussion of investigation by Trevor
*  Discussion of investigation by Michael

I'll send out the invite to the participants so far. If you want to be added to the invite just let me know

Doodle poll for those not on the core invite list:

http://doodle.com/x2

[2015-06-22 22:11] trevnorris commented on #10
For reference, I've left issues on:
- hapi: https://github.com/hapijs/hapi/issues/2614
- kraken-js: https://github.com/krakenjs/kraken-js/issues/393
- grunt: https://github.com/gruntjs/grunt/issues/1350
- gulp: https://github.com/gulpjs/gulp/issues/1118

Figured doing it that way was easier to track discussions on participation with the benchmarking wg. I'll accumulate updates for meeting notes.

[2015-06-30 14:01] mhdawson commented on #10
From doodle poll looks like best day is Thursday July 9 at 1PM EST

Hangouts link for participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYdteIdJO1mKQM2vhYFcFv0ykPwgcUNx7KqDo9CLROGD6ifKNg

Youtube link for those who just want to watch: http://www.youtube.com/watch?v=0D9Ea2FNStE

[2015-07-02 02:41] obastemur opened #11 "Benchmarking dependencies"
Tracking the dependency benchmark is also important. Especially the JavaScript engine performance. How `node` uses the JavaScript engine is or can be different than how it's designed for it's first class citizen: browser.

I had prepared [this repo](https://github.com/obastemur/NodeEngineBenchmark) and using it for `dirty benchmarking` (sunspider and octane runs under the same single instance). As

[2015-07-02 19:37] mikeal opened #12 "Benchmarks for v8"
This is a followup from a conversation I had last night with @littledan.

It would be great if we could put together some benchmarks of "node centric workloads" for the v8 team to profile against.

[2015-07-02 21:20] littledan commented on #12
Chrome has a system called Telemetry for running benchmarks, described at https://www.chromium.org/developers/telemetry . This is how we automate SunSpider, Octane, etc in continuous integration. I can't speak for the infrastructure team, but if you put a patch out for review to integrate your benchmarks into this system, similar to https://code.google.com/p/chromium/codesearch#chromium/src/tools/

[2015-07-06 17:32] mhdawson commented on #11
If I understand correctly the point is that we should be tracking the benchmarks for the javascript engine as well.  For example, running the octane benchmarks regularly.  That makes sense to me as we already do that internally at IBM  as one measure of performance between releases.

[2015-07-06 19:04] trevnorris commented on #11
I fully support adding these to the benchmark list, but these don't address the "call to native".

These would probably have to be custom written, as there are no benchmarks I'm aware of that track things like JS -> native and back again. One thing we've noticed in V8 is that `Object::Set()` is very slow. To the point that if more than 2 values need to be set it's faster to pass those values to JS

[2015-07-07 13:51] obastemur commented on #11
@trevnorris How about preparing the benchmark for those with upcoming node.js API ?

[2015-07-07 16:23] trevnorris commented on #11
@obastemur I can put that on my list, but not sure how soon I can get to it. It would be helpful if there was a list of specifics we'd want to test for in this regard.

[2015-07-07 17:50] littledan commented on #12
Oh sorry, to backtrack, the V8 group is not going to be able to run Node performance tests, unless these are also representative of browser workloads. We just have too many other things to work on at the moment. (Also, while telemetry is our browser testing system, we haven't open-sourced our V8 performance testing infrastructure that we use for automated performance regression testing yet.)

[2015-07-09 16:58] mhdawson commented on #10
Link for google doc for minutes

https://docs.google.com/document/d/1uwydmaVrf-xGSQtNHpt8iPs62cVBabegSXTHGrLR7cA/edit?usp=sharing

[2015-07-09 18:25] mhdawson opened #13 "Getting the first benchmark running"
From discussion in last benchmarking meeting

+ when we would run minimal/minimal sets
+  how to use same H/W across runs

Next steps
+ sync with build workgroup to get their feedback on how to address H/W issue
+ put together outline of what we want to do, then ask foundation members for h/w

[2015-07-09 18:47] mhdawson commented on #10
Minutes from meeting https://github.com/nodejs/benchmarking/blob/master/meetings/2015-07-09/minutes.md

[2015-07-09 18:47] #10 closed

[2015-07-22 21:07] mscdex opened #14 "jsperf-like tool for benchmarking node.js/io.js"
**Background:** A couple of weeks ago I was working on performance again for my js http parser, especially with the newer v8 versions that have been released (or are in the pipeline) since I first started working on the parser. Typically I would just use Chrome and jsperf.com, but I noticed that jsperf.com had been down for some time (with no public time table if/when it will be back up) and I nee

[2015-07-23 07:11] targos commented on #14
Do you think it is stable enough to publish to npm? I'd like to try it and the readme says `npm install -g benchd`

[2015-07-23 16:38] mscdex commented on #14
@targos I'd like to at least get some tests in yet and improve the frontend error handling a bit more. I don't know when exactly that will be done, but my hope is to publish the first version by sometime this weekend at the latest.

[2015-07-23 20:06] mhdawson commented on #13
I was out 2 weeks ago and the meeting for the build workgroup was cancelled this week.  Will bring up in next meeting (July 27)

[2015-07-23 20:38] mhdawson opened #15 "Next Benchmarking Meeeting"
Draft agenda is:

+ Review actions from last meeting
+ Ok to list contact info ?
+ Corbin to give team a deep dive on - https://github.com/corbinu/docker-demos
+ Review of modules we believe should have benchmarks for and potentially run in builds: -  https://docs.google.com/spreadsheets/d/1GlY7kP_1gOCi-uEVmwxoOeL5MjF5okgEN1nX1J74fUo/edit
+ Review proposal of what we want to do requesting hardware

[2015-07-31 21:30] mhdawson commented on #15
Based on doodle poll, meeting set for Tuesday Aug 11 at 2PM EST.

Link for participants https://plus.google.com/hangouts/_/hoaevent/AP36tYfUwTnVXAMZPw7TuiG5g6JziesJ7DRuyHxoOreOcVevDHSjmA

Links to watch http://www.youtube.com/watch?v=yi4pvTKj634

Google doc for minutes: https://docs.google.com/document/d/1zh6CcIU0vpZD68Fk0XoE-TqWgOlGNrtbKUGwF2ZL6lQ/edit

[2015-08-10 16:01] mhdawson commented on #6
Since WebSockets are often used with Node some that we might consider including:

https://www.npmjs.com/package/thor
https://www.npmjs.com/package/websocket-benchmark
https://www.npmjs.com/package/websocket-bench

[2015-08-10 23:39] yunong commented on #5
Our current Node deployment at Netflix consists almost entirely of front end GUI services. We use ReactJS to render the markup server side. We use Restify as the HTTP framework for these apps.

Predominantly, where we're seeing performance bottlenecks comes predominantly from rendering the mark up in ReactJS. We're seeing 2-400 ms on CPU in React when we're rendering a page.

It'd be good to integ

[2015-08-10 23:43] yunong commented on #5
As part of our discussion from the last meeting, HTTP/2 and Websockets are used today for full duplex communication between client and services in Node.js. In particular, there's been a shift for both back end and front end apps to move towards the bi-directional communication model. In particular, the ability for servers to 'push' events to the client.

Both of these currently are 3rd party modul

[2015-08-11 19:14] mhdawson commented on #15
minutes posted here:

https://github.com/nodejs/benchmarking/blob/master/meetings/2015-08-11/minutes.md

Recording available on here:  http://www.youtube.com/watch?v=yi4pvTKj634

[2015-08-11 19:14] #15 closed

[2015-08-14 15:28] mhdawson opened #16 "Next Benchmarking meeting"
Draft agenda is:

+ Review actions from last meeting

+ Corbin to give team a deep dive on - https://github.com/corbinu/docker-demos  (may be removed as Corbin did not respond to doodle)

+ Review proposal of what we want to do requesting hardware

+ Review of discussion in issues opened

+ Getting the first benchmarks running

+ Update from Michael on minimal Acme Air for builds

I'll send out th

[2015-08-16 01:05] jasnell opened #17 "events: benchmark tests"
joyent/node PR https://github.com/joyent/node/pull/5187 proposed some new benchmarks
for events that never landed. Not sure if it was ever reviewed. Going to close the PR there
as it's not going to be able to land but the benchmark should at least be reviewed and
determination made if it should be added to nodejs/node

[2015-08-18 14:22] DavidTPate commented on #14
@mscdex Any luck on getting this published?

[2015-08-18 15:14] mscdex commented on #14
@DavidTPate Unfortunately I haven't had time to work on it anymore since I last commented. I haven't forgotten about it though...

[2015-09-01 21:28] trevnorris commented on #6
Here are a couple gulp scripts that would put decent pressure on a macro-benchmark: https://github.com/gulpjs/gulp/issues/1118

[2015-09-01 21:29] trevnorris commented on #16
Sorry I didn't respond. This last month has been unusually busy for me.

[2015-09-01 22:24] mhdawson commented on #16
There have been only 3 responses to the doodle.  I think I better send out another one to see if we can find a better time with more participation

[2015-09-01 23:32] mhdawson commented on #16
New doodle poll http://doodle.com/8afhctmstaksaa4s

[2015-09-02 00:00] rvagg commented on #16
FYI there is a tickbox you can check when setting up a doodle to make it timezone-adaptive, when I view that doodle it's meaningless to me because of this.

[2015-09-02 04:07] trevnorris commented on #16
Has the time zone thing changed? I just filled it out from my phone assuming it was adapted.

[2015-09-02 12:33] mhdawson commented on #16
I looked at the poll and I can't seem to find how to change it for an existing poll.  I see the link when creating a new poll but I can't find the same poll for an existing option.  The times were in EST.

Should I cancel this poll and send out a new one ?

[2015-09-02 12:38] mhdawson commented on #16
Link to new doodle updated to reflect EST times - http://doodle.com/gee8ckrsh6tk92zu

[2015-09-16 19:27] mhdawson commented on #16
Based on doodle set meeting time as Sep 30 at 2pm EST.  Will send out google hangout and reminder a day ahead as well as adding to this issue.

[2015-09-25 20:56] mhdawson opened #18 "Bare metal machine for initial benchmark runs"
I have gotten a softlayer account that I plan to use to bring a bare metal machine into the Node community CI for running the benchmarks.

I'm thinking of starting with a low end machine which is an
E3-1270 (4 cores, 3.4Ghz) with 4G ram and 500G disk running Ubuntu 14

I believe it should be enough to run acme air in a regression test configuration.

I'm creating this issue to see if people think

[2015-09-25 23:55] obastemur commented on #18
I don't know if there is a plan to masure IO performance. IMHO, SSD provides more consistent read and write speed.

[2015-09-27 14:54] seabaylea commented on #18
@mhdawson that should be enough for a simple AcmeAir config, if we bind the three components (JMeter load driver, AcmeAir app and MongoDB) so a single processor.

[2015-09-28 20:11] rmg commented on #18
@seabaylea do you mean restrict the node/libuv thread pool to a single core? Wouldn't that type of constraint make the results less meaningful?

[2015-09-28 20:32] mhdawson commented on #18
SSD is available but it will double the monthly cost of the machine so I'd only want to add it if we really feel it is necessary

[2015-09-29 18:18] mhdawson commented on #15
Links for meeting tomorrow:

Hangouts on air for participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYdSJkS2lHogfpcrbWUP-VfMtWqHH2GxIukizkAPfkb3yNk6Ew?hl=en

Link for those who just want to watch
https://plus.google.com/u/0/events/curadk8mf0162k9s8gob7n74r3g

Doc for minutes: https://docs.google.com/document/d/1GWTKPECTTjlMy2U3ERmcIsS236YCRnoyaSd8zYIIo3Y/edit

[2015-09-29 18:38] mhdawson commented on #13
Feedback from build workgroup was that IBM had offered softlayer resources in the past.

I've now connected with the right people and can add softlayer resources, initial hardware to be added is being discussed here:  https://github.com/nodejs/benchmarking/issues/18

Next steps will be to:
  1) jenkins jobs to run acme air running
  2) jenkins jobs to run benchmarks that are part of Node build

We

[2015-09-29 18:51] mhdawson commented on #16
Links for meeting tomorrow:

https://plus.google.com/hangouts/_/hoaevent/AP36tYdSJkS2lHogfpcrbWUP-VfMtWqHH2GxIukizkAPfkb3yNk6Ew

Hangouts on air for participants

Link for those who just want to watch: http://youtu.be/IC6AMOfEeL4

Doc for agenda/minutes: https://docs.google.com/document/d/1GWTKPECTTjlMy2U3ERmcIsS236YCRnoyaSd8zYIIo3Y/edit

[2015-09-30 13:17] seabaylea commented on #18
@rmg It depends what we're trying to achieve with the particular test. Yes, it restricts Node/libuv's thread pool, but it removes variation in results from interactions with the JMeter driver or MongoDB - which might be the aim if its regression testing.

As its a 4 core machine, we could arguably bind to 2 CPUs.

[2015-09-30 18:40] mhdawson commented on #16
Sorry was not able to start the meeting recording as for some reason I had no "start recording" button.  Its worked before and I saw it after the meeting ended so either I was blind and missed it or there was a temporary issue that prevented it from being available at the start of the meeting.

[2015-09-30 19:09] mhdawson commented on #16
Minutes posted here https://github.com/nodejs/benchmarking/blob/master/meetings/2015-09-30/minutes.md

[2015-09-30 19:14] #16 closed

[2015-09-30 19:22] mhdawson opened #19 "Next Benchmarking Meeting"
Draft agenda is:

    Review actions from last meeting

    Review of discussion in issues opened

I'll send out the invite to the participants so far. If you want to be added to the invite just let me know

Doodle poll: http://doodle.com/poll/p52s8hfq4vbhp2ec

[2015-09-30 23:12] rmg commented on #18
@seabaylea sounds reasonable. Consistency between runs is definitely the most important factor. I guess I was worried more that the data leads us down some path where we optimize for a single core but deploy on multi-core.

Thinking about it more, we definitely need multiple physical cores so we don't mask any race conditions or other issues that only come up with "real" concurrency.

[2015-10-08 15:59] mhdawson commented on #18
Added to the CI as https://ci.nodejs.org/computer/iojs-softlayer-benchmark/.  Seems like we got more than we asked for as the RAM ended up being 8G.

[2015-10-08 15:59] #18 closed

[2015-10-11 19:24] mscdex commented on #14
Alright so I just decided to publish what I already have (after fixing a couple things) for v0.0.1. WebSocket error handling still needs to be improved and tests still have to be written though.

[2015-10-11 19:35] mscdex commented on #18
I just noticed that PRs are not running on the `master` node anymore (since 10/8), but instead on the recently added `iojs-softlayer-benchmark` node. Was this unintentional?

[2015-10-12 18:09] trevnorris commented on #14
Is this supposed to run benchmarks on the server then display the results in the browser?

[2015-10-12 18:11] trevnorris commented on #19
Unfortunate that the one time everyone else can go to is during the Foundation TSC meeting.

[2015-10-12 18:30] mscdex commented on #14
@trevnorris Yes.

[2015-10-13 13:04] mhdawson commented on #19
The 2 times I see everybody else being available is 1 PM EST ?  The TSC meeting is at 4 EST ?

[2015-10-13 13:46] mhdawson commented on #18
Yes, it was not intended to move any other jobs over, although I'm also not sure its an issue. Will talk to Johan who setup the initial tags on the machine for me

[2015-10-13 16:25] trevnorris commented on #19
Ah crap. And again I forget to change the time zone.

[2015-10-19 14:54] mhdawson commented on #19
Ok Date set as Wed Oct 21 @ 1PM EST

Hangouts on Air for participants
https://plus.google.com/hangouts/_/hoaevent/AP36tYfUADYUqfJueFdPTz9ollMrBaIXucl6TVqykdp-rqZRsNhAfA

Events page : https://plus.google.com/events/c2em3ljcuu7o0dvl470qabv96t4

YouTube link for watch - http://youtu.be/TShCsXs2uvI

[2015-10-20 06:08] ofrobots commented on #19
Unfortunately, I won't be able to make it this week.

[2015-10-21 17:10] mhdawson commented on #19
Ended up just being myself and Seth so we decided to postpone and will send out a new doodle to find the new time

[2015-10-21 17:20] mhdawson commented on #19
Link for new doodle poll http://doodle.com/poll/87h3z3atkmqzvydx

[2015-11-09 20:11] mhdawson commented on #19
Sorry did not close on last poll in time

New poll

http://doodle.com/poll/6capy7r7qh49bdu9#admin

[2015-11-12 22:50] mhdawson commented on #19
Date set as Nov 19 at 12:00 EST

[2015-11-18 14:54] mhdawson commented on #19
Hangout for active participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYfY-8R9qGcsBqX9CmVOQ0aGJS9VSweiY6npTATy66pUbGOBpA?hl=en

Link to watch: http://youtu.be/gSC82-VqeqE

Link to doc for minutes: https://docs.google.com/document/d/16TjMKdHlKGnfDTAXRo3YLKPnSI8-DwTl_ejqLcr68G8/edit

[2015-11-18 15:14] gareth-ellis opened #20 "Regressions in v4 - kraken/JSbench"
I periodically compare performance of Node releases with a variety of workloads to identify regressions over time.

In my measurements, I've identified a consistent regression between the v0.12 and v4 releases running the 'Kraken' and 'JSBench' suites

On kraken one of the worst individual metrics is imaging_desaturate where we see it running at around 45% of the speed that it ran on 0.12.

I see

[2015-11-18 17:27] seabaylea commented on #20
@mhdawson is this a candidate for tomorrow's agenda?

[2015-11-19 18:02] mhdawson commented on #19
Minutes are here: https://github.com/nodejs/benchmarking/blob/master/meetings/2015-11-19/minutes.md
Recording:  http://youtu.be/gSC82-VqeqE

[2015-11-19 18:02] #19 closed

[2015-12-01 15:31] mhdawson opened #21 "Next Benchmarking Meeting"
Draft agenda is:

+ Review actions from last meeting
+ Review of discussion in issues opened
+ review/discuss https://github.com/nodejs/benchmarking/issues/23

I'll send out the invite to the participants so far. If you want to be added to the invite just let me know

Updated doodle poll: http://doodle.com/poll/waab28wye22k92wi

[2015-12-16 20:13] mhdawson commented on #21
Based on the doodle poll looks like we'll have good attendance for Thursday Jan 7 at 12:00 EST .  Sent out invite.  If you did not receive please send me the email I should use and I'll add you to my invite list.

Hangout for active participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYdG3hBo3jlof7toCBR-J4AD2BG5wpKBTd09eukxvlj35npY3A?hl=en&authuser=0

Youtube link to watch: http://youtu.

[2015-12-16 20:50] rvagg opened #22 "Track startup speed"
Continuing on from https://github.com/nodejs/node/pull/3962, this is an important metric for many users and we have no insight to it over time, at least nobody is tracking it as far as I'm aware.

[2015-12-16 21:58] mhdawson commented on #22
Thanks for the input, I'm working on the simple ones first, including footprint, but startup at least for the basic how long does it take to get to the point were we can first capture the time would be pretty easy so I'll look at that one as a follow on.

[2015-12-16 22:37] mhdawson opened #23 "Capturing benchmark data"
I've been experimenting on how to easily capture/publish benchmark data.  This is the flow I've been thinking would work.

benchmark machine

* (a) -> runs benchmark and publishes to benchmark data machine through simple post using wget

benchmark data machine

* (b) -> accepts post and stores data into database, currently using mysql

* (c) -> once a day generate cumulative graphs

* (d) -> once

[2015-12-16 23:00] mhdawson commented on #23
Opened this issue on the build workgroup repo to get the discussion started about pushing to nodejs.org
https://github.com/nodejs/build/issues/281

[2015-12-16 23:11] mhdawson commented on #23
@nodejs/benchmarking  please review/comment

[2015-12-17 13:34] mhdawson commented on #22
Added this benchmark to https://github.com/nodejs/benchmarking/tree/master/experimental/benchmarks/startup

to

https://ci.nodejs.org/job/benchmark-footprint-experimental/

It measure both start/stop time by capturing the time it takes to run an empty script.  May not be the right thing to measure but will let us start capturing data to see how stable the results are.

[2015-12-18 08:49] seabaylea commented on #22
That looks like a good start. Is it worth adding a second test/extension that also adds in some require statements? And change to module load speed will affect the startup time of any real application.

[2016-01-07 09:05] gareth-ellis commented on #22
I had a go at running the above benchmark, and also created a few other variants.
I was interested how the above would be measuring shutdown as well as startup, so wrote a quick 2 line startup test:

[code]
immediately before starting node I also take the current time stamp and compare that with the time stamp printed by node.

I then went on to put together a startup test using express (using the

[2016-01-07 13:27] mhdawson commented on #21
@nodejs/benchmarking  Reminder of the meeting at 12 EST today.

[2016-01-07 14:09] mhdawson commented on #22
This is the data I have so far in the benchmark I have been working on.  It includes both startup/shutdown time as it uses the unix time command, starting an empty js file.

https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/startup/startup.png

[2016-01-07 14:22] ofrobots commented on #22
@mhdawson Do you want to use an even more minimal script to track startup/shutdown time: `node -pe process.version`. For this purpose, it would be better to avoid IO for loading the empty script.

[2016-01-07 15:05] mhdawson commented on #22
I ran a few times (on the non-benchmark machine) to compare and it seems like node -pe process.version is actually slower (10-20%)  than running an empty script and a bit more variable as well. I might be because it has some output.

[2016-01-07 15:08] ofrobots commented on #22
How about `node -e ''`?

[2016-01-07 15:34] sam-github commented on #22
I haven't been bothered by node startup to first line of js executed, but I have been negatively effected by how slow require is... Complex node apps have deeply nested module trees, and every `require()` does a LOT of searching up the tree for possible node_modules folders. I've seen it take 4-5 hundred milliseconds for a loopback app to require its deps. This may seem fast, but stick it in a uni

[2016-01-07 17:19] michaelbpaulson opened #24 "[Chore] Join working group"
Michael Paulson
michael.b.paulson@gmail.com

-------------
Joined today with Yunong @Netflix.  Have spent 6-7 months full time working on [Falcor](https://github.com/Netflix/falcor) performance.

[2016-01-07 18:47] trevnorris commented on #21
Sorry for not being there. For some reason no invite showed up on my calendar.

[2016-01-07 20:44] mhdawson commented on #21
Minutes from meeting.  Let me know if anything needs to be modified/updated https://github.com/nodejs/benchmarking/blob/master/meetings/2016-01-07/minutes.md

[2016-01-07 20:46] #21 closed

[2016-01-07 23:31] mhdawson commented on #24
Have added you thanks

[2016-01-07 23:31] #24 closed

[2016-01-11 16:09] michaelbpaulson opened #25 "[Update] Benchmarking Microtests: State of the union of node/benchmark tests and where to go next"
The goal of this issue is to demonstrate the following:
- Why microbenching is important.
- Benchmark.js is a good library to use
- Where am I going to start and the path forward
### Why micro benchmark?

Micro benchmarking is arguably more important from a library's standpoint than application / integration level benchmarking (I have heard macro benchmark as a term to). Micro benchmarking will qu

[2016-01-11 17:51] michaelbpaulson commented on #25
BTW, I was going to use this issue to update my progress on the aforementioned set of tasks then close when done.

[2016-01-11 18:48] michaelbpaulson commented on #25
Update
As I start the benchmarking I realized that testing the `require` module is probably a **bad** place to start since its a one time start-up cost and probably the least concerning to a sophisticated node application.  I will continue to get the tests up to simply prove out the framing of our benchmark tests and to get the first one being plotted.

[2016-01-12 08:46] gareth-ellis commented on #25
I guess it depends what we're measuring - I'd say if it's startup we're measuring, then `require` is a cost that almost every node application is going to pay.

Maybe something for another issue, but in your experience, how are people (how is Netflix) running node? I remember at node.JS interactive the talk on Netflix mentioned the much faster startup time being a definite win for node. How often

[2016-01-12 14:59] mhdawson commented on #25
The performance of require was called out specifically by sam-github here: https://github.com/nodejs/benchmarking/issues/22.  Even though startup is a one-time cost its still seem as a key metric for runtimes.

[2016-01-12 15:49] michaelbpaulson commented on #25
@gareth-ellis @mhdawson I doubt the validity of this.  But, as per agreed upon task set, I will start at `require`.

@yunong can correct me if I am wrong but the start up time of the website prior to node was significantly longer that it made node a huge win to switch to, regardless of `require` time.  I know I am getting really pedantic but node startup time and application startup time can be co

[2016-01-13 23:45] mhdawson commented on #23
Was discussed in last Benchmarking WG meeting with no objects to approach.  Will push forward. Have moved most of this info to https://github.com/nodejs/benchmarking/blob/master/benchmarks/README.md so closing

[2016-01-13 23:45] #23 closed

[2016-01-14 09:00] gareth-ellis commented on #20
As a quick update, I now believe this to be down to v8. I had to rewrite the wrapper for kraken, as there was too many nodisms to be able to run on pure v8. I've tried running the benchmark on latest v8 too, which also seems to be regressed to the same sort of level. I'm currently narrowing down where the regression was introduced in v8.

Although this has turned out not to be a node issue, it's s

[2016-01-26 16:08] michaelbpaulson commented on #25
require, URL, and events are "done".

[2016-02-06 19:31] jeffreytgilbert commented on #25
Where does http, keepalive, sockets, etc performance come in? There's certainly an argument to be made that if you're writing a service in node, you're going to need those basics to show perf gains over time. As important as it is to benchmark the methods you bake all your applications with, I don't know of anyone writing their own http module in javascript.

On that note, I'm curious to know if y

[2016-02-06 19:35] jeffreytgilbert commented on #25
To follow that last message up, here are some alternate benchmarking tools i've run in the past which offer fuel for the discussion.

https://github.com/wg/wrk
https://github.com/newsapps/beeswithmachineguns

[2016-02-07 03:54] michaelbpaulson commented on #25
@jeffreytgilbert Good morning!  I love the benchmarking tools you provided.  I will definitely be checking that out.

As of right now a few of the members of the WG are working on getting the [Acme Air](https://github.com/acmeair/acmeair-nodejs) application setup to be part of the benchmarking suite.  My part is to focus from the other side.  Here is my rough plan of attack.

1. Start with the sma

[2016-02-07 04:36] jeffreytgilbert commented on #25
Saving the test data as a png is fine. Saving it to a new repo is fine. Save the data as well. Use time series data storage for some of the benchmarks. Opentsdb or a graphing system like influxdb or prometheus or one of those that you can tie into grafana or another suite.

[2016-02-08 14:46] mhdawson commented on #25
In terms of the plans for how we are working initially to save the data and graph see https://github.com/nodejs/benchmarking/blob/master/benchmarks/README.md.  I'm slowly working on this with one of the steps being to add the micro benchmarks added by @michaelbpaulson to those we generate graphs for.

[2016-02-08 22:20] jeffreytgilbert commented on #25
Also see for comparison "are we fast yet". I believe I heard someone reference this on the videocast I listened in to, but my memory is failing me. https://arewefastyet.com/

It's relevant as it is currently comparing browsers using benchmark suites based on their build types and they plot results run over time so you can easily see deltas.

[2016-02-08 22:29] jeffreytgilbert commented on #25
http://grafana.org/
http://opentsdb.net/
https://influxdata.com/
https://prometheus.io/

[2016-02-09 13:41] mhdawson commented on #25
Yes the plan outlined in  https://github.com/nodejs/benchmarking/blob/master/benchmarks/README.md. will results in graphs along these lines: https://github.com/nodejs/benchmarking/blob/master/benchmarks/startup_footprint/footprint.png

[2016-02-11 22:36] mhdawson opened #29 "Next benchmarking meeting"
# Who

@nodejs/benchmarking

# When

Feb 25, 2PM EST

# Where
Hangout for participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYdQJNUPbL5pEVZV1fJ4waG8ATJXVhGhykCEcrOrhmJUukc12g?hl=en&authuser=0

Youtube link for those who want to watch: http://www.youtube.com/watch?v=aGjxShr1Tw8

Event Page: https://plus.google.com/events/c1laq1b4o35nbeup16s2dkvg4us

Google doc for minutes: https://docs.

[2016-02-24 20:45] mhdawson commented on #13
Have temporarily setup jobs to push to here http://nodejs.devrus.com:8080/ until we can get the same as part of nodejs.org.

* cronjob on benchmark machines pushes updated charts nightly (as opposed to pull which is planed for node webiste)
* repo is pulled every 15 mins to update www content

It shows the data for the benchmarks we currently have running.

[2016-02-24 20:49] hassy opened #30 "Node.js-based alternative to jMeter"
Hi, I just wanted to share a project I've been working on, [Artillery](https://github.com/shoreditch-ops/artillery), which is a Node.js-based load-testing tool. It offers several advantages over jMeter:

- It's just an `npm` package making it very easy to install
- Scripts are written in JSON or YAML rather than XML and are easier to read and write
- HTTP and WebSockets are supported out of the bo

[2016-02-24 21:10] mhdawson commented on #30
Thanks for the heads up.

Under https://github.com/nodejs/benchmarking/issues/5 and https://github.com/nodejs/benchmarking/issues/6  the first step is to identify a key Node.js use case that we should be tracking benchmark results.

If there is no existing benchmark that can be re-used/run easily then the next step is to develop one and Artillery could form part of that.  I'd suggest you read thro

[2016-02-24 21:21] hassy commented on #30
Thanks @mhdawson. I'd be happy to contribute a benchmark for Ghost (on the list in #6). I can also look at writing one for AcmeAir - it would be interesting to compare it vs the jMeter script.

I'll tune in to the meeting tomorrow.

[2016-02-25 01:46] ofrobots commented on #25
While I do think that micro-benchmarks have do their place, I wanted to offer a slightly different perspective.

My personal experience, and also the experience of the V8 team, has been that there is a lot of day to day churn and variability on micro-benchmarks. I personally have worked in teams that have wasted person-years of development time because of spurious regressions on micro-benchmarks (

[2016-02-25 08:26] gareth-ellis commented on #30
It certainly looks interesting.

The main draw back of JMeter as far as I'm concerned is the rampup time. With it being a java application, it does take some time to achieve peak throughput. As such, we currently drop the first half of our run (e.g. we run for 4 minutes, but only consider the last two for calculating throughput). I would imagine there would be some rampup time in node, however I'v

[2016-02-25 13:21] hassy commented on #30
@gareth-ellis I haven't run into situations where Node itself (running Artillery) needed warm up time, although in general for longer tests you'd usually have a warm up phase for the target application.

I'd love to produce some comparative benchmarks between JMeter and Artillery. 1.2k HTTP requests per second is what I got on a mid-tier Digital Ocean VPS in my tests - that number would go up on b

[2016-02-25 21:24] mhdawson commented on #29
Minutes added here: https://github.com/nodejs/benchmarking/blob/master/meetings/2016-02-25/minutes.md

Youtube link for recording: http://www.youtube.com/watch?v=aGjxShr1Tw8

[2016-02-25 21:24] #29 closed

[2016-02-25 22:53] mhdawson opened #31 "Acme air scripts runs longer than expected"
I've set up the scripts and tweaked so we don't get a hang or kill the jenkins agent but it seems to spend a lot of time waiting at this point:

<PRE>
Perf logs stored in /home/iojs/workspace/benchmark-footprint-experimental-0.12.x/benchmarking/experimental/benchmarks/results///20160225-164357

Cleaning up

## END acmeair Archiving Thu Feb 25 16:49:26 CST 2016
</PRE>

@gareth-ellis  can you take a

[2016-02-26 10:06] gareth-ellis commented on #31
Do you mean after the END acmeair message we wait around for a while before them being killed off?

From the time stamps that are printed, it seems the acme air run (for 120 anyway) was 5mins 29 seconds.

I've checked in a change under 2db045c1d30b7efb15b9027967562b6fdfec5689 that keeps track of child pids (the sleep 600). This isn't a great way of doing it, it'd be good to understand why the gett

[2016-02-26 14:14] gareth-ellis commented on #20
As discussed on the work group call yesterday It seems that the "regression"  is in 4.2.20 of v8.

If I back out the changes in hydrogen-instructions.cc and hydrogen-instructions.h

i.e. these are the changes:

https://chromium.googlesource.com/v8/v8.git/+/4.2.20%5E!/#F26

https://chromium.googlesource.com/v8/v8.git/+/4.2.20%5E!/#F27

My results:

v8.4.2.19 	- 147286
v8.4.2.20 	- 111222
v8.4.2.19+

[2016-02-29 08:46] gareth-ellis commented on #31
The runs over the weekend seem to be running faster - 6mins 59seconds for https://ci.nodejs.org/job/benchmark-footprint-experimental/125/ vs 11minutes for 120 .

[2016-03-01 04:37] mhdawson commented on #31
The 6-7 minutes is closer to what I expected so your change probably made the difference.

[2016-03-03 01:13] Trott opened #33 "Feature Request: Graphs with 0-based Y-axis"
The graphs at https://benchmarking.nodejs.org/ can be a little misleading if you don't notice that the Y-axis doesn't start at zero. So, for example, the graphs seem to exaggerate the start/stop time differential between 0.12 on the one hand and 4.x and 5.x on the other.

Any chance it's easy enough to make the graph Y-axis start with zero so that these comparisons are more proportional?

[2016-03-05 17:03] mhdawson commented on #33
I'm not sure that starting at zero would be better.  In the cases where the numbers are large it would end up hiding differences.  The way its easier to see when one is higher/lower than the others and it does not take that much to figure out what the actual delta is see whether it is significant or not.

[2016-03-05 17:05] mhdawson opened #34 "Chart generation"
@gareth-ellis  mentioned that in order to investigate differences between versions and/or between the same version between date we should include the commit hash for the build as part of the benchmark data stored.

This issues to remind us to do that.

[2016-03-05 17:07] mhdawson opened #35 "Feature Request: Add release dates to charts"
@ofrobots suggested that we should include the release dates in the charts, that would help tell if there is a correlation to changes in the charts.

Not sure how easy this will be and wonder if it might get a bit crowded as releases are quite regular but this issue is to investigate that possiblity

[2016-03-10 23:26] mhdawson commented on #13
Ok data is available on benchmarking.nodejs.org

[2016-03-10 23:26] #13 closed

[2016-03-16 15:32] mhdawson opened #37 "Next benchmarking meeting"
# Who

@nodejs/benchmarking

# When
TBD new doogle poll http://doodle.com/poll/uiyhwxb4wp3ndpya

# Where
link for participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYcoZvyPbXO1NWe9y5iZAMT7isERQk1rRHqKtSHMxoqm83FXTA?hl=en

For those who just want to watch: http://youtu.be/vdo8Z_T8LyU

Events page: https://plus.google.com/events/cp8coosclreo3s91vh2e9vj1vg0

Google doc for minutes: https:

[2016-03-16 23:28] ofrobots commented on #13
@mhdawson: For me http://benchmarking.nodejs.org redirects to the main website.

[2016-03-17 08:06] gareth-ellis commented on #13
@ofrobots I saw that once or twice to start with too - I've worked out what it is

You need to goto https://benchmarking.nodejs.org - rather than just http.

Would be good we could have it that either works, or that http redirects to https....

[2016-03-18 08:50] gareth-ellis opened #38 "Regressions in buffer operations - 4.4.0"
Hello,

One of the benchmarks we run contains what is in effect a number of microbenchmarks. We do a number of different actions with buffers, and I noticed in 4.4.0 we have seen a drop in some of these buffer tests.
One of these tests is looking at how long it takes to create a new buffer from an array of data.
[code]

Our harness repeats the test function a number of times, either until we get g

[2016-03-18 09:25] targos commented on #38
cc @nodejs/lts @Trott @trevnorris

@gareth-ellis
Could you make another try by only changing let to var [here](https://github.com/nodejs/node/blob/v4.4.0/lib/buffer.js#L135) ?

[2016-03-18 10:12] gareth-ellis commented on #38
Looks good -

**4.4.0**
sdk4.40/bin/node new-buffer-from-array-test.js
total time: 5.032s -- iterations: 27 -- ops/sec: 5.37 -- average time: 0.19s -- variance: 4.58%
total time: 5.175s -- iterations: 28 -- ops/sec: 5.41 -- average time: 0.18s -- variance: 0.26%
total time: 5.172s -- iterations: 28 -- ops/sec: 5.41 -- average time: 0.18s -- variance: 0.25%
total time: 5.174s -- iterations: 28 -- o

[2016-03-18 17:34] TheAlphaNerd commented on #38
Is this due to the version of v8 that we are currently shipping with v4? would v5 be suffering a similar fate? /cc @ofrobots

Based on these bench marks I'd be open to doing a project wide `s/for(let/for(var/`, at least for lts

thoughts?

[2016-03-18 18:05] jasnell commented on #38
It's likely due to some point in time optimization quirk with the version of v8. We can likely get those `let`/`const` uses reverted in v4, just need a PR opened against v4.x-staging to do so!

[2016-03-18 18:42] ofrobots commented on #38
I think it would be best to avoid `let` in `for` loops until TurboFan becomes the default optimizer. See also:  https://groups.google.com/d/msg/v8-users/hsUrt4I2D98/QpvLs6aFAQAJ.

[2016-03-18 18:44] TheAlphaNerd commented on #38
@ofrobots when is the timeline for TurboFan becoming the default optimizer? Should we be updating master / v5 as well?

[2016-03-18 22:09] gareth-ellis commented on #38
Once we know where the PR should just be targeted, I can raise it

[2016-03-18 22:12] TheAlphaNerd commented on #38
@gareth-ellis I think that this should likely be targeted at master if TurboFan is not coming with v8 v5.x

If we do target master we will likely want to include a rule for eslint to enforce that we don't regress here

[2016-03-18 22:38] trevnorris commented on #38
v4 is when we switched to using the typed array API. I believe the mechanics are getting faster since then, but there was a known performance drop when moving over. Nothing we can do since the API previously relied on was removed.

[2016-03-24 10:16] gareth-ellis commented on #38
I think can close this too, the PR has landed

[2016-03-24 10:16] #38 closed

[2016-03-24 16:30] mhdawson commented on #37
@thealphanerd. FYI - based on our latest conversation you may want to attend.

[2016-03-28 15:38] williamkapke commented on #37
@mhdawson Please see https://github.com/nodejs/TSC/issues/68 and ask @mikeal for assistance on the YouTube channel.

[2016-03-29 14:39] #30 closed

[2016-03-30 18:52] williamkapke commented on #37
It appears the stream isn't working...?

[2016-03-30 18:55] TheAlphaNerd commented on #37
Did this happen? I had it in my schedule for 12 PST, but am now noticing it may have been at 11.

[2016-03-30 19:06] mhdawson commented on #37
Sorry I managed to miss adding this to the calendar.  I'll send out a new poll to find a new time. Sorry about that everybody

[2016-03-30 19:16] mhdawson commented on #37
New doodle poll http://doodle.com/poll/uiyhwxb4wp3ndpya

[2016-03-30 19:18] mhdawson commented on #37
@nodejs/benchmarking please check out new doodle poll to select a time.  Again I'm really sorry for spacing out and missing agreed time.

[2016-04-01 18:09] mikeal opened #39 "Do we have master vs release vs LTS benchmarks?"
We have a few scattered reports of perf regressions in V8. It would be good to know about these before we close in on a major release so having an ongoing comparison with master and the release lines would be good.

[2016-04-04 13:00] gareth-ellis commented on #39
Hi @mikeal

At the moment we master, v4.x and v0.12.x on the charts at https://benchmarking.nodejs.org/

Is that the sort of thing you're after, or from another stream? My understanding is that it shouldn't be too much work to include some extra builds if there's different ones required.

[2016-04-04 16:44] mikeal commented on #39
this is great! :)

[2016-04-04 16:44] #39 closed

[2016-04-04 17:35] mscdex commented on #34
+1 I was just about to raise an issue about this. Seeing "master" in the existing graphs is ambiguous.

[2016-04-08 22:34] mhdawson commented on #37
@nodejs/benchmarking  - see updated meeting time/date set for next Tuesday @ 12pm EST

[2016-04-12 16:01] mhdawson commented on #31
Closing as resoveld

[2016-04-12 16:01] #31 closed

[2016-04-12 16:48] mhdawson commented on #33
Discuss in latest benchmarking WG meeting.  Consensus for those with an opinon seemed to be for now that it is better to see the variance as opposed to potentially hiding by starting at 0.  Rich unless you object I I'd like to close this one for onw.

[2016-04-12 17:00] #33 closed

[2016-04-12 21:05] mhdawson commented on #37
Link to minutes here: https://github.com/nodejs/benchmarking/blob/master/meetings/2016-04-12/minutes.md

[2016-04-12 21:17] mhdawson commented on #37
Still figuring out how to move the video to the node.js channel so will leave this open until I do that

[2016-04-12 21:26] mhdawson commented on #5
Closing as we have captured in 18eaa6d00d37fb3ac664db2873817e0c7c901083

[2016-04-12 21:26] #5 closed

[2016-04-14 20:30] mhdawson opened #40 "Run benchmarks on 6.x and add to charts"
We need to:

- [x] add stream id to https://github.com/nodejs/benchmarking/blob/master/benchmarks/StreamIDs.md
- [x] add job to run benchmarks on 6.X
- [x] add entry in json config for each benchmark to add display of 6.x data on charts
- [x] validate charts show data and all looks ok
- [x] Updated job to point at 6.X stream when its cut

[2016-04-14 20:33] mhdawson commented on #40
Added new job with stream id for 6.x. https://ci.nodejs.org/job/benchmark-footprint-6.x/.  For now it just runs on master as well but that's equivalent to what 6.x will be.  When 6.x is cut we'll make it point at that branch.

[2016-04-14 20:34] mhdawson commented on #40
Have added the following to the config files in my repo:
 {"streamid": 4, "name": "6.x", "color": "DarkMagenta" }

will commit once we have a at least one day of data captured against the 6.x stream

[2016-04-14 20:41] mhdawson opened #41 "Validate expected module loading perf improvements - Apr 2016"
https://github.com/nodejs/node/commit/ae18bbef48d87d9c641df85369f62cfd5ed8c250 improves module loading (require) performance. We have 2 benchmarking running regularly that measure that.  Initial runs indicate we should expect an increase for the "new" case.

This issue is a reminder to validate that in the graphs after the next run and to document why the change occurred in the graph.

[2016-04-15 14:44] mhdawson commented on #41
As expected large jump in perf for require new case: https://benchmarking.nodejs.org/charts/require_new.png.  Went from 14603  to 24127.

From the single data point cached seems to be unchanged.

[2016-04-15 14:47] mhdawson commented on #41
Closing.

[2016-04-15 14:47] #41 closed

[2016-04-15 20:31] mhdawson commented on #40
committed addition to configuration files to add display of 6.X, will check graphs on Monday

[2016-04-18 05:38] williamkapke opened #43 "Missing github names?"
2 of the team members do not have Github usernames listed in the README.
- Mark Leitch
- David Stewart

Can they get added?

[2016-04-20 18:03] leobalter opened #45 "performance version of test262"
Following up @mikeal's [tweet](https://twitter.com/mikeal/status/722837845908389888), I'm here to say a initial hello to this WG. I'm sorry if I'm using the wrong channel. I'm a TC39 member, representing the jQuery Foundation (that's pretty recent), and a maintainer of test262.

We can have performance tests on test262. TC39 just created another test262 sibling repo for parser tests (see https://g

[2016-04-21 09:55] eljefedelrodeodeljefe commented on #40
@mhdawson the charts being shared by some guys currently come from this, right? As an external to the group, could you shed some light on the tooling?

[2016-04-21 12:57] gareth-ellis commented on #45
This sounds like the sort of thing we should look into, certainly.

I've had a quick look through some of the tests (i see there's almost 17000!) , and some we should be to turn into performance benchmarks.

In an ideal world, we'd look at using the files like they are, however with the asserts in the files as well i wonder if we'd risk performance testing that, rather than the actual code.

I'll

[2016-04-21 21:51] mhdawson commented on #45
I think we need to understand why a particular test makes sense to benchmark.  We can't benchmark everything and even if we could it would be hard to understand/action the data.

What' I'd like is that suggested tests be put in the context of:

1) helping to validate performance on one of the uses cases here: https://github.com/nodejs/benchmarking/blob/master/docs/use_cases.md
2) helping to valida

[2016-04-21 21:54] mhdawson commented on #40
This page describes the infrastructure flow:  https://github.com/nodejs/benchmarking/blob/master/benchmarks/README.md.  If you have other questions just let me know.

[2016-04-25 19:01] mhdawson commented on #43
Fixed.

[2016-04-25 19:01] #43 closed

[2016-04-26 23:20] mhdawson commented on #40
Switched over to 6.x branch, closing

[2016-04-26 23:20] #40 closed

[2016-05-01 22:12] mscdex opened #47 "Easy acmeair benchmarking setup"
Is there a VM image, container, or something similar that I can use to easily test local performance-related changes (for the acmeair benchmarks)?

[2016-05-02 13:56] mhdawson commented on #47
There is nothing like that right now. The scripts are in the benchmarking repo but the other components are only on the benchmarking machine as I was not sure about licences etc.  @gareth-ellis would it be possible to put together a step by help of how to get components/install/run and then we could use that to see if we can provide a pre-bundled package or something like that.

[2016-05-04 10:12] gareth-ellis commented on #47
I can look at putting together a list of steps to get the benchmark to work, however what would be the ideal solution? Some sort of docker image? Or just a script that can collect the artefacts and run?

Getting some performance tests run when potentially performance risky changes are going in would be a good step and would be easier than investigating a wide range of change sets in retrospect

Wh

[2016-05-04 13:44] mscdex commented on #47
Docker or similar image would be ideal I think. Less headache/work the better :-)

[2016-05-04 13:47] gareth-ellis commented on #47
OK, I've not done much with docker, but will take a look and report back!

[2016-05-20 17:24] mhdawson opened #48 "Next benchmarking meeting"
# Who

@nodejs/benchmarking

# When

Based on doodle poll http://doodle.com/poll/bs4qtd27656bbq9g

set for Tuesday June 7 @ 3PM EST

# Where

link for participants:https://hangouts.google.com/hangouts/_/hoaevent/AP36tYdJgVyLvEJcjSAgfFguEKxasZD03BHQiTuFA-iRFacF6bPrgA?eid=100598160817214911030&hl=en

For those who just want to watch: http://www.youtube.com/watch?v=K7jHuYxx5Hc

Events page: https://p

[2016-05-20 17:24] mhdawson commented on #37
Don't think moving is all that practical, so will setup next one such that recording is in the right place and closing thisone.

[2016-05-20 17:24] #37 closed

[2016-06-01 18:46] gareth-ellis commented on #47
@mscdex

Sorry for the delay.

I've put together a dockerfile which will start up a ubuntu image, install dependencies, copy over an Assets.zip (which contains a patched version of apache jmeter, and a copy of acmeair). It will also put over two copies of node - a baseline & a build to test.
Ideal situation would be that you could generate a baseline which is head, and a build which is head + the

[2016-06-02 08:59] gareth-ellis commented on #45
@leobalter any updates on this?

[2016-06-02 15:41] leobalter commented on #45
I'm sorry for being absent.

We have plans to revive the test262 website and reorganize test run by features subsets and fetch data from automated test runs. That can evolve to time sensitive runs and probably places where we can seek for opportunities to run benchmark tests. This is only a fragment of features that would be interesting to connect test262 to benchmark runs.

I don't have more answ

[2016-06-07 19:10] mhdawson commented on #48
Sorry will start in 1 min

[2016-06-07 19:18] mhdawson commented on #48
Sorry still having issues in starting hangout as I created it so it would show up in the Node.js youtube, hopefully I'll get it up soon.

[2016-06-07 19:53] mhdawson commented on #48
Ok meeting is over now.  Will post minutes and link to youtube recording in next day or so

[2016-06-08 18:19] mhdawson commented on #48
Minutes here: https://github.com/nodejs/benchmarking/blob/master/meetings/2016-06-07/minutes.md  let me know if any updates are required:

youtube recording here: https://www.youtube.com/watch?v=K7jHuYxx5Hc

[2016-06-08 18:19] #48 closed

[2016-06-29 20:36] rayshan opened #50 "Indicate whether higher or lower numbers are better for each chart"
Hi! It's not clear at a glance whether higher or lower numbers are better for each chart. For example, for the Start + Stop Time chart, viewer has to understand y-axis is time, thus lower numbers are better for that chart.

[2016-06-30 10:30] gareth-ellis commented on #50
I'll have a word with @mhdawson later, it should be an easy enough change to add it.

Perhaps to the y axis - have what is measured plus higher or lower is better.

i.e. Throughput - higher is better

Does that sound suitable?

[2016-06-30 18:56] mhdawson commented on #50
Adding a label somewhere should be pretty easy.  I'll look at doing that next week

[2016-06-30 19:02] rayshan commented on #50
Sure, thanks guys. I think it's typically done as a footnote at the bottom of the chart to not take up too much space next to the y axis.

[2016-07-05 20:44] mhdawson commented on #50
Initial change to add the data https://github.com/nodejs/benchmarking/pull/51/files

Will update later on to make it prettier by adding a single line somewhere in the chart and having it configurable through a separate element in the json.

[2016-07-06 14:02] mhdawson commented on #50
Even though PR is not landed, pushed change to benchmark machine generating graphs. You can see the new text at https://benchmarking.nodejs.org/

[2016-07-08 13:29] mhdawson commented on #50
PR landed, closing.  Will look to do better next time we refactor the generation.

[2016-07-18 07:46] gareth-ellis commented on #47
So, now that we've got this it would be good to try getting it in a state where it's easy to launch a run compare - perhaps if we have any performance risky changes due to come in?

@mscdex , what would be a good way of moving forward so we can start using this?

[2016-08-02 12:59] #50 closed

[2016-08-02 13:00] mhdawson opened #53 "nightly benchmark jobs failing on master"
Seem to have been failing since last week:

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-experimental/283/console

/home/iojs/build/workspace/benchmark-footprint-experimental/node/bin:/home/iojs/build/workspace/benchmark-footprint-experimental/node/out/Release/:/usr/lib/ccache:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
+ cd ..
+ mkdir bench
+ cd bench
+

[2016-08-02 13:06] mhdawson commented on #53
Seems required file was removed as part of this:

[2016-08-02 13:12] gareth-ellis commented on #53
https://github.com/nodejs/node/commit/ee2843b4ea54b04eca30e00ec1ab39206449bd52

Perhaps we can just pull that one into our repo? Seems only a few lines

[2016-08-02 13:17] mhdawson commented on #53
Yes doing that now.

[2016-08-02 13:35] #53 closed

[2016-08-11 20:05] mhdawson opened #56 "Next benchmarking meeting"
# Who

@nodejs/benchmarking

# When

Set for Sep 21 at 12 PM EST.

TBD Based on doodle poll: http://doodle.com/poll/t9dd7etthd3729gq

# Where

link for participants: https://hangouts.google.com/hangouts/_/ytl/a3FjUzGVC31cGbF6PkV78TahnSu0HYZcD19LjmNaDwM=?eid=100598160817214911030&hl=en_US&authuser=0

For those who just want to watch: http://youtu.be/CeuQi3S7Siw

Google doc for minutes: https://docs

[2016-08-11 20:16] mhdawson commented on #56
@nodejs/benchmarking please fill in your availability on the doodle poll in this issue.

[2016-08-18 15:26] Fishrock123 opened #57 "did some of the acmeair benchmarks break recently?"
https://benchmarking.nodejs.org/

some are showing no ops/s on master with very low memory usage

@nodejs/benchmarking

[2016-08-18 15:32] gareth-ellis commented on #57
Indeed,

This appears to be linked to  https://github.com/nodejs/node/issues/8051

I'm unable to reproduce locally so I am guessing that it is a particular version of module that isn't interacting happily with the change that 8051 refers to.

@mhdawson is currently out, as far as I'm aware he's the only one with access to the benchmark machine.

I would like a list of module versions we currently

[2016-08-19 10:39] gareth-ellis commented on #57
Upgrading mongodb to 2.0.x seems to fix the problem.

I'd like to understand which bit of mongo is using timers (as that's the code change that seems to have broken mongo).

in the mean time we could back up our current config on the benchmark server and give a build a go with the package.json changed to use mongo 2.0.x.

[2016-08-22 22:09] mhdawson commented on #57
Ran out of time today, should get to fixing the community benchmark server tomorrow

[2016-08-23 19:22] mhdawson commented on #57
Ok believe we have fixed up the benchmarks.  Will leave this open for a few days, provided we get good data in the graphs I'll then close.

[2016-08-23 19:24] ofrobots commented on #57
To be clear, you fixed this by changing the mongo version used by the benchmark? Could this change be submitted upstream into acmeair-nodejs?

[2016-08-23 20:02] mhdawson commented on #56
@nodejs/benchmarking seems like I've not gotten many responses on the doodle poll for the next meeting.  Is it just that August is not a good time ?  I'm looking for suggestions as to when people might be able to make it.

[2016-08-23 20:05] gareth-ellis commented on #57
Yes - I increased the mongodb requirement in package.json from 1.4.x to 2.0.x. I can raise a pull request in the acmeair repo. I still have a to do to identify which part of mongodb doesn't like the recent timer change.

[2016-08-23 20:24] mhdawson commented on #56
@nodejs/benchmarking,  @yanglei99, @michaelbpaulson, @suryadu, @gareth-ellis   seems that most people were not in the benchmarking team which is needed in addition to being in the collaborators list in order to get notifications.  Can you check out the doodle poll to indicate if any of the remaining days work for you, if not I'll send out a new poll - http://doodle.com/poll/t9dd7etthd3729gq

[2016-08-29 07:05] gareth-ellis commented on #57
This is resolved now and a pr accepted in the acmeair repo, so will close

[2016-08-29 07:05] #57 closed

[2016-09-01 19:46] mhdawson commented on #56
Not enough input on last doodle, now everybody has been add to the team so will try again.  New doodle poll: http://doodle.com/poll/zqebm8wqcqpnfedd

[2016-09-07 20:36] mhdawson commented on #56
@nodejs/benchmarking, only myself and @gareth-ellis have responded.  At this point we would be looking at the week of the 21st-23rd.  If you'd like to attend please fill in your availability: http://doodle.com/poll/zqebm8wqcqpnfedd

[2016-09-20 15:53] mhdawson commented on #56
@nodejs/benchmarking time set for benchmarking meeting - tommorow (Wednesday) at 12 PM EST.

[2016-09-21 16:31] mhdawson commented on #45
I talked to Boaz Sender from Bocoup at NodeInterative EU who is working on test262 as well. It sounds like tests262 was not written to test performance.  We might just run the full test suite and compare times but not sure how useful that would be,

[2016-09-21 16:33] gareth-ellis commented on #20
Closing as it's quite a while since this was raised, it's likely v8 has changed even more since the issue was spotted.

[2016-09-21 16:33] #20 closed

[2016-09-21 16:35] mhdawson commented on #14
I think this can be closed, referenced tool was updated a while back and not since then so WG is aware  and will keep in consideration as we move forward.

[2016-09-21 16:35] #14 closed

[2016-09-21 16:36] mhdawson commented on #12
@ofrobots  do you think this still makes sense ? (ie providing benchmarks to the v8 team)

[2016-09-21 17:00] ofrobots commented on #12
@mhdawson We (node-team at Google) do run AcmeAir internally on a regular basis and provide data & feedback to the V8 team. Having more *representative* workloads would be most welcome. I am wary of micro-benchmarks though.

[2016-09-23 17:07] mhdawson commented on #56
PR for minutes, https://github.com/nodejs/benchmarking/pull/59  @gareth-ellis please review.

[2016-09-23 17:07] #56 closed

[2016-10-04 07:17] bmeurer opened #60 "ES2015 / ES.next benchmarks for Node.js?"
The V8 team is looking to close the gap on ES.next vs ES5 performance, i.e. make ES2015 and beyond features as fast as their (naive) counterparts in ES5. There's a [preliminary performance plan](https://docs.google.com/document/d/1EA9EbfnydAmmU_lM8R_uEMQ-U_v4l9zulePSBkeYWmY) available. This work will be beneficial for the Node community in particular, as users have a dedicated environment, i.e. do

[2016-10-04 10:16] fhinkel commented on #60
cc @nodejs/ctc

[2016-10-05 09:51] yosuke-furukawa commented on #60
I have an interest in the full ES2015 node is so slower than current one. I will create the node repository and send performance result on this thread first.

[2016-10-05 17:38] michaelbpaulson commented on #60
@nodejs/benchmarking it'll be best if we could generate a sophisticated enough test that the ES2015 features are exhaustively tested.  I can start brain storming some ideas on what to build and we can address this in the next meeting

[2016-10-05 18:45] Fishrock123 commented on #60
related: https://github.com/nodejs/node/issues/8637

[2016-10-10 10:31] liang-jie opened #64 "How to run benchmark to post test data?"
I have understood this repo's work. It mainly receive data from benchmark machine and store it to db and turn into charts. But I want to run the benchmark myself.I know this benchmark runs on jenkins,but I do not know how to deploy it and how to get the result like startup time.So if there is any information about this problem.Thanks!

[2016-10-18 19:36] mhdawson commented on #64
I can give you some pointers.   All of the scripts that are run for the posted benchmarks are in the repo but its not necessarily obvious how/what to run for each.  I'll try to add some more details this week.

[2016-10-18 19:39] mhdawson commented on #60
Agreed, an ES.next benchmark would be interesting and it would be better if it was turned to reflect Node.js usage.  I we can end up with something that has a small number of numbers that we can track/report that would be good.  @michaelbpaulson sounds good.  I'll look at setting up a time for the next meeting.

[2016-10-20 21:43] mhdawson commented on #64
This is an example of the jenkins job which runs to generate the benchmarks.  Obviously you can't post results to the db but it shows how the job checks out from the repos and then runs the benchmarks to generate the data.

[code]

[2016-10-20 21:43] mhdawson commented on #64
Let me know if that answers your question or not.

[2016-10-20 21:46] mhdawson opened #65 "Add V7 to benchmarks, remove 0.10.X"
Once v7 becomes current we should add it the benchmark runs/data show
Once 0.10.X goes out of service we should remove it from the benchmark runs/data.

I propose we update the existing 0.10.X job to run against v7 instead (with a new id for the level of course) and then update the charts to show v7 instead of 0.10.X

[2016-10-20 21:47] mhdawson commented on #45
@leobalter wondering what the next step on this would be.

[2016-10-23 12:57] liang-jie commented on #64
Yes,Thanks a lot!

[2016-10-23 12:57] #64 closed

[2016-10-28 14:51] Fishrock123 opened #67 "benchmark enabling TCP_NODELAY"
see https://github.com/nodejs/node/issues/906

[2016-11-04 21:24] mhdawson commented on #67
I'll have a think on how easy this will be and comment.

[2016-11-08 13:55] mhdawson opened #69 "Next Benchmarking meeting - Nov 2016"
# Who

@nodejs/benchmarking
# When

Set for Friday Nov 18 at 4PM EST.

TBD Based on doodle poll: http://doodle.com/poll/pqiiexb6fnrtb769 (CLOSED)
# Where

link for participants: https://hangouts.google.com/hangouts/_/ytl/U28I1m3rIBX7vUZequdQb2ENxYTDuDO-InqdTSRmYR0=

For those who just want to watch: http://youtu.be/DNBx4YGFa2g
Google doc for minutes :https://docs.google.com/document/d/1PwmuSKGA5Hb

[2016-11-08 13:56] mhdawson commented on #69
@nodejs/benchmarking please fill in doodle poll with your availablity.

[2016-11-08 13:59] mhdawson opened #70 "Benchmarking WG members - still interested ?"
I've seen some of the WG's re-confirming membership by polling the WG members to make sure people are still interested/willing to be active.

Its probably time to do that for the benchmarking WG meeting.

Please respond to this issue confirming you are still interested and are willing to be active.  Based on this information we'll trim down the WG membership to those who will be participating goin

[2016-11-08 13:59] mhdawson commented on #70
I still plan to be active :)

[2016-11-08 15:35] ofrobots commented on #70
I haven't been active lately, but plan to be active.

[2016-11-08 15:54] michaelbpaulson commented on #70
I am still active

[2016-11-08 16:29] gareth-ellis commented on #70
I intend to remain active too

[2016-11-12 23:38] a0viedo opened #71 "Vanilla anyone?"
Hallo!

I found some [loop constructs](https://github.com/nodejs/node/blob/master/lib/events.js#L477) in the source that I think are intended for better performance but couldn't find any context for them.
I'm trying to go around some benchmarks for vanilla JavaScript and I couldn't found any on the WG or anywhere else. So bear with me and please let me know if there are holes in the logic here.

#

[2016-11-13 07:03] fhinkel commented on #71
I thought [this](https://chromium.googlesource.com/v8/v8/+/6e665b094e7cbb6187fb59e3eb135266fa4c2e96) makes the decreasing loop as fast as increasing ones, but it came in with v7, not v6 🤔.  So it doesn't quite fit your results.

We currently look at [these benchmarks](https://fhinkel.github.io/six-speed/). They compare "vanilla" ES5 implementations with similar ES6 implementations.

Maybe I'm miss

[2016-11-14 23:20] mhdawson commented on #69
@nodejs/benchmarking meeting time set based on doodle poll.
@currykitten FYI as well.

[2016-11-15 21:20] mhdawson commented on #71
My understanding is that v8 uses octane as a Javascript benchmark: https://developers.google.com/octane/ not sure if it has a test specifically for the case you are covering though.   It think its more real-world application oriented so quite likely not.

[2016-11-15 21:20] mhdawson commented on #71
@ofrobots are you aware of any other micro-benchmarks used by the V8 team ?

[2016-11-15 21:39] mhdawson opened #72 "Benchmakr charts Y-axis values offset"
Just noticed something strange.  Even though the relative relationships between releases make sense in the charts, it looks to me like the x-axis with the value on a given day is off versus what is reported in the benchmark jobs.

May be an issue with the underlying chart generation program, will need to investigate to see what is going on.

[2016-11-16 10:44] axel7born opened #73 "Date format generated by acmeair-driver can't be parsed by javascrpit Date()"
Hi,
I run the acmeair benchmark on ppc with cassandra.
I got an error from the cassandra driver, because
[fromDateWeb](https://github.com/acmeair/acmeair-nodejs/blob/master/routes/index.js#L122)
is undefined.
The reason is that the date string generated by __generateDate  can't be parsed
by javascript Date(). The format for this date string is generated [here]( https://github.com/acmeair/acmeair-d

[2016-11-16 14:40] mhdawson commented on #73
If/when the change lands in the main repo we'll look at upgrading.

[2016-11-16 14:43] mhdawson commented on #70
@nodejs/benchmarking second call.  The people who have responded are those who have been active recently.

We will discuss at the meeting this Friday if we should trim the membership list based on who has responded.  If you still want to be involved or on the @nodejs/benchmarking list please chime in.

[2016-11-17 10:22] fhinkel commented on #71
We have some micro-benchmarks here: https://github.com/v8/v8/tree/master/test/js-perf-test

[2016-11-17 21:49] mhdawson opened #75 "Run octane benchmarks as part of nightly benmarks"
We had a a recent case where one of our floating patches on v8 caused a performance issue. We believe this could have been caught with octane runs.

I'm thinking this means we should run octane nightly on master and publish the results.

@currykitten I know we run octane internally, would you be able to help putting together something that we can use to run in the community builds ?

[2016-11-17 22:45] mhdawson opened #76 "Add @jbajwa to v8 team"
Note sure were else to post this so here it goes.

Would like to add
@jbajwa to the team https://github.com/orgs/nodejs/teams/v8.  He works on keeping the Power and s390 ports up to date and it would be good for him to be copied on issues that go out to the v8 team.

@nodejs/v8 any objections ?

[2016-11-17 22:48] ofrobots commented on #76
+1
On Thu, Nov 17, 2016 at 2:45 PM Michael Dawson <notifications@github.com>
wrote:

[2016-11-17 23:20] bnoordhuis commented on #76
No objections.

[2016-11-18 05:21] targos commented on #76
No objection

[2016-11-18 13:25] CurryKitten commented on #75
@mhdawson Absolutely, I'll check how we're doing the Octane currently and see how this can be adapted for the community builds

[2016-11-18 20:53] gareth-ellis commented on #69
@mhdawson  the participant link seems to be giving a 403 not authorised....

[2016-11-18 20:59] mhdawson commented on #69
Not sure why'd you see that I just used the link to join.  Maybe it should just be:

https://hangouts.google.com/call/wuiaos42jzh6lbfq3mkaklx3uae

[2016-11-18 21:20] mhdawson commented on #69
Sorry for the delay having trouble getting it to let me start recording.

New link: https://hangouts.google.com/hangouts/_/ytl/U28I1m3rIBX7vUZequdQb2ENxYTDuDO-InqdTSRmYR0=

[2016-11-18 21:55] mhdawson commented on #65
v7 has beend added
10 was not included.

[2016-11-18 21:55] #65 closed

[2016-11-21 19:40] mikeal opened #77 "Relevant "Serverless" benchmarks"
Heya,

We're putting together more cohesive messaging around Node.js on "Serverless" (AWS Lambda, GCP functions, OpenWhisk, etc).

Part of this is collecting and tracking relevant benchmarks. Other than startup time, are there any other benchmarks we should be paying particular attention to?

Also, does anyone know of comparative benchmarks with Python, Go, or other platforms accessible on various

[2016-11-21 22:14] bnoordhuis commented on #75
If it helps, here is the script I use to run Octane locally:
[code]
I suppose we want something that writes a file (JSON?) with benchmark numbers?

[2016-11-21 22:41] jbajwa commented on #76
Thank you, I've joined the nodejs/v8 team.

[2016-11-22 14:33] mhdawson commented on #69
PR for meeting minutes: https://github.com/nodejs/benchmarking/pull/78

[2016-11-22 14:34] #76 closed

[2016-11-24 10:17] bnoordhuis commented on #75
As a small aside, it's interesting how much slower a new VM context is because of how global property loads/stores are intercepted.  Code:
[code]
Baseline, running in the main context with the code from https://github.com/nodejs/benchmarking/issues/75#issuecomment-262084693:
[code]
Running in a new context:
[code]
Performance relative to the baseline:
[code]
IOW, RegExp is almost as fast while Man

[2016-11-24 21:17] mhdawson commented on #75
@CurryKitten provided scripts to run through https://github.com/nodejs/benchmarking/pull/79 which has now landed.

I've updated the jobs to run and publish results

[2016-11-24 21:17] mhdawson commented on #75
Kicked off jobs to validate across the versions, when we do manual chart generation run

[2016-11-24 22:03] mhdawson commented on #75
Seems like it does not run on 0.12.x because the current version of octane does not support it:

[code]

@CurryKitten @bnoordhuis

I say given that 0.12.x goes out of service soon we should just not included it. @CurryKitten can you submit a PR to remove 0.12.x from the charts.

[2016-11-28 16:36] mhdawson commented on #75
Everything should be in place now, but the www for benchmarking is not being mirrored as expected.  Raised this issue: https://github.com/nodejs/build/issues/556.

You can see the chart directly at: https://benchmarking.nodejs.org/charts/octane.png

[2016-12-01 14:59] a0viedo commented on #71
Included `Array.prototype.slice` as @fhinkel suggests:

## v4
![](http://imgur.com/TWUUw52.png)

## v6
![](http://imgur.com/3QUqB69.png)

## v7
![](http://imgur.com/DbEHh0k.png)

Would love to graph node-chakra's results once they enable JIT.

[2016-12-01 16:58] fhinkel commented on #71
Double checking: So slice is faster than the other options? And always was faster?

You can compare to node-chakra on Windows (jitted there).

[2016-12-08 17:57] uttampawar commented on #70
@mhdawson: I intend to be active (uttam.c.pawar@intel.com) going forward. Please add me to the list.

[2016-12-09 13:44] CurryKitten commented on #72
I've been looking into this, and as an aside point, the instructions about installing Chart.js and Chart.Scatter.js (https://github.com/nodejs/benchmarking/tree/master/tools/chartGen/lib) would benefit by being more specific on versions needed.  I found that the lastest versions of the libraries weren't compatible with the chart get code.

@mhdawson was able to provide me a copy of the versions ru

[2016-12-12 23:40] mhdawson commented on #69
Minutes landed so closin.

[2016-12-13 11:44] CurryKitten commented on #72
The problem was in because the data on the charts animates into view.  There was already a 1 second delay for the page to complete before the screen shot was taken, but this wasn't enough to finish the animation.  I've just added a PR to turn the animation off - I've tested this and the generated png files look the same as the actual html

[2016-12-13 21:08] mhdawson opened #84 "Benchmarking meeting Thursday Jan 12 2017"
Who

@nodejs/benchmarking

# When

From doodle (http://doodle.com/poll/gpfsa3tf3buxfq5w) 2pm est Thursday Jan 12 2017

# Where

link for participants: https://hangouts.google.com/hangouts/_/ytl/zeaYO6qoqWnSmMgfrlxg3cEhqrN6xseejwzELEfH-zQ=?eid=100598160817214911030&hl=en_US&authuser=0

For those who just want to watch: http://youtu.be/E9ToYdEkRHc

youtube admin page: https://www.youtube.com/my_live

[2016-12-13 21:35] mhdawson commented on #72
PR for fix went in, had validated one chart so expect it will resolve.  Will validate/close this issue once charts are next fully transferred to benchmarking.nodejs.org.

[2016-12-13 21:36] mhdawson commented on #72
@CurryKitten can you also submit a PR to update the instructions to specify the versions needed so that we can recreate in case of machine loss.

[2016-12-14 11:41] CurryKitten commented on #72
@mhdawson Yes - I'll double check those versions and add an appropriate PR

[2016-12-14 19:10] mhdawson commented on #72
Ok, sniff checked acemair latency and value in job from last night matches what we get on the chart in respect to the Y axis in chart on benchmarking.nodejs.org.  closing.

[2016-12-14 19:10] #72 closed

[2016-12-16 01:57] sathvikl opened #86 "Add Node-DC-EIS to the benchmark suite"
Can we add [https://github.com/Node-DC/Node-DC-EIS ] to the benchmark suite.
This benchmark tests the  nodejs + mongo db + express.js  suite.

It has 3 modes  microservices / single node instance / cluster mode

What would be the process to do so ?
@upawar

[2016-12-16 01:57] sathvikl commented on #86
@CurryKitten

[2016-12-19 10:25] emanuelbuholzer commented on #70
@mhdawson I'd like to join/be active in this working group. I don't know if this is the correct place to state this but you could contact me at contact@emanuelbuholzer.com for a short discussion about this. :)

[2016-12-21 10:17] gareth-ellis commented on #70
@emanuelbuholzer , as an fyi, there's an issue open at the moment for planning the next meeting - #84 , fill in your availability on the doodle

[2017-01-04 17:46] mhdawson commented on #86
Which part of this matrix do you think that would add coverage for ? https://github.com/nodejs/benchmarking/blob/master/docs/case_coverage.md

[2017-01-04 20:47] mhdawson commented on #84
Based on doodle will set for 2PM on Thursday Jan 12.

[2017-01-04 21:03] mhdawson commented on #84
@nodejs/benchmarking @sathvikl time has been set.

[2017-01-04 21:06] williamkapke commented on #84
19:00 UTC

https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Benchmarking+WG+Meeting+2017-01-11&iso=20170111T19

[2017-01-04 21:09] mhdawson commented on #77
I'm not aware of any benchmarks.  Interesting a quick google search did not give any good hits, with this issue being the 2nd non-sponsored link returned.

@mikeal did you get any useful suggestions from anywhere else ?

[2017-01-04 22:10] mhdawson commented on #75
Still need help to get it showing up on bechmarking.nodejs.org

[2017-01-04 22:12] mhdawson commented on #71
Any more discussion here or has it run its course ?

[2017-01-04 22:12] #69 closed

[2017-01-05 21:38] mscdex opened #87 "show current value on graphs for each branch"
Since in many places there is a lot of visual overlap between branches in the benchmark graphs, it would be help to have some way to easily see where the current branch is on the graph. For example, right now it's hard to see where the master branch exactly is because it's usually covered up by the v7.x or other branch.

I was thinking about maybe have color-coded, labeled lines on the right-hand

[2017-01-09 22:07] mhdawson commented on #87
The easiest might just to have the latest number as part of the existing legend.  Does that make sense to you ?

[2017-01-09 22:46] mscdex commented on #87
That's fine, as long as the numbers are easily readable and comparable (e.g. digits aligned and thousands separators).

[2017-01-12 19:08] gareth-ellis commented on #84
Is the meeting starting soon?

[2017-01-12 20:13] williamkapke commented on #84
This meeting happened- however there was an error with getting it to stream live. :(

[2017-01-12 21:46] mhdawson commented on #84
PR for meeting minutes https://github.com/nodejs/benchmarking/pull/89

[2017-01-12 21:49] mhdawson opened #90 "Special Meeting - Deep Dive on Node-DC-EIS Benchmark suite"
# Who

@nodejs/benchmarking

# When

Set for Friday Feb 3 9AM EST.

doodle: http://doodle.com/poll/cav55sf7r5cfxks6 (close)

Poll will close Jan 23.

# Where

link for participants: https://hangouts.google.com/hangouts/_/ytl/9hR8qzRL8Xn0ziosKBY6JMHUG-n0qalXYJLNAajjs2I=?eid=100598160817214911030&hl=en_US

For those who just want to watch: https://www.youtube.com/watch?v=ktGMg8dj6Kk

youtube admin p

[2017-01-12 21:56] mhdawson opened #91 "Special Meeting - PGO deep dive"
# Who

@nodejs/benchmarking

# When

Wed Feb 15, 1PM PST

# Where

link for participants: https://hangouts.google.com/hangouts/_/ytl/NH_6tyz8abYim69liT4bERGkALuos4J4U8Wl8QJDTBw=?eid=100598160817214911030

For those who just want to watch: http://youtu.be/pC0Boxl2EPA

youtube admin page: https://www.youtube.com/my_live_events?filter=scheduled

# Agenda

Deep dive presentation from Kunal on PGO. He'

[2017-01-12 22:02] mhdawson commented on #91
@bnoordhuis @rvagg you might be interested in this based on past interested in issue 1409

[2017-01-12 22:05] mhdawson commented on #90
@williamkapke can you mention this one in the next CTC meeting (I won't be there) and add to the list of upcoming meetings as it would be good to get broader freedback on the benchmark.

[2017-01-13 10:49] bnoordhuis commented on #91
I don't really have anything to contribute.  The big blocker was (and presumably is) realistic benchmarks.

[2017-01-13 17:01] kunalspathak commented on #70
@mhdawson - It was pleasure talking to you in the meeting on Jan 12th. I would like to join the working group.

[2017-01-24 00:37] mhdawson commented on #91
@nodejs/benchmarking need more people to fill in the doodle with availability.

[2017-01-24 00:38] mhdawson commented on #90
@nodejs/benchmarking need more people to fill in doodle.

[2017-01-24 00:39] mhdawson commented on #90
@satvik can you fill in your availability for this one (I see you filled it in for the other one but not this one)

[2017-01-24 01:09] sberi-euclid commented on #90
@mhdawson I think you have the wrong Satvik :)

[2017-01-24 01:11] Satvik commented on #90
@mhdawson I think you tagged the wrong Satvik, I'm not related to this project :)

[2017-01-24 02:11] sathvikl commented on #90
@mhdawson  Thank you. I received the notification.
Any day except 1/26 and 1/27 will work for us. @AnilKumarRajput

[2017-01-25 14:20] mhdawson commented on #84
Minutes landed, closing

[2017-01-25 14:20] #84 closed

[2017-01-25 14:20] mhdawson commented on #75
Ok octane benchmarks now showing up on benchmarking.nodejs.org

[2017-01-25 14:20] #75 closed

[2017-01-26 13:57] CurryKitten commented on #87
I was looking at the charting generation recently, so I'm happy to pick this up

[2017-01-26 17:19] mhdawson opened #93 "Move benchmarking.nodejs.org to use SVGs versus PNGs"
From https://github.com/nodejs/nodejs.org/issues/1110#issuecomment-275234548

@silverwind mentioned:

While the logos sizes are now fixed, they PNGs should really be replaced with the SVG versions I added recently. They are 1/8th of the size at no quality loss.

[2017-01-26 17:27] silverwind commented on #93
It's a simple URL change. Replace

[code]
With
[code]
For light backgrounds, there's also
[code]

[2017-01-26 20:32] mhdawson opened #94 "Drop 0.12.x results from benchmarking.nodejs.org"
Now that 0.12.x is out of service I'm proposing dropping it from the charts on benchmarking.nodejs.org.  Any objections ?

@nodejs/collaborators

[2017-01-27 17:47] mhdawson commented on #93
PR https://github.com/nodejs/benchmarking/pull/96

[2017-01-27 23:03] mhdawson commented on #90
@williamkapke can you add to general node calendar

[2017-01-27 23:04] mhdawson commented on #91
@williamkapke can you add to general node calendar

[2017-01-27 23:44] williamkapke commented on #91
Added! 19:00 GMT on 2017-02-02

[2017-01-27 23:49] williamkapke commented on #90
Added! 14:00 GMT on 2017-02-03

[2017-01-30 22:05] #87 closed

[2017-01-30 22:12] #93 closed

[2017-02-02 18:58] mhdawson commented on #94
Dropped in https://github.com/nodejs/benchmarking/pull/97, charts look good, closing.

[2017-02-02 18:58] #94 closed

[2017-02-02 19:00] mhdawson commented on #67
Provided initial data in nodejs/node#906 a while back.

[2017-02-02 19:01] mhdawson commented on #91
Meeting is live, just waiting for participants to join.

[2017-02-02 19:02] gareth-ellis commented on #91
Trying to join....

[2017-02-02 19:08] mhdawson commented on #91
@kunalspathak you going to join ?

[2017-02-02 19:15] mhdawson commented on #91
Our presenter could not make it so need to reschedule.

@kunalspathak  could you send out a new doodle to pick a new time ?

[2017-02-02 19:43] kunalspathak commented on #91
@mhdawson , Sorry about that. For some reason, i didn't see any updates from this thread in my mail box so didn't realize the meeting was scheduled for today. I will schedule a meeting sometime next week. Sorry about that.

[2017-02-02 19:48] kunalspathak commented on #91
http://doodle.com/poll/g8y6z32xtgs8ry72

[2017-02-02 23:04] mhdawson commented on #91
Did you turn on timezone support ? I can't tell what timezones are my local time (EST) or something else ?

[2017-02-02 23:26] kunalspathak commented on #91
I didn't updated timezone when i opened my account. I did it and reconfigured the dates. Can you see the right timezone now?

[2017-02-03 14:03] mhdawson commented on #90
The meeting is live, just giving people a few more minutes to join.  Will start broadcast in 2-3 minutes.

[2017-02-03 14:08] mhdawson commented on #90
Presenter is just having some problems joining, we hope to start soon.

[2017-02-03 14:18] mhdawson commented on #90
Anil is still having issues, will start once we can get him in.

[2017-02-03 14:49] mhdawson commented on #90
Ok, we went live and meeting is now complete.  If you missed it, you should be able to watch the youtube recording.

[2017-02-03 14:49] #90 closed

[2017-02-03 22:56] mhdawson commented on #91
I think you have to enable it as part of creating the doodle and I don't think you can do it after the effect.

The first time I see is 11 AM on Thursday but no info on timezone.

[2017-02-04 01:41] kunalspathak commented on #91
Can you try this?

http://doodle.com/poll/ukkknw3rb5d644xs

[2017-02-04 19:17] gareth-ellis commented on #91
I can see time zone on that :)

[2017-02-07 14:51] mhdawson commented on #91
That worked for me as well.  Filled in my availability.

[2017-02-08 17:38] kunalspathak commented on #91
@nodejs/benchmarking . We need more people to participate.

[2017-02-08 17:52] michaelbpaulson commented on #91
Done

On Wed, Feb 8, 2017, 9:38 AM Kunal Pathak <notifications@github.com> wrote:

[2017-02-09 07:50] gareth-ellis commented on #91
Have replied (again). Seems my first response was lost

[2017-02-09 18:17] kunalspathak commented on #91
@michaelbpaulson , looks like best time we can have this is on 2/10 11AM PST. Is it possible for you to join then?

[2017-02-09 19:01] michaelbpaulson commented on #91
Sure

On Thu, Feb 9, 2017, 10:17 AM Kunal Pathak <notifications@github.com> wrote:

[2017-02-09 19:35] kunalspathak commented on #91
@mhdawson , I have closed the poll and scheduled the meeting for Feb 10th at 11 AM PST. Can you setup the hangout page and live streaming?

[2017-02-09 22:20] mhdawson commented on #91
Updated hangout to reschedule for Feb 10 11AM.  We should be good to go.  If there are any problems starting the event/recording I'll post in this issue as we start the meeting.

[2017-02-09 22:59] kunalspathak commented on #91
I see in the issue comment above that it reflects Thursday Feb 9, 11AM EST. May be you want to correct the date/time?

[2017-02-10 02:32] sathvikl commented on #91
@kunalspathak I have a conflict at that time.

Below are the PGO instructions I tried on Ubuntu 14.10 (gcc (Ubuntu 4.9.1-16ubuntu6) 4.9.1)  and
Ubuntu 16.04 (gcc (Ubuntu5.4.0-6ubuntu1~16.04.4) 5.4.0)

To build a node framework with PGO instrumented counters: apply this patch

diff --git a/common.gypi b/common.gypi
[code]

This will create
node/out/Release/obj
node/out/Release/obj.host
node/out/Rel

[2017-02-10 06:36] kunalspathak commented on #91
Thanks @sathvikl for the instructions. I appreciate it.

[2017-02-10 16:03] mhdawson commented on #91
Hangouts is up and running, just waiting for presenter and others to join.

[2017-02-10 16:08] mhdawson commented on #91
Trying to see if there is a way to get a hold of @kunalspathak

[2017-02-10 16:09] gareth-ellis commented on #91
Which time zone is this supposed to be ? EST or PST? I understood to be PST so another 3 hours time?

[2017-02-10 16:12] mhdawson commented on #91
I guess I got it wrong, I thought it was EST as I'm booked at 11 AM PST. But I'll try to start the meeting before I head out to my other one and Wayne can make it.

[2017-02-10 17:25] emanuelbuholzer commented on #91
I'm sorry, as I cannot participate this special meeting, because I have to work on some major incidents. Thanks for your understanding.

[2017-02-10 18:07] kunalspathak commented on #91
Yeah, the meeting was scheduled for 11 AM PST. @mhdawson , should we reschedule for next week as I saw many folks interested but couldn't make it for this slot because of conflicts?

[2017-02-10 19:07] mhdawson commented on #91
Going to be reschuled to try and get more people there.

[2017-02-10 20:11] kunalspathak commented on #91
Please add your availability here : http://doodle.com/poll/9ku6kv698a4ghn5b

[2017-02-13 19:33] kunalspathak commented on #91
@mhdawson , could you add your availability?

[2017-02-13 22:43] mhdawson commented on #91
@kunalspathak done.  @CurryKitten can you add yours as well.

[2017-02-14 13:51] CurryKitten commented on #91
@mhdawson Unfortunately, I can't make those times in the new doodle, so I'll watch later on YouTube

[2017-02-14 16:07] kunalspathak commented on #91
@mhdawson , can you schedule the hangout meeting for Feb 15th, 1 PM **PST** ?

[2017-02-14 19:35] mhdawson commented on #91
Ok meeting and info above updated to Feb 15th 1PM PST

[2017-02-14 19:41] kunalspathak commented on #91
@mhdawson , the title again says **1 PM EST.** It should be **1 PM PST**. 😃

[2017-02-14 19:46] gareth-ellis commented on #91
Updated it

[2017-02-15 19:24] mhdawson commented on #91
@gareth-ellis thanks.

[2017-02-15 21:00] mhdawson commented on #91
New link for hangout so we can get a recording https://hangouts.google.com/hangouts/_/ytl/NH_6tyz8abYim69liT4bERGkALuos4J4U8Wl8QJDTBw=?eid=100598160817214911030

[2017-02-15 21:01] mhdawson commented on #91
New link for those that want to watch http://youtu.be/pC0Boxl2EPA

Old link was not giving option to record.

[2017-02-15 21:01] mhdawson commented on #91
Just waiting for Kunal and then we'll get started.

[2017-02-15 21:01] kunalspathak commented on #91
I am getting error when trying to access the hangout link.

[2017-02-15 21:01] mhdawson commented on #91
We posted a new link are you using that ? Gareth is in.

[2017-02-15 21:02] kunalspathak commented on #91
Yes, i am using this link:

https://hangouts.google.com/hangouts/_/ytl/NH_6tyz8abYim69liT4bERGkALuos4J4U8Wl8QJDTBw=?eid=100598160817214911030

[2017-02-15 21:02] mhdawson commented on #91
My only other suggestion is to try different browser as people seem to have intermittent problems getting in

[2017-02-15 21:03] mhdawson commented on #91
Looks like the right link to me.

[2017-02-15 21:03] kunalspathak commented on #91
Errors on Edge, Chrome and Firefox.

[2017-02-15 21:04] kunalspathak commented on #91
![error](https://cloud.githubusercontent.com/assets/12488060/22995325/47dbe492-f37f-11e6-878f-4dd235f5aa3a.PNG)

[2017-02-15 21:05] mhdawson commented on #91
Do you have a different machine you can try, I know that has fixed it for some people

[2017-02-15 21:05] kunalspathak commented on #91
Let me try.

[2017-02-15 21:05] gareth-ellis commented on #91
That looks like the sort of error I've had in the past. I am however using chrome now (same machine that I previously had issue with)

[2017-02-15 21:09] mhdawson commented on #91
Ok starting up the meeting now.

[2017-03-01 17:00] mhdawson opened #99 "Benchmark jobs failing"
The benchmark jobs seem to have been failing for the last little while.  Need to investigate.

For example:
https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-6.x/329/

[code]

[2017-03-01 17:00] mhdawson commented on #99
My first guess is that the node app on the benchmark data machine is not running

[2017-03-01 17:03] mhdawson commented on #99
It was not running, restarted.

[2017-03-01 17:04] mhdawson commented on #99
Launched builds to validate

[2017-03-01 17:46] mhdawson commented on #99
Looks like problem is resolved, also opened some issues in the build repo to start process of making sure more of the team can access/help with issues like this.

[2017-03-01 17:46] #99 closed

[2017-03-01 17:48] mhdawson commented on #91
Meeting was help closing.

[2017-03-01 17:48] #91 closed

[2017-03-01 17:50] mhdawson opened #100 "Benchmark data cleanup"
The charts are becoming a bit dense, it may be time to start trimming the older data.   For discussion in the next WG meeting

[2017-03-01 17:51] mhdawson commented on #86
There was a meeting with the intro to the benchmark.  Next step is for sathvikl and team to submit a proposed configuration and the use cases that it covers.

[2017-03-01 17:52] mhdawson commented on #71
Its been 3 months since there has been any discussion. Going to close please re-open if more discussion is needed.

[2017-03-01 17:52] #71 closed

[2017-03-07 00:53] kunalspathak commented on #91
One of the follow-up from this meeting was to evaluate the impact of PGO on core benchmarks if we just use minimal training set. So i did an experiment of using Techempower and acme-air as training set and did a comparison of performance gain we get with PGO. [Here](https://gist.github.com/kunalspathak/7c98baff8348458a4026ef32b60f0ce0) are the results. To summarize, I do see similar perf win in co

[2017-03-08 01:02] sathvikl commented on #91
@kunalspathak  Thanks for posting.

Which compiler/version/OS was this on ?

When do you PGO are you seeing coverage errors, I'm working on addressing that.

Are you the PGO trained binary, trained/profiled with Techempower and acme-air,  on all these benchmarks ? If you train the PGO with array.js (as an example) and run array.js benchmarks what improvement differences would you observe ?

[2017-03-08 01:08] kunalspathak commented on #91
I should have mentioned this. This is on Windows, VS2015, based on https://github.com/nodejs/node/commit/b26a469

No. I didn't see any. What type of coverage errors do you mean?

The binaries were trained using **Techempower** and **Acmeair**. Once I produced the binaries, I ran no-pgo vs. pgo comparison on core benchmarks.

I didn't try this specifically, but I am sure that this will definitely s

[2017-03-08 02:27] sathvikl commented on #91
With GCC 5.x I was getting coverage errors, meaning the code was relocated so I needed the -coverage-mismatch flag. I saw a bugzilla ticket where the same was fixed for mozilla engine.

This is great if PGO trained binaries can give overall 10% improvement for all frameworks.

I meant to explain that micro benchmarks executed by binaries trained by the same micro-bench would probably give an even

[2017-03-08 03:06] kunalspathak commented on #91
It does give summary of no. of functions optimized, etc, which I don't see useful except I feel good if more functions were optimized 😄

@gareth-ellis  was also curious in PGO meeting if we can get actual function names that were optimized. I will follow up with VC++ team and get back to you guys on it.

[code]

[2017-03-08 23:43] kunalspathak commented on #91
Alright, so regarding summary report, we can obtain below information:
* List of functions inlined. However the list is gigantic. It is output as part of build process and when I dumped it into the file, the file size was approx. `550 MB`. So don't think it will be super useful.
* Summary of functions that were profiled and how hot they were during profiling.
* Summary of functions that were not o

[2017-03-09 04:28] sathvikl commented on #91
From uarch analysis, I had found that approx. the number of instructions executed had reduced by 9-10% and the PGO speedup was around 10%.

I like that VS can give us this info, I was not able to extract it easily out of GCC. GCC just prints on a per function basis what optimizations were done, just the raw count and the same info can be obtained for the overall compilation.
What options need to b

[2017-03-09 18:24] kunalspathak commented on #91
Passing linker flag `/d2:-inlinelog` gives that information

`pgomgr /summary <binary_name_prefix>.pgd`

Set environment variable `set PGU_LOG=1` and it will dump `<binary_name_suffix>.pgu.log` next to the binary.

`pgomgr /detail /summary <binary_name_prefix>.pgd`

I have placed all the files [here](https://drive.google.com/drive/folders/0B3-LN3X2DAmQcHE0YWF0NXFQUEU?usp=sharing).

[2017-03-13 19:13] sathvikl commented on #86
@mhdawson I took at the "Adding a benchmark" section of the documentation. However I am not clear on where should I submit the use cases/ attributes ?

Commenting here is sufficient ?
Where should the details like benchmark stream id, chart details etc must be sent to ?
There are 3 configurations it runs on:
1. single process (Monolith mode)
2. cluster mode
3. micro services mode

So we should cre

[2017-03-28 21:13] sathvikl commented on #86
ping

[2017-04-03 22:08] mhart opened #102 "Add UglifyJS benchmark"
As suggested from https://github.com/nodejs/node/issues/11923#issuecomment-291286419 (where some performance regressions were found in v7.x)

[2017-04-12 21:35] gibfahn commented on #102
ping @nodejs/benchmarking

[2017-04-13 10:13] bnoordhuis commented on #102
Still seems like a good idea to me.  If no one is working on it, I'd be willing to pick it up.

[2017-04-18 20:00] mhdawson commented on #102
@bnoordhuis, there are docs in this repo on how to configure to add a new benchmark to the nightly runs/charts but I don't think you'll have all of the access needed to test it out.  Most of the  work make be in a script to run the benchmark (depending on how much it takes).  Once you have a PR I can help test out in advance of landing.

[2017-04-19 23:04] sathvikl opened #103 "Next benchmark meeting"
Any thoughts on when should we have the next node.js meeting..

[2017-05-11 15:08] mhdawson commented on #103
Good, point. Its been on my list for quite a while.  Nod sure why I did not catch the notification for this.

[2017-05-11 15:15] mhdawson commented on #103
@nodejs/benchmarking google poll for next meeting time: https://doodle.com/poll/xevr65f6eb47k53q

[2017-05-11 15:16] mhdawson opened #105 "Add nightly benchmark runs for Node version 8"
Looks like its time to add the benchmark runs for Node version 8.

[2017-05-11 15:26] mhdawson commented on #105
Job to run benchmarks on v8.x added here https://ci.nodejs.org/job/benchmark-footprint-8.x/

[2017-05-16 20:39] mhdawson commented on #103
Ok final time select May 18 at 5PM EST.  Will open issue to capture that.

[2017-05-16 20:42] mhdawson opened #107 "Node.js Community Benchmarking meeting 18 May 2017 - 5 PM EST>"
Who

@nodejs/benchmarking

# When

From  https://github.com/nodejs/benchmarking/issues/103 5pm est Thursday May 18 2017

# Where

* link for participants: Will add 5 mins before start of meeting:https://hangouts.google.com/hangouts/_/ytl/BA05JnRNlaSPiUdCLxBGRitBNzHQS1L-I-ZbA4TgPrU=?eid=100598160817214911030
* For those who just want to watch: https://www.youtube.com/watch?v=HrCE5GM8c8Q
* youtube a

[2017-05-18 14:48] mhdawson commented on #103
Believe we can close this issue in favor of https://github.com/nodejs/benchmarking/issues/107

[2017-05-18 14:48] #103 closed

[2017-05-18 15:00] mhdawson commented on #70
Going to close this for now.

[2017-05-18 15:00] #70 closed

[2017-05-18 21:00] mhdawson commented on #107
https://hangouts.google.com/hangouts/_/ytl/BA05JnRNlaSPiUdCLxBGRitBNzHQS1L-I-ZbA4TgPrU=?eid=100598160817214911030

[2017-05-19 14:56] mhdawson commented on #107
Minutes https://github.com/nodejs/benchmarking/pull/108

[2017-05-19 14:58] mhdawson opened #109 "Set up a regular time for benchmarking WG meeting"
In the last meeting we agreed trying to find a regular time to meet would be good.

Doodle poll to try and find a time http://doodle.com/poll/ihkis7cnrqnmbwnp

@nodejs/benchmarking

[2017-05-19 15:34] mhdawson commented on #107
Issue for choosing a regular meeting time: https://github.com/nodejs/benchmarking/issues/109

[2017-05-19 15:36] mhdawson opened #110 "Setting up/configuration Benchmark CI jobs - working session"
As discussed in the last meeting, for those who want to help in setting up/configuring/maintaining the benchmarking jobs.

Some background to read: https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md

<s>Doodle for meeting time: https://doodle.com/poll/gh6b3g436h3pp6ub</s>
<s>Time selected as Thursday June 1 @ 3EST.  </s>

New doodle http://doodle.com/poll/t9

[2017-05-19 15:39] mhdawson commented on #107
Issue for session on configuring CI jobs: https://github.com/nodejs/benchmarking/issues/110

[2017-05-19 21:56] uttampawar commented on #107
New issue to add Node-DC-EIS to the benchmark suite is opened at,
https://github.com/nodejs/benchmarking/issues/86

[2017-05-24 13:41] mhdawson commented on #110
@nodejs/benchmarking so far nobodies completed the doodle yet
@kunalspathak, @kfarnung, @boingoing, @uttampawar

[2017-05-24 13:42] mhdawson commented on #109
@nodejs/benchmarking reminder to fill in availability, only 1 participant so far.

[2017-05-24 13:51] mhdawson commented on #107
Minutes landed, closing

[2017-05-24 13:51] #107 closed

[2017-05-24 13:52] mhdawson commented on #86
@sathvikl, I think based on the discussion in the last benchmarking meeting its clear how to proceed.  If not let me know.

[2017-05-24 17:56] kfarnung commented on #110
👍

[2017-05-24 21:22] mhdawson commented on #110
Thanks @kfarnung.  I'll check if anybody else has filled in the doodle as of tomorrow morning and then see if we can set it as one of those times or need to try with a new doodle.

[2017-05-24 21:24] mhdawson commented on #109
@kunalspathak, @kfarnung, @boingoing, @uttampawar in case you missed the origin ping.

[2017-05-25 08:53] gareth-ellis commented on #109
Have been away for the last couple of weeks, I've replied based on "normal" availability, there may be exceptions on odd weeks.

[2017-05-25 09:00] gareth-ellis commented on #110
I would be interested but I think i'll struggle to join today. If there's a recording of the session available afterwards that would be good

[2017-05-25 13:17] mhdawson commented on #110
I did want to get at least one of the people from Intel in the session as well as they seemed very interested in being included.  I still only see @kfarnung as having completed the doodle poll so I'll set up new one to try for next week.

[2017-05-25 13:24] mhdawson commented on #110
New poll: https://doodle.com/poll/gh6b3g436h3pp6ub

[2017-05-25 13:25] mhdawson commented on #110
@nodejs/benchmarking, @kunalspathak, @kfarnung, @boingoing, @uttampawar
new poll, please complete.

[2017-05-27 13:45] mhdawson opened #111 "Benchmarking for Node Verison 8 -broken by npm upgrade"
Seems like npm 5 beta in version 8 has broken the benchmark job for version 8.

Most likely because we depend on the location of the .js file as opposed to doing a full install. Need to investigate and fix up path when running with 5.

[2017-05-29 13:41] mhdawson commented on #111
Issue seems to be that `.../node/deps/npm/cli.js` does not exist in master/v8.x but did exist in earlier node versions.  It was simply a wrapper that did:

[code]

[2017-05-29 13:46] mhdawson commented on #111
Looks like instructions in Makefile changes from:

[code]

to

[code]

in: https://github.com/nodejs/node/pull/12936

So looks like it is on purpose.

[2017-05-29 13:51] mhdawson commented on #111
Testing swapping one command for the other: https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-master/600/console

[2017-05-29 14:05] mhdawson commented on #111
Looks good in the master job, just applying to the 8.x job now.

[2017-05-29 14:16] mhdawson commented on #111
Ok, all green again, closing.

[2017-05-29 14:16] #111 closed

[2017-05-29 14:24] mhdawson commented on #109
@CurryKitten can you fill in your availability.

Ignore the actual  dates, just the day of the week as we are trying to set up a recurring meeting.

[2017-05-30 03:24] kunalspathak commented on #109
@mhdawson  - i have filled in my availability.

[2017-05-30 03:26] kunalspathak commented on #110
Updated my availability.

[2017-05-30 14:47] mhdawson commented on #110
Time selected as Thursday June 1 @ 3EST.  @kunalspathak, @kfarnung

[2017-05-30 17:08] kunalspathak commented on #110
@mhdawson  - We just realized that we have a training on June 1st @ 3EST. @kfarnung  and me will not be available? Can we reschedule it? Sorry about that.

[2017-06-01 19:02] mhdawson commented on #110
Sorry just saw this now, but will reschedule.

[2017-06-01 19:08] mhdawson commented on #110
New doodle http://doodle.com/poll/t9kmpticv6h8gups @kunalspathak @kfarnung @nodejs/benchmarking

[2017-06-02 12:35] mhdawson commented on #110
@uttampawar, @sathvikl   it would be good to get somebody from Intel participate if possible.

[2017-06-07 13:06] mhdawson commented on #110
Based on doodle have set for 5:30 EST on Thrusday the 8th.    The poll was for 5-6 but I'm booked at 5:00 to 5:30, I'm also away next week so instead of delaying lets start at 5:30 at least to get a start.

I'll add the hangout just before the meeting starts at 5:30.   @kunalspathak @kfarnung @nodejs/benchmarking @uttampawar @gareth-ellis @uttampawar, @sathvikl

[2017-06-07 13:11] mhdawson commented on #109
From the poll it looks like Mondays at 3 EST is about the best time.  It's a time that is not too late for those in Europe (8PM for England) and not too early for those on the east coast.  Lets start with that and we'll see how it works.  I'll set the next meeting for June 19th as I'm out next week.

[2017-06-07 13:18] mhdawson opened #113 "Benchmark WG meeting June 19 3PM EST."
Who

@nodejs/benchmarking

# When

Monday June 19, 3 EST.  (7PM UTC)

# Where

* link for participants: Will add 5 mins before start of meeting: https://hangouts.google.com/hangouts/_/ytl/3gFYQ4CGx-6sIXiYNzF1UrxQ5wPE6KleIVgYnjzEplU=?eid=100598160817214911030

* For those who just want to watch: https://www.youtube.com/watch?v=btuni4G3-Tk

* youtube admin page: https://www.youtube.com/my_live_event

[2017-06-08 21:30] mhdawson commented on #110
Link for the hangout https://hangouts.google.com/hangouts/_/ytl/292aFCmtSYKHBfioM8U6SofgQWfBHCKt-oCOmpZVZYU=?eid=100598160817214911030

[2017-06-08 21:35] kfarnung commented on #110
We're trying to get into the Hangout, having technical difficulties.  Be there soon.

[2017-06-19 19:00] mhdawson commented on #113
Link for participants: https://hangouts.google.com/hangouts/_/ytl/3gFYQ4CGx-6sIXiYNzF1UrxQ5wPE6KleIVgYnjzEplU=?eid=100598160817214911030

[2017-06-19 19:11] mhdawson commented on #110
Session held, closing

[2017-06-19 19:11] #110 closed

[2017-06-19 19:11] mhdawson commented on #109
Meeting, set done.

[2017-06-19 19:11] #109 closed

[2017-06-19 19:12] mhdawson commented on #105
done

[2017-06-19 19:12] #105 closed

[2017-06-19 19:12] mhdawson opened #115 "Remove 7.x from nightly benchmark runs"
Now that version 8.x is out, remove 7.x from the nightly runs/benchmarks.

[2017-06-19 19:13] kfarnung commented on #115
I'll take a stab at this.

[2017-06-19 19:13] mhdawson commented on #115
@kfarnung thanks.

[2017-06-19 19:14] kfarnung commented on #115
Per meeting, change color for 8.x to match 7.x once removed.

[2017-06-19 19:14] mhdawson commented on #102
@bnoordhuis you still working on this ?

[2017-06-19 19:16] mhdawson commented on #100
If anybody wants to start on this, just let me know and I'll grab a copy of the mysql database so that you can develop/test the cleanup scripts offline.

[2017-06-19 19:18] mhdawson commented on #77
I think we can close this, the initial question was answered and there has been no activity for quite a while.

[2017-06-19 19:18] #77 closed

[2017-06-19 19:23] mhdawson commented on #73
Sent email to Moss Uchida asking if the referenced PR is going to land.

[2017-06-19 19:24] mhdawson commented on #67
I still have an action to launch some more runs

[2017-06-19 19:25] mhdawson commented on #60
@bmeurer is this still relevant ?

[2017-06-19 19:28] mhdawson commented on #45
@leobalter is this still something you are hoping to move forward ?

[2017-06-19 19:28] gareth-ellis commented on #47
Will close this, the dockerfile is still in the benchmarking repo, if there's anything else we need to do on that, let us know @mscdex

[2017-06-19 19:28] #47 closed

[2017-06-19 19:31] mhdawson commented on #25
@michaelbpaulson I think we should close this for now as there has been no update for > 1year.  If you want to restart the conversation feel free to re-open.

[2017-06-19 19:31] #25 closed

[2017-06-19 19:34] mhdawson commented on #11
This issue is > 2 years since the last conversation.  Going to close. Please feel free to re-open.

[2017-06-19 19:59] bnoordhuis commented on #102
I think I may simply have forgotten to PR it.  I'll try to do that tomorrow.

[2017-06-19 21:00] kunalspathak opened #116 "Install clang on benchmarking machine"
I was trying the benchmarking CI job to gather performance numbers for `node-chakracore` and currently it is blocked because `clang` is not installed. Can we install `clang` on the benchmark machines?

I thought https://github.com/nodejs/build/pull/735/ would have addressed it, but looks like the ansible script changes doesn't install clang.

cc - @joaocgreis

[2017-06-19 21:43] kfarnung commented on #115
Opened PR #117

@mhdawson Is there an additional work item to disable 7.x benchmark runs in Jenkins?

[2017-06-19 22:39] mhdawson commented on #115
Just need to turn off the schedule and then delete the job.  I'll do that one the PR lands and is tested.

[2017-06-20 03:51] bmeurer commented on #60
Definitely. In the meantime Apple created an ES6 benchmark called [ARES-6](http://browserbench.org/ARES-6/), but it is not very representative of real workloads (except for the Babylon case) currently. And it doesn't contain any post ES6 features like `async`/`await`.

[2017-06-20 18:45] joaocgreis commented on #116
I did not include Clang in the Ansible script to avoid any possible interference with node-v8. We have a good download-and-cache script, in the beginning of chakracore-test-linux, and I'm trying to use that everywhere.

If I understand it correctly, you duplicated the benchmark job to benchmark-footprint-master-chakracore, so you can just copy the beginning of chakracore-test-linux to setup the en

[2017-06-20 19:02] kunalspathak commented on #116
Thanks @joaocgreis . I will give it a shot and see if it helps.

[2017-06-21 16:55] kunalspathak commented on #116
@joaocgreis  - Can you please review [these](https://ci.nodejs.org/job/benchmark-footprint-master-chakracore/jobConfigHistory/showDiffFiles?timestamp1=2017-06-19_10-03-35&timestamp2=2017-06-21_12-53-24) changes in the CI job to make sure that I added the build steps correctly? Before I trigger the run, I just want to make sure that this won't spoil the existing environment on that machine.

[2017-06-22 00:49] joaocgreis commented on #116
@kunalspathak those were the correct changes to port, but I see some issues:
- Each `Execute shell` block in jenkins will be a separate bash instance. So, environment variables won't propagate from one to the next (unless explicitly saved and injected). You have to add the changes in the same `Execute shell` block that needs them.
- In the chakracore job we use the git plugin, and it is configured

[2017-06-22 05:38] kunalspathak commented on #116
Ah, didn't know that. Thanks for the pointers.

I am following the convention of other benchmarking CI job and didn't prefer to add anything extra in configure step for chakracore job.

I prefer not removing these tools (unlike folders which we delete) unless you have a strong reason to remove other than normal cleanup.

No, it is not. i will remove the ninja flag given the fact we already use `cc

[2017-06-22 18:17] joaocgreis commented on #116
You need to begin the script with `#!/bin/bash -ex`, right in the first line, to make it use bash instead of dash. It was not there before, but should not be a problem to add. Other than that LGTM.

About not removing the folders: I don't think that'll be a problem. We could even change the script to take advantage of this, but I don't think it's worth maintaining a different script, at least for

[2017-06-22 20:58] kunalspathak commented on #116
Thanks @joaocgreis . I was able to run the job without problem. I was just wondering if some one can tell me the specs of the benchmarking machine. May be @jbergstroem?

[2017-06-22 21:25] kunalspathak commented on #116
I was able to successfully trigger different runs on the machine to make sure that environment setup made by chakracore doesn't spoil other benchmarks run.

`benchmark-footprint-master-chakracore` run : https://ci.nodejs.org/job/benchmark-footprint-master-chakracore/15/
`benchmark-footprint-master` run : https://ci.nodejs.org/job/benchmark-footprint-master/625/

[2017-06-22 21:25] #116 closed

[2017-06-26 14:56] mhdawson commented on #113
PR for minutes: https://github.com/nodejs/benchmarking/pull/118

[2017-06-26 14:57] mhdawson commented on #115
Job deleted, closing.

[2017-06-26 14:57] #115 closed

[2017-06-26 17:06] mhdawson opened #119 "Benchmarking WG meeting - July 3 - cancel ?"
Due to the Canada Day long week, I'm not going to be around on July 3. I suspect many of our US participants wil also be away due to the July 4th holiday in the US.

Should we just cancel this instance ?

[2017-06-28 14:27] AnilKumarRajput commented on #119
Yes , that will be fine . Thanks

Sent from my iPhone

[2017-06-28 19:13] kunalspathak commented on #119
Sounds good to me.

[2017-06-30 21:23] uttampawar commented on #86
@mhdawson @sathvikl There is a Node-DC-EIS v1.0 released today. Mike please let me know how this can be incorporated into nightly benchmarking testing. Is there a way to pull Node-DC-EIS code from github or do I need to push it with a PR?

[2017-06-30 21:25] uttampawar commented on #86
@mhdawson @sathvikl Adding github link - https://github.com/Node-DC/Node-DC-EIS/tree/v1.0

[2017-07-05 13:45] mhdawson commented on #119
Will setup meeting for next regularly scheduled time which is July 17.

[2017-07-05 13:45] #119 closed

[2017-07-05 16:44] MSLaguana opened #120 "AcmeAir benchmark seems very noisy"
I've been trying to benchmark Node-ChakraCore using the AcmeAir benchmark, and I'm getting a lot of noise in the throughput results. Is there any guidance on how to set up a machine for benchmarking, or what kind of environment to use to limit noise?

For my test I've been using a 4 core Ubuntu 16.04 machine with X disabled, running for 4 minutes and taking the average throughput of the last 2 min

[2017-07-05 18:35] gareth-ellis commented on #120
Two things I'd suggest:

Monitor the per second throughput from jmeter. There's a switch you can pass in to the command to get it to output per second or per 5 seconds. This is useful for monitoring whether the entire run is 10% lower/higher or (more likely) there's occasional drops in throughput due to either optimisations, GC or even locking. Once you can identify if this is happening I'd enable

[2017-07-09 08:21] kunalspathak commented on #120
@gareth-ellis , we use the acmeair from this repo without any modifications. By the way, do you know the configuration of benchmarking machine that runs official acmeair through CI?

[2017-07-09 08:43] gareth-ellis commented on #120
Hello, I tried to get the exact commands we run from the ci, but can't spot where abouts it is. It could be a permission thing.

But basically we run the https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/acmeair/run_acmeair.sh

This will either use environment variable $NODE or if that's not set the node that is on the path.

What you need to try and make sure is that node

[2017-07-09 23:46] kunalspathak commented on #120
Yes, you can get one of the [nightly](https://nodejs.org/download/chakracore-nightly/) version of node-chakracore and run.

[2017-07-13 22:10] #113 closed

[2017-07-13 22:13] mhdawson opened #122 "Benchmarking meeting Monday July 17 2017"
@nodejs/benchmarking

# When

 Monday July  17, 3 EST.  (7PM UTC)

# Where

* link for participants: https://hangouts.google.com/hangouts/_/ytl/cJ9wAwnbE0-1k_NV_DghKaoktVn_T_StMnGnzDW3LDg=?eid=100598160817214911030

* For those who just want to watch: https://www.youtube.com/watch?v=m2w_y-iMBYA
* youtube admin page: https://www.youtube.com/my_live_events?filter=scheduled

* Google doc for minutes:

[2017-07-14 11:19] gareth-ellis commented on #120
I had a go at getting a machine going with 16.04, but I think its too old to be much use (the machine), the nightly builds didn't contain any linux builds, so I had a go at building myself, but ended up when I tried to run it getting an illegal instruction exception on node -v the machine itself is probably getting on 10 years old, but is all I can get my hands on right now.

If when you run it ag

[2017-07-17 18:59] gareth-ellis commented on #122
Am not going to be able to make it tonight.

*Had a go at getting an enviromment going running ubuntu 16.04 to recreate variable performance seen in #120 , however don't have a machine that I can get ubuntu running on and be able to generate meaningful data.

[2017-07-17 19:00] mhdawson commented on #122
https://hangouts.google.com/hangouts/_/ytl/cJ9wAwnbE0-1k_NV_DghKaoktVn_T_StMnGnzDW3LDg=?eid=100598160817214911030

[2017-07-17 19:07] mhdawson commented on #122
@kunalspathak @kfarnung @uttampawar you going to join ?

[2017-07-17 19:08] mhdawson commented on #122
So far its just me so I'll wait about 5 minutes longer.

[2017-07-17 19:14] mhdawson commented on #122
Ok, it was just me on the call today so I think we'll cancel until the next time in 2 weeks.

[2017-07-17 19:14] #122 closed

[2017-07-17 19:18] kunalspathak commented on #122
Sorry Michael, I thought the meeting was at 5PM EST as usual. I didn't have much to share in this meeting as was busy in other activities.

[2017-07-19 18:08] sathvikl commented on #122
@mhdawson I thought it was on the 19th. Can we reschedule it for this month since no one was able to join.. ?!

[2017-07-19 21:14] uttampawar commented on #86
@mhdawson I'm sorry I missed WG meeting on Monday. I'd it on Wed, 19th July at 12 pm PST. Btw, Mike can you point me to the scripts you were talking about to run Node-DC-EIS workload? Otherwise, we have developed a nice client harness in Python which does quite a lot.

[2017-07-19 21:42] uttampawar commented on #122
@mhdawson I missed it as well due to wrong calendar entry.

[2017-07-21 05:39] rvagg commented on #86
@mhdawson I'd like to share the Jenkins script with @uttampawar since the bulk of the work is being done there and it might explain better how these are run. Is that going to be a problem?

Since there's so much logic in the Jenkins script, might it be time to extract the bulk of it into this repo as a script so it's not obscured behind the config which most people can't access? Even for me, the t

[2017-07-21 15:06] mhdawson commented on #86
I have no problem with sharing if that helps.  I'm not sure that is the problem though as the jenkins jobs does very little other than running scripts which are already in the repo, parsing out some results and publishing them to the database.

The infra is also fully documented in the repo and I held a session walking people through how it works and all the pieces although I think @uttampawar may

[2017-07-21 15:17] mhdawson commented on #86
@uttampawar I think you mean acme air right ? My understanding is that you are going to create an equivalent set of scripts to run Node-DE-EIS and submit a PR for that.

The scripts are here:

https://github.com/nodejs/benchmarking/tree/master/experimental/benchmarks/acmeair

and the part that runs them in the CI is:
[code]

Once you have the PR that provides the scripts to run Node-DC-EIS for the

[2017-07-21 15:21] mhdawson commented on #86
@uttampawar , as to the python harness, python is on the benchmarking machine if you use that and simply wrap it in a run_node-dc-eis.sh shell script that would probably work ok or even if you just document the command to run.  The goal is to have the CI job run a single command with all of the logic related to setting up and running the benchmark captured in scripts in the repo.

[2017-07-21 16:03] uttampawar commented on #86
@rvagg @mhdawson Thank you. I'll start working on this script. It would be useful to have a mirror job for me to experiment once I've the scripts ready.

[2017-07-27 05:07] bmeurer opened #124 "Meeting at NodeConf EU '17 to discuss Node.js performance"
I'd like to propose some kind of informal meeting at NodeConf EU in November to discuss various aspects of Node.js performance, specially how to track performance and how to prioritize potential work items. One of the main items here is obviously the need for benchmarks, ideally a standardized benchmark suite that is representative of common JavaScript workloads on the Node.js side.

Background he

[2017-07-27 06:12] mcollina commented on #124
If we want this conversation happening, I think we can make a room available for the meeting.

[2017-07-27 09:51] bmeurer commented on #124
@jaro-sevcik from the V8 compiler team is also going to join.

[2017-07-31 12:00] mhdawson opened #125 "Benchmarking WG Meeting Aug 1 - 3 EST"
@nodejs/benchmarking

# When

 Monday Aug 1, 3 EST.  (7PM UTC)

# Where

* link for participants: https://hangouts.google.com/hangouts/_/ytl/4MkG7WfxCKJLv5GaZNoaRlnN8UWnOtHczW9lpB8u9wU=?hl=en_US
* For those who just want to watch: https://www.youtube.com/watch?v=AuFtg1LIP1w&feature=youtu.be
* youtube admin page: https://www.youtube.com/my_live_events?filter=scheduled

* Google doc for minutes: htt

[2017-07-31 18:01] mhdawson commented on #125
Due to a family emergency I cant make it today. Either you can meet without me or we can try for tomorrow. Please comment on issue as what we should do.

[2017-07-31 18:08] gareth-ellis commented on #125
Pushing out till tomorrow is fine with me

[2017-07-31 19:44] kunalspathak commented on #125
Tomorrow should be fine.

[2017-07-31 19:45] kunalspathak commented on #125
@uttampawar - if possible for you, can you join tomorrow's meeting to discuss about onboarding node-dc-eis?

[2017-08-01 01:28] mhdawson commented on #125
Ok, I'll do my best to be available 3 EST on Tuesday.

[2017-08-01 19:00] mhdawson commented on #125
Link for participants: https://hangouts.google.com/hangouts/_/ytl/4MkG7WfxCKJLv5GaZNoaRlnN8UWnOtHczW9lpB8u9wU=?hl=en_US

[2017-08-01 19:14] mhdawson opened #126 "Configuration of first bare metal benchmarking marchine on softlayer"
![image](https://user-images.githubusercontent.com/9373002/28842566-1d310490-76cc-11e7-8f1b-f525644ad8da.png)

[2017-08-01 19:15] #126 closed

[2017-08-01 19:31] mhdawson commented on #124
I'm going to be at NodeConfEU and Arunesh will be there but none of the other benchmarking WG members will be that we know of.  Node Interactive might be better but those on the last call are still not sure.

I'm thinking we should set up an on-line meeting to get started on discussion.  I'm out next week so how about we send out a doodle for the week of Aug 21st.

[2017-08-01 19:51] mhdawson commented on #125
Seems like I had the wrong link for viewing, just updated now
https://www.youtube.com/watch?v=AuFtg1LIP1w&feature=youtu.be

Sorry for those that wanted to watch live, but the updated link at least has the video that can be watched afterwards.

[2017-08-02 04:24] bmeurer commented on #124
I'm on vacation that week, but maybe we can do it the week after?

[2017-08-02 05:04] kunalspathak commented on #124
People who are interested, please share your availability in week of August 28th at https://doodle.com/poll/byewa29dzkmx8xf3

[2017-08-02 05:26] bmeurer commented on #124
Thanks for setting up the Doodle. Unfortunately none of the time slots work for me currently.

[2017-08-02 05:32] kunalspathak commented on #124
What are the times you are available? I will include those as well in the doodle.

[2017-08-02 16:37] uttampawar commented on #125
@kunalspathak  Yes, I'll be joining today's meeting.

[2017-08-02 16:38] uttampawar commented on #125
It looks like I got the calendar entry wrong again. ;-(

[2017-08-02 17:36] bmeurer commented on #124
How about adding 6AM / 9AM / 11AM Europe/Berlin to the Doodle?

[2017-08-02 18:17] kunalspathak commented on #124
Updated.

[2017-08-04 09:02] gareth-ellis opened #127 "Status of running node core benchmarks"
Since the PR was closed once I'd merged in my changes, I figured I'd open this to track current progress on getting this working.

This is a continuation of #58 .

Current status is that I have the job setup, however we currently fail on the fact Rscript is missing. I have opened https://github.com/nodejs/build/issues/821 to get this installed.

In the mean time I am going to create a branch in be

[2017-08-10 07:42] gareth-ellis commented on #127
This now seems to be working, and is ready for testing. @mcollina you mentioned you had some PRs to try it on.

At the moment it is set to test a PR with its impact on master.

There's four parameters available:
BRANCH - defaults to master
PULL_ID - the PR number
CATEGORY - the folder of benchmarks you want to run from node/benchmark
FILTER - to limit the selection of benchmarks in that folder.

P

[2017-08-10 09:37] mcollina commented on #127
I'm currently on vacation, I'll get this going asap when I come back (1 week).

[2017-08-10 21:23] AndreasMadsen commented on #127
ProTip: To multiple by 60 just read the seconds as minutes.

[2017-08-14 12:35] mhdawson opened #128 "Benchmarking WG Meeting Aug 14 3 EST."
@nodejs/benchmarking

# When

 Monday Aug 14, 3 EST.  (7PM UTC)

# Where

* link for participants:
* For those who just want to watch:
* youtube admin page: https://www.youtube.com/my_live_events?filter=scheduled

* Google doc for minutes: https://docs.google.com/document/d/1LY7BKg0HkioumbP29gUw9OtW07I1nglimRgnz3S0VP4/edit

# Agenda
- Stand up
- Actions from last meeting
- Open issues review
- Oth

[2017-08-14 12:48] mhdawson commented on #128
@nodejs/node please use emoji to indicate if you can make it or not.

[2017-08-14 13:40] gareth-ellis commented on #128
I can't make today.

My main update is jenkins job is setup, would be good if people could give it a go. Take a look, if things aren't clear then shout up and I can write some clearer instructions.

Likewise if there's a functional issue, then let me know.

Currently the use-case that is setup is for evaluating impact of a PR on master.

The second usecase to compare two commits, tags or branches

[2017-08-14 14:23] mhdawson opened #130 "Benchmarking jobs failing"
Started failing Aug 10.

 https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-8.x/

[2017-08-14 14:29] gareth-ellis commented on #130
Looks like an issue with posting the results, first benchmark passes but posting result returns nothing instead of ok.
Issue with machine itself?

[2017-08-14 14:34] mhdawson commented on #130
Looks like it is failing to post to benchmark data machine:

+ RESULT=17485824
+ echo RESULT: 17485824
RESULT: 17485824
+ export BENCHID=1
+ /home/iojs/benchmarking/tools/postResults/postit.sh 6 1 17485824
+ PUBLISH_RESULT=
+ [  != ok ]
+ exit -1
/tmp/hudson5618630606784231468.sh: 40

[2017-08-14 14:34] mhdawson commented on #130
Bridge was not running, restarted. From uptime looks like machine was rebooted 5 days ago, really need to get to setting up so the bridge auto starts.

Kicked off run to check if issue is resolved, but job is waiting on v8 test jobs to run first.

[2017-08-14 14:48] mhdawson commented on #130
First run was ok, kicking off runs on other versions.  Will close once we see passes on all four.

[2017-08-14 19:01] mhdawson commented on #128
Just starting meeting now.

[2017-08-14 19:02] mhdawson commented on #128
Meeting link: https://hangouts.google.com/hangouts/_/ytl/5tF9McB3cHrpKnlE8PpAIU-h9paHoi_S-zsFBniM9j0=?eid=100598160817214911030

[2017-08-14 19:04] mhdawson commented on #128
Meeting live now.

[2017-08-14 19:25] kunalspathak opened #131 "Node-DC-EIS dry run"
Let us get together to do a dry run of Node-DC-EIS with @uttampawar  and @mhdawson .

Meeting time : 17th August 2017. 11:30 AM PST.

Ref: #123

[2017-08-14 19:29] mhdawson commented on #124
@bmeurer any chance you could make the next regular benchmarking meeting which is  August 28 at 3 EST, 7 UTC ?  It would be good to get some of you as regular attendees for the benchmarking WG meetings.

[2017-08-14 19:32] kunalspathak opened #132 "Better measurement of Acmeair memory footprint"
Have a way to measure memory foot print of Acmeair benchmark for entire run duration rather than just measuring before and after footprint. The idea is to collect `rss` every second and after the benchmark run is complete, get the normalized number out of it.

[2017-08-14 21:20] mhdawson commented on #130
All green again closing.

[2017-08-14 21:20] #130 closed

[2017-08-15 14:07] mhdawson commented on #125
PR for minutes https://github.com/nodejs/benchmarking/pull/129

[2017-08-15 14:07] #125 closed

[2017-08-15 16:05] kunalspathak commented on #131
Scheduling to noon PST of 17th August 2017.

[2017-08-16 06:41] bmeurer commented on #124
I guess so, yes. Is that 8:00 CET or 20:00 CET?

[2017-08-16 06:44] gareth-ellis commented on #124
21:00 CET (CET is currently UTC+2)

[2017-08-16 20:09] mhdawson commented on #131
See you then

[2017-08-17 08:14] uttampawar commented on #131
See you at noon.

[2017-08-17 18:59] mhdawson commented on #131
What are we using to meet ?

[2017-08-17 19:00] kunalspathak commented on #131
https://hangouts.google.com/call/vsh2ewzoufb4pe2km5srygx4kiu

[2017-08-17 19:01] uttampawar commented on #131
Kunal was going to post hangout link.

[2017-08-18 11:45] gareth-ellis opened #133 "Issues with benchmarking runs"
Hello,

I got a notification that @mcollina 's benchmark run for a PR failed, it seems as if something may have "cleaned up" the machine during the run - i tried to relaunch with a filter to retry the last benchmark it was running to verify no issue with the benchmark itself, but Jenkins doesnt seem to be adding anything to the queue.

I saw as well that the Node DC had been running for 21 hours,

[2017-08-18 13:07] mhdawson commented on #133
The most recent benchmark jobs also failed.

[2017-08-18 13:27] mhdawson commented on #133
Killed the process that was still running on the machine and now builds seem ok.

[2017-08-18 15:45] uttampawar commented on #133
@kunalspathak @mhdawson Current scripts work fine on my local machine for Node-DC but it seems to having problem on the test machine. How do I debug it without access to the machine? This workload should not take more than 10-15 minutes. Can we get together for 30 minutes to discuss this issue?

[2017-08-18 16:53] kunalspathak commented on #133
Looking at the logs from recent runs, it looks like it gets stuck while starting the mongodb. Is that right? I see that you use custom port `28000` in your script. Could you just use same script we use for acmeair monogodb?

[2017-08-18 17:55] uttampawar commented on #133
@kunalspathak @mhdawson I made those changes which seems to be working fine on the local machine. Is this would be a good time to try on the benchmarking machine? I don't want to cause any issue due to this run?

[2017-08-18 18:02] kunalspathak commented on #133
I don't see anything running right now, so go ahead and kick the run. But if you see it is stuck again, just abort the job.

[2017-08-18 20:21] gareth-ellis commented on #127
Thoughts: currently its taking AGES to clone node core, What are thoughts on cloning once on the machine and then copying over to the workspace and doing a pull origin master?

Perhaps we could update the central clone once a week?

Investigating why the run @mcollina failed - will update with findings....

[2017-08-27 12:21] bmeurer commented on #124
Ok, I'll join tomorrow. What's the Hangout id?

[2017-08-28 13:01] mhdawson opened #134 "Bencharking WG Meeting - Aug 28 - 3 EST"
@nodejs/benchmarking

# When

 Monday Aug 28, 3 EST.  (7PM UTC)

# Where

* link for participants: https://hangouts.google.com/hangouts/_/ytl/n2RXGmmz6beAsiuZwuNL_YDoNjjD37o5pr6CARiLDhY=?eid=100598160817214911030
* For those who just want to watch: https://www.youtube.com/watch?v=78Vvc7OqhME
* youtube admin page: https://www.youtube.com/my_live_events?filter=scheduled

* Google doc for minutes: ht

[2017-08-28 15:26] mhdawson commented on #133
I tried running today and it seemed to get stuck.  Looking in the logs for the step starting mongo I see:

[code]

[2017-08-28 15:27] mhdawson commented on #133
This was the job I ran

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-node-dc-eis/5/console

You can see it stopping once I killed off the processes.

[2017-08-28 15:27] mhdawson commented on #133
I'll see if I can figure out why it can't find mongod

[2017-08-28 19:01] kunalspathak commented on #124
@mhdawson will publish it in #134

[2017-08-28 19:02] mhdawson commented on #134
Starting  hangout now.

[2017-08-28 19:02] mhdawson commented on #134
https://hangouts.google.com/hangouts/_/ytl/n2RXGmmz6beAsiuZwuNL_YDoNjjD37o5pr6CARiLDhY=?eid=100598160817214911030

[2017-08-28 19:02] sathvikl commented on #134
@mhdawson  what's the link to join ?

[2017-08-28 19:02] mhdawson commented on #134
Just added.

[2017-08-28 19:06] mhdawson commented on #124
@bmeurer hangout id has been added to the issue for the meeting. Sorry I just opened it today.  It is:
https://hangouts.google.com/hangouts/_/ytl/n2RXGmmz6beAsiuZwuNL_YDoNjjD37o5pr6CARiLDhY=?eid=100598160817214911030

[2017-08-28 19:11] bmeurer commented on #124
Thanks.

[2017-08-28 19:30] gareth-ellis commented on #127
# How to: Running core benchmarks on Node.js CI

## Current function
The current jenkins job aims at allowing the impact of a PR on a particular branch to be compared. For example how does PR XXXX impact performance on master?

## How to configure the job
To start with visit https://ci.nodejs.org/job/benchmark-node-micro-benchmarks/build?delay=0sec
Here you have four values to enter:
### BRANCH -

[2017-08-28 19:59] mhdawson opened #136 "Survey questions for end users to decide what to benchmark"
Generate list of questions, then work with community committee to see if we can send out survey from Node.js Foundation/community.

@bmeurer will come up with some initial ideas.

[2017-08-28 21:07] mhdawson commented on #134
PR for minutes: https://github.com/nodejs/benchmarking/pull/137

[2017-08-28 21:07] #134 closed

[2017-08-28 23:27] uttampawar commented on #131
@mhdawson Mike, this still fails to start mongodb server at port 27017 for some reason. I've tested this code and it works perfectly on my local setup. Please help.

[2017-08-29 04:21] bmeurer commented on #136
You got the wrong handle.

[2017-08-29 04:34] bmeurer opened #138 "Web Tooling Benchmark"
As discussed in the last benchmarking WG meeting yesterday, I'd like to propose a new benchmark suite that covers common tools that are used daily by developers to build web pages, a so-called *Web Tooling Benchmark*. This will include at least tools like:

- [Webpack](http://webpack.js.org)
- [TypeScript](https://www.typescriptlang.org)
- [Babel](http://babeljs.io)
- [UglifyJS2](https://github.co

[2017-08-29 06:31] donaldpipowitch commented on #138
This sounds awesome. I hope that the tools are not only tested in isolation, but also in tandem. Many performance problems occur, if you combine several tools with each other. E.g. at my current company we use TypeScript together with Babel (and maybe one or two other loaders) with WebPack. Not _just_ TypeScript or _just_ Babel. Our linting step currently also consists of three tools: prettier, TS

[2017-08-29 06:40] bmeurer commented on #138
The idea is to start small and eventually include more tools. Pull requests are of course welcome.

I'd prefer to have the benchmark suite runnable standalone (i.e. independent of a concrete machine setup). Similar to let's say the Octane benchmark, which you could easily run on any machine via `node` or `d8`, but also in any browser.

[2017-08-29 06:59] hashseed commented on #138
I agree. Being able to run it anywhere, including the browser, would be a huge plus.

[2017-08-29 07:00] robpalme commented on #138
Please ensure this includes stress testing of the source-map package. (Transitive) sourcemap generation is hugely expensive today and is heavy on memory allocations and usage meaning it stresses GC.

[2017-08-29 08:13] mlippautz commented on #132
Was pointed here by @bmeurer to give some hints on how V8 and chromium handle this scenario.

V8 exposes several API that can be used to inspect its memory usage. Basically, anything around `Isolate::GetHeapStatistics` [1] could be useful. The main numbers you probably want to have are [2]
- `HeapStatistics::total_physical_size()` for ~RSS
- `HeapStatistics::used_heap_size()` for actual payload

F

[2017-08-29 13:53] mhdawson commented on #138
As discussed in the bench-marking meeting yesterday it would be great to add coverage for that use case category.  As you mention we don't have good coverage there.

One quick question, how long do you think the benchmark will run for ?  I'm assuming it will be relatively short (<1 hour) so that we can easily run it nightly as part of the bench runs.

[2017-08-29 13:53] mhdawson commented on #136
@bmeurer sorry about that.

[2017-08-29 15:54] kunalspathak commented on #132
Thanks @mlippautz  and @bmeurer for the information. We can definitely use these APIs via `node` to measure memory behavior. However I think if we use these APIs, it adds cost to the benchmark code itself to get these numbers and I don't want benchmark CPU/memory time to be affected by it. Here is what I had in mind:

* Start a node benchmark (server benchmark makes more sense which runs for few m

[2017-08-29 18:43] bmeurer commented on #132
As said in the meeting, I don't think this kind of data is very accurate. The `Heap` has a better idea of actual memory and provides more fine-grained information. I also think the additional cost is acceptable, since you always pay the cost in the same way.

[2017-08-29 18:54] bmeurer commented on #138
Yes, the idea is that it runs within a couple of minutes.

[2017-08-29 21:31] mlippautz commented on #132
The `Heap*` APIs just read out a few pre-computed counters. Reading those every few seconds (or even every second) will not have any noticeable impact on performance and memory.

[2017-08-29 23:08] kunalspathak commented on #132
That is a fair point but do we all agree on below approach?

[2017-08-30 03:56] bmeurer commented on #132
SGTM

[2017-08-31 18:23] uttampawar commented on #131
@mhdawson Mike, as I said in my email use of mongo3 fixed the mongodb start issue but now the client driver fails due to following python dependencies,
python v2.x,
module: numpy,
module: requests,
module: eventet, and
module:matplotlib
These are used to communicate with server (http requests) and calculate summary result (using numpy).
Could there be any issue installing these modules on the benc

[2017-09-05 13:31] mhdawson opened #140 "Benchmarking runs failing"
Benchmarking runs seems to be failing since late last week.

Looks like results are failing to be posted:

[code]

[2017-09-05 13:34] mhdawson commented on #140
Machine seems to be running really slowly, load average shows crazy high:

top - 08:34:42 up 27 days,  1:53,  1 user,  load average: 148.69, 149.88, 151.2

[2017-09-05 17:41] mhdawson commented on #140
Load on machine seems back to normal, going to restart agent on benchmark data machine.

[2017-09-05 17:44] mhdawson commented on #140
Started builds to validate resolved.

[2017-09-05 20:11] mhdawson commented on #140
All green again, closing.

[2017-09-05 20:11] #140 closed

[2017-09-08 14:12] mhdawson opened #141 "Node.js Foundation Benchmarking WorkGroup Meeting 2017-09-11"
## Time

**UTC Mon 11-Sep-2017 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 11-Sep-2017 12:00 (12:00 PM) |
| US / Mountain | Mon 11-Sep-2017 13:00 (01:00 PM) |
| US / Central  | Mon 11-Sep-2017 14:00 (02:00 PM) |
| US / Eastern  | Mon 11-Sep-2017 15:00 (03:00 PM) |
| Amsterdam     | Mon 11-Sep-2017 21:00 (09:00 PM) |

[2017-09-08 15:03] bmeurer commented on #136
Here's a preliminary list of bullet points:

- What is your primary use case for Node? (Web Developer Tooling / Standalone Servers / Cloud Services / Others)
- What kind of language dialect do you use? (ES5 / ES6 / ESNext whatever supported by most recent Node version / TypeScript / Other)
- Do you run *optimization passes* on your JavaScript before you deploy it to Node? (Minification / Bundling

[2017-09-08 17:57] mhdawson commented on #124
@bmeurer is now attending our bi-weekly meeting so I think we can close this.  Please let me know if that is not the case.

[2017-09-08 17:57] #124 closed

[2017-09-08 18:03] mhdawson commented on #127
@gareth-ellis It would probably make sense to PR this as a doc somewhere in the repo.

[2017-09-11 16:43] bmeurer commented on #138
Ok quick status update: I compiled an initial version of the [WebToolingBenchmark](https://github.com/bmeurer/WebToolingBenchmark), consisting of a test case for [Chai](http://chaijs.com) and one for [Espree](https://github.com/eslint/espree). I'm currently working on generating a useful test case for TypeScript and I'm in contact with the webpack folks about a proper benchmark.

[2017-09-11 19:02] mhdawson commented on #141
Just about to post meeting link for participants

[2017-09-11 19:03] mhdawson commented on #141
https://hangouts.google.com/hangouts/_/ytl/eYA2olwHFjjlptoGS_4qre3YxqkjbaNZn1ONlHwErnE=?eid=100598160817214911030

[2017-09-11 19:12] gareth-ellis commented on #133
perhaps can close this now?

[2017-09-11 19:20] bmeurer commented on #136
There was already a survey run earlier this year, which might be related, results were published [here](https://hackernoon.com/node-js-emerging-as-the-universal-development-framework-for-a-diversity-of-applications-c2e788290f5f).

[2017-09-11 19:29] gareth-ellis commented on #127
@AndreasMadsen @mcollina @mscdex , if you have some cycles do you want to have a go with the job, using instructions above and see how you get on?

Also got a PR for the above doc with a view to getting something together we can send out to a wider audience and get people using this job and core benchmarks. (PR in #144 )

[2017-09-11 19:53] AndreasMadsen commented on #127
I would love to see it in action but right now I don't have anything I would like to benchmark :(

[2017-09-12 15:19] mhdawson opened #146 "Benchmarking runs failed in last nightly runs"
https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-8.x/129/console

[code]

Looks like publish failed.

[2017-09-12 15:23] mhdawson commented on #146
Restarted bridge, and will restart jobs. I've not had to restart the bridge all that often in the last year but is has been a few times in the last couple of weeks.

[2017-09-12 15:27] mhdawson commented on #146
Added this to the crontab as well:

@reboot /home/benchmark/benchmarking/tools/acceptResults/start_bridge.sh

Will at least restart if machine is rebooted.

[2017-09-12 15:27] mhdawson commented on #146
although uptime on the machine shows as 34 days so that might not help.

[2017-09-12 17:13] mhdawson commented on #146
resolved.

[2017-09-12 17:13] #146 closed

[2017-09-12 17:26] uttampawar opened #147 "Development and use of new workload/benchmarks"
As we are developing workloads/benchmarks to address wide range of use cases to measure performance, I would like to explore the idea of using these workloads/benchmarks not just by us but by end user as well to,
- Guideline to develop their application,
- Understand and compare performance of a particular workload/benchmark (use case) on various hardware infrastructure setup,
I believe by making

[2017-09-13 10:01] mcollina commented on #133
@gareth-ellis 👍 . I've restarted another job, let's see how it goes.

[2017-09-13 10:02] mcollina commented on #127
I have started https://ci.nodejs.org/job/benchmark-node-micro-benchmarks/14/

[2017-09-14 08:41] mcollina commented on #133
Closing, this is working now.

[2017-09-14 08:41] #133 closed

[2017-09-14 09:11] mcollina commented on #136
We are missing a good framework in the ecosystem to microbenchmark I/O operations with statistic significance. Something similar to what we have in core, but something we can use to measure promises, callbacks, database drivers. I had several shot at this, none of them was great.

A typical question I get is: "how do async/await stack up against callbacks".

Some folks (including myself) have been

[2017-09-14 10:06] mcollina commented on #127
I think the script should automatically rebase the branch, because a difference in the V8 engine could skew the results and provide wrong feedback. Maybe this should be a checkbox, so we can verify across different release lines.

I run the tests on my laptop in June and I got no regressions (https://github.com/nodejs/node/pull/12857#issuecomment-309666756) - this was at the time of V8 5.9.

Howev

[2017-09-14 11:09] AndreasMadsen commented on #127
The script checkouts the `$BRACH` (master) build node, then cherry-pick `$PULL_ID` on top and build again. So it should be rebased.

What are the wired results? You have to remember that there is a small risk for a false positive and with many independent test that risk becomes large. At only 5% confidence (one star), the risk of getting 5 false positive in 44 tests is 4.590962%.

![rplot](https:/

[2017-09-14 11:37] mcollina commented on #127
My bad. So, this is fine.

The script works beautifully then. I think we should document it in the main repo, it would be of great help to everyone.

[2017-09-14 11:40] gareth-ellis commented on #127
Excellent - I will see what I can do about providing the raw data.

Yes, we plan to get the info out to collaborators to start using, but thought it would be good to have some people test first :)

I'll add a bit of a description similar to what @AndreasMadsen wrote to explain how it works, and include in the doc in #144  .

Any other issues or quirks you noticed should be documented?

[2017-09-14 11:45] mcollina commented on #127
@gareth-ellis +1 to all that you just said.

Running all the http benchmarks without a filter takes forever (44 hours on my laptop and I got to 60%). We should not allow that, or strongly suggest that they need to add a filter. Running a job for 3-4 days does not sound right. IMHO The filter might well be mandatory for this script.

Posting the result to the PR would be a huge plus, but I do not k

[2017-09-14 13:53] AndreasMadsen commented on #127
I agree. Statistically, due to the false positive risk, it is also not very useful to run that many tests. I think we should just check the expected benchmark time using a precompiled list as shown earlier https://github.com/nodejs/benchmarking/pull/58#issuecomment-251408048.

[2017-09-15 16:55] mhdawson opened #148 "Latest result on charts incorret"
I believe that the latest result being shown on the charts is not correct.  For example:

https://benchmarking.nodejs.org/charts/start_stop.png

shows 261540 while the corresponding job output shows 50240

[2017-09-15 17:12] mhdawson commented on #148
The original html looks ok, while the png does not have the right value.... So must be in the generation of the png.

[2017-09-15 20:57] #148 closed

[2017-09-15 21:04] mhdawson commented on #131
This is complete, DC-EIS job is now running.

[2017-09-15 21:04] #131 closed

[2017-09-15 21:05] mhdawson commented on #86
Updated the main benchmarking jobs to include DC-EIS and configured to publish data to database for the charts @uttampawar had added.

@uttampawar I notice that you did not add charts for the pre/post footprint ?  Was this on purpose ?

[2017-09-18 10:10] gareth-ellis commented on #127
@mcollina , for getting to the raw data, if you click on your job, you should be able to open the workspace, and then browse to
e.g. https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-node-micro-benchmarks/ws/benchmarking/experimental/benchmarks/community-benchmark/node/output.csv.

I'll modify the script to move it to the top level, so there is less moving around. I think the gotcha her

[2017-09-18 10:24] mcollina commented on #127
both approach make sense. Even uploading it to a gist on github (together with a chart, maybe), would be fantastic. Something that last for a bit of time with some meta-info (shas being tested).

[2017-09-18 10:52] gareth-ellis commented on #127
OK, will look into that.

In the meantime, csvs now get saved in the root of the ws with date/timestamp:

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-node-micro-benchmarks/ws/

[2017-09-18 13:11] mhdawson opened #152 "Benchmarking jobs failed over weekend"
Looks like it is the publish to the data machine again.

[2017-09-18 13:13] mhdawson commented on #152
Load average was up over 150

There were many many rsync processes.

Guessing its an old crontab entry I had to sync charts to one of my machines before we had the proper setup.  Removed and hopefully it will not re-occur.

[2017-09-18 13:18] mhdawson commented on #152
Restarted benchmark jobs

[2017-09-18 15:50] mhdawson opened #153 "DC-EIS benchmarking runs hanging"
[code]

I've seen the DC-EIS job fail in this manner, when it does it hangs and keeps the machine busy for quite a while.

@uttampawar can you take a look to see what you think might be going on.

[2017-09-18 21:00] uttampawar commented on #153
@mhdawson I'll take a look.

[2017-09-18 21:53] mhdawson commented on #153
I removed DC-EIS from the 6.x runs as it hung twice in a row.  Will keep an eye on the other versions.

[2017-09-18 23:58] uttampawar commented on #153
@mhdawson I just did another run with latest node and it worked okay (at least looks that way). I'll try with 6.x version. But I'm seeing another command not found in the console log. ('bc' not found from cpuParse.sh)

[2017-09-19 00:28] uttampawar commented on #153
@mhdawson I did another run with node v6.x and that worked as well.

[2017-09-19 12:47] mhdawson commented on #153
It seems to be intermittent, but it happened several times in a row on 6.x tying up the machine so I disabled it there.  If you can continue to look to see if you can find the case where it just hangs I'll keep an eye on the ongoing runs.  If the regular nightlies are ok for the other versions for a few days I'll try turning 6.x back on.

[2017-09-20 16:37] mhdawson commented on #153
Hung on master run today: https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-master/722/

If this keeps up may have to remove from all of the main runs, at least until we figure out why its hanging.

[2017-09-20 16:42] mhdawson commented on #152
Was ok after restart, closing

[2017-09-20 16:42] #152 closed

[2017-09-20 16:57] uttampawar commented on #153
@mhdawson Okay. I'll take another look at the scripts.

[2017-09-21 15:41] mhdawson commented on #153
I tried adding 6.x back in but it just hung so I removed it again:

https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-6.x/541/

[2017-09-21 15:43] mhdawson commented on #153
[code]

It may be that there is some sort of timing issue that 6.x  on that machine seems to fall into.

[2017-09-22 21:58] uttampawar commented on #153
@mhdawson Mike, I've modified the build and execution script for a quite a bit. I'm testing it right now. I'll update you with the output so that we can add it again to the queue.

[2017-09-22 22:44] uttampawar commented on #153
@mhdawson It looks like starting a mongodb instance is a problem again. I just did one run and I found following error in the log file.
$ cat https://ci.nodejs.org/me/my-views/view/all/job/benchmark-node-dc-eis/ws/benchmarking/experimental/benchmarks/results/20170922-170222/node-dc-eis.log

## STARTING MONGODB ##
 /home/iojs/acmeair/mongo3/mongodb.sh start 27017
~/acmeair/mongo3 ~/build/workspace/

[2017-09-23 07:22] gareth-ellis commented on #153
Unless its been changed, the mongodb.sh, if you pass it "start" it will create a new db directory, then start mongodb and check the log until it reports mongodb has started, then will exit.

If its getting killed at sleep 2, that means that the job has carried on, and mongodb never started.
I believe the script there is almost the same as the one in experimental/benchmarks/acmeair/mongodb.sh, the

[2017-09-25 12:48] mhdawson opened #154 "Node.js Foundation Benchmarking WorkGroup Meeting 2017-09-25"
## Time

**UTC Mon 25-Sep-2017 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 25-Sep-2017 12:00 (12:00 PM) |
| US / Mountain | Mon 25-Sep-2017 13:00 (01:00 PM) |
| US / Central  | Mon 25-Sep-2017 14:00 (02:00 PM) |
| US / Eastern  | Mon 25-Sep-2017 15:00 (03:00 PM) |
| Amsterdam     | Mon 25-Sep-2017 21:00 (09:00 PM) |

[2017-09-25 13:46] mhdawson commented on #153
The contents of the mongodb.sh script are as follow:

iojs@nodejsb1:~/acmeair/mongo3$ cat mongodb.sh
#!/bin/bash
if [ -z "$1" ]; then
echo "Must pass in start, stop or status"
exit
fi
DIR=`dirname $0`
CURRENT_DIR=`cd $DIR;pwd`
pushd $CURRENT_DIR

case $1 in
start)
rm -rf database
mkdir database
rm mongodb.out
./mongod --dbpath database >> mongodb.out 2>&1 &
while [ `grep -c "db version v3.0.3" mon

[2017-09-25 14:37] gareth-ellis commented on #154
Not going to be able to make it today, and two weeks time is unlikely too

[2017-09-25 18:54] kunalspathak commented on #154
Same here. I won't be able to make it today.

[2017-09-25 18:57] mhdawson commented on #154
Link for participants: https://hangouts.google.com/hangouts/_/ytl/EzuxoT3zUbnk0JJRmk2wZN-l2mqZGvSPHbwB16eP10w=?eid=100598160817214911030

[2017-09-26 16:18] uttampawar commented on #153
@mhdawson I saw that node-dc-eis job is running but it's being using main repo instead of mine. Can you fix that and re-start please?

[2017-09-26 17:14] uttampawar opened #155 "Simplify multiple scripts, logs in nodejsbenchmarking infrastructure"
As I was working to add node-dc-eis to the nodejsbenchmarking, I realized the unnecessary complexity we have due to multiple scripts scatter in each benchmark. Frankly I think it's not sustainable as we add more more tests/benchmarks. I can contribute to this task if we as a group think it's important.

Here is a list of scripts in use today,
fp.sh (function to get memory footprint, rss, heap, etc

[2017-09-26 17:52] mhdawson commented on #153
I killed the job.  Unfortunately I have other priorities for the next few days so I may not be able to update the jobs until later in the week.

[2017-09-26 21:39] mhdawson commented on #153
@uttampawar where is the PR ? I assume you had submitted a PR with the changes and I would point the job to the branch for that PR to validate before landing.

[2017-09-27 16:32] uttampawar commented on #153
@mhdawson Submitted a new PR with appropriate changes. My testing of these changes didn't reveal any "hanging" issues. It shows some conflict with mainline. May be I should resolve them first?

[2017-10-10 14:20] mhdawson commented on #153
I believe this is now resolved, closing.

[2017-10-10 14:20] #153 closed

[2017-10-10 18:46] uttampawar opened #159 "Add Ghost.js workload to the benchmarking"
I'm opening this issue based on the discussion in "benchmarking WG" at the Node.js interactive conference to track progress of addition of Ghost.js workload. This application is on github.com at,
https://github.com/TryGhost/Ghost

[2017-10-11 14:54] mhdawson commented on #159
+1, its been in our list of suggested workloads so if you have time to generate the scripts that would be great.

[2017-10-12 20:25] choskim opened #160 "Joining the benchmarking team"
@mhdawson, @MylesBorins said to contact you about me potentially joining the team. Do you have time to chat?

[2017-10-13 11:33] bmeurer commented on #138
Ok, I have a demoable version at [github.com/bmeurer/web-tooling-benchmark](https://github.com/bmeurer/web-tooling-benchmark), and a live version for the browser at [benediktmeurer.de/web-tooling-benchmark](http://benediktmeurer.de/web-tooling-benchmark). Please give it a go and let me know what you think.

[2017-10-16 14:14] mhdawson commented on #160
Sure, lets find a time this week.  Would 3 EST on Thrusday work for you ?

[2017-10-16 14:17] mhdawson opened #161 "Benchmarking update for TSC"
We are on the agenda for the TSC meeting to give an update.

I'll volunteer to give the update.  What I'd plan to cover are

1) General plan, use cases/key attributes, coverage matrix
2) Recent addition of DE-ESIT
3) Benedikt working on web tooling benchmark
4) Uttam working on adding ghost.
5) New Intel machines and job to run core micro-benchmarks

Anything else that I should add ?

[2017-10-16 17:22] choskim commented on #160
@mhdawson, that works for me. I'll send you my contact info to the email address on your Github profile.

[2017-10-16 19:19] mhdawson commented on #160
Sounds good will call you then.

[2017-10-18 17:15] MylesBorins opened #162 "Audit benchmarks on v6.x"
The delta between v6.x and master has gotten non trivial. I think it would make sense to Audit the 6.x branch and see what needs to be done to get things up to date

[2017-10-19 05:45] joyeecheung commented on #162
Are you talking about the benchmarks on https://benchmarking.nodejs.org/  or the core micro-benchmarks?

[2017-10-19 17:20] mhdawson commented on #162
Agreed, not really sure what you are asking for.  Can you add some more detail.

[2017-10-19 19:20] mhdawson opened #164 "Node.js Foundation Benchmarking WorkGroup Meeting 2017-10-23"
## Time

**UTC Mon 23-Oct-2017 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 23-Oct-2017 12:00 (12:00 PM) |
| US / Mountain | Mon 23-Oct-2017 13:00 (01:00 PM) |
| US / Central  | Mon 23-Oct-2017 14:00 (02:00 PM) |
| US / Eastern  | Mon 23-Oct-2017 15:00 (03:00 PM) |
| Amsterdam     | Mon 23-Oct-2017 21:00 (09:00 PM) |

[2017-10-19 19:33] mhdawson commented on #154
Long since completed, closing.

[2017-10-19 19:33] #154 closed

[2017-10-19 19:33] mhdawson commented on #161
Updated delivered at last TSC meeting.  Closing.

[2017-10-19 19:33] #161 closed

[2017-10-19 19:34] mhdawson commented on #160
We've talked today.  Looking forward to seeing @choskim at the meeting next Monday.  Closing.

[2017-10-19 19:34] #160 closed

[2017-10-19 20:59] MylesBorins commented on #162
I was referring to the benchmark folder in the 6.x release line. The tooling is quite out of date

[2017-10-20 03:45] bmeurer commented on #164
I'd like to present the current state of https://github.com/nodejs/benchmarking/issues/138 (the Web Tooling Benchmark) and discuss next steps wrt. Node.js, but I cannot put the **benchmarking-agenda** label on the issue myself.

[2017-10-20 04:23] joyeecheung commented on #162
The benchmark tooling in the core was rewritten during v6.x as semver-major so it is not available in v6.x (https://github.com/nodejs/node/pull/7094), therefore almost every update in the benchmark folder does not apply to v6.x.

I think we should skip backporting benchmark commits, and ask people updating benchmarks in their PR to split those changes into separate commits?

[2017-10-20 04:27] joyeecheung commented on #162
Uh...wait, if you are talking about bringing the existing benchmark folder in v6.x branch up-to-date, then yes, it needs to be audited because there could probably be some commits that depend on the new tooling landed. Although...do we still run the benchmarks in the v6.x branch? Is it necessary? If we are comparing the performance differnce between v6.x and other later release lines, since the to

[2017-10-23 18:58] mhdawson commented on #164
Link for participants https://hangouts.google.com/hangouts/_/ytl/O2yEmy3Ie3__ZzU3z7iYtu7Gygn4_7aPgbtp10AgoY4=?eid=100598160817214911030

[2017-10-23 19:00] mhdawson commented on #164
Sorry going to have to use a new hangout as it crashed on me starting for the first time and now I don't have the button to stat the recording.

[2017-10-23 19:01] mhdawson commented on #164
New link https://hangouts.google.com/hangouts/_/ytl/Y9FOLbB6SxKtY-tJzAYvKpVSKAB6wPwtkrqhtNj3VsQ=?eid=100598160817214911030

[2017-10-23 19:14] mhdawson commented on #127
Are we ready to announce to the rest of the team they can start using this or is there any other testing feedback we should get first.

[2017-10-23 19:39] mhdawson commented on #136
What is your primary use case for Node? (Web Developer Tooling / Standalone Servers / Cloud Services / Others)
What kind of language dialect do you use? (ES5 / ES6 / ESNext whatever supported by most recent Node version / TypeScript / Other)
Do you run optimization passes on your JavaScript before you deploy it to Node? (Minification / Bundling / Obfuscation / Other)
What's your preferred way to w

[2017-10-23 19:55] AndreasMadsen commented on #127
@mhdawson I don't think there is anything to lose. It is not like making this public can cause anything else to fail or break.

[2017-10-23 20:00] mhdawson commented on #136
Opened request for help sending out survey https://github.com/nodejs/community-committee/issues/153

[2017-10-30 18:14] sathvikl commented on #164
sorry I missed this meeting, I was still of the opinion that it's the 11th of every month !

[2017-10-30 19:20] sathvikl commented on #159
@uttampawar @gareth-ellis @mhdawson @bmeurer @kunalspathak
I would like your opinion on what version of this benchamark needs to be merged into the Jenkins system.

I have been using this version of https://github.com/sathvikl/ghostjs-benchmark , internally to benchmark a server system, compare compatible versions of node and to do perf-analysis.
(For instance to test this Issue #https://github.co

[2017-11-02 17:01] mhdawson commented on #164
meeting held, closing.

@sathvikl the meeting is every 2 weeks as per the foundation calendar https://nodejs.org/calendar  (although we are skipping the next one, so it 4 weeks from the last one)

[2017-11-02 17:01] #164 closed

[2017-11-02 17:03] mhdawson commented on #159
What licence is the ghostjs-benchmark ?  If the licence is compatible I'd prefer if the stable version of the benchmark was in a directory in the benchmarking repo.

[2017-11-02 17:04] mhdawson commented on #141
Meeting held closing.

[2017-11-02 17:04] #141 closed

[2017-11-02 17:05] mhdawson commented on #86
I think this is complete, new issues can be opened for any follow on work, closing.

[2017-11-02 17:05] #86 closed

[2017-11-02 17:46] sathvikl commented on #159
@mhdawson it's released under the [MIT license](https://github.com/sathvikl/ghostjs-benchmark/blob/master/ghostjs-repo/LICENSE).

I created a repo of its own, because none of the other benchmarks are hosted in this benchmarking repo itself, although I would prefer that instead of having it in my account.

[2017-11-03 16:36] mhdawson commented on #159
I think some of the smaller ones are.   If we are going to have it in a repo which is not the original, I'd prefer it to be in a repo under the foundation org.

[2017-11-03 18:39] mhdawson opened #168 "Perf/Node.js"
@bmeurer you mentioned something in passing in the last meeting about the change in pipeline affecting the results from perf (I think).

Given that the diagnostics WG is documenting https://github.com/nodejs/nodejs.org/pull/1444 I think it confirms there is interest and I wanted to follow up to see if what you had mentioned would affect this workflow.

[2017-11-03 18:54] mhdawson commented on #168
I went through the guide to generate a flamegraph and I see a lot of "ByteCodeHandler:xxxx"

[2017-11-03 18:55] bmeurer commented on #168
Yes, `perf` doesn't know about bytecode handlers, so it's broken wrt. the interpreter. Some additional (post)processing is required. We can chat in Ireland.

[2017-11-03 19:28] mhdawson commented on #168
Yup just confirmed running 6.x versus 8.x

![v8-flame](https://user-images.githubusercontent.com/9373002/32392344-abc5f322-c0ab-11e7-9188-1fc28054da4a.jpg)
![v6-flame](https://user-images.githubusercontent.com/9373002/32392345-abe30854-c0ab-11e7-8a3d-ea1cfc416f89.jpg)

[2017-11-03 20:31] mhdawson commented on #168
@nodejs/diagnostics as an FYI

[2017-11-03 21:05] AndreasMadsen commented on #168
Thanks. I'm very interested in solutions to this. I know it is a problem in [0x](https://github.com/davidmarkclements/0x) too /cc @mcollina

[2017-11-03 21:38] mcollina commented on #168
I can confirm as well. From my in-the-wild experimentation, generating those diagram is still useful: they point at a likely bottleneck of your application. Most hot code gets optimimized by turbofan under load, so it is not a blocker. However if you plan to diagnose the boot sequence then it is is.

[2017-11-07 17:06] mhdawson commented on #168
talking with @bmeurer he also pointed out that code can be de-optimized as well and in that case even if it is under load this can be a problem.

[2017-11-09 00:33] refack commented on #127
@gareth-ellis is there a reason that `RUNS` wasn't exposed as a parameter to the job?

[2017-11-09 06:23] gareth-ellis commented on #127
the main reason was that we were using the default number set of iterations set per benchmark, I can add the RUNS parameter if you like, just need to appreciate that if you set the number too low, the results may not be particularly useful, and if set too high and with enough benchmarks in scope it could take a long time to run

[2017-11-09 14:14] refack commented on #127
I looked at the code and saw that the script will use it, so I added it, because we have a PR (https://github.com/nodejs/node/pull/16888#issuecomment-343005812) that is very noisy, and AFAICT it would give better results with more runs but shorter iterations.

[2017-11-09 14:21] AndreasMadsen commented on #127
In theory, it will only make a tiny difference. After 30-100 runs, the difference should be less than the numerical precision. In practice, decreasing the number of iteration can change the optimization behavior.

[2017-11-09 15:16] refack commented on #127
Look at this distribution:
![unpaired t test data](https://user-images.githubusercontent.com/96947/32612668-d4886198-c536-11e7-9dac-d39dfd8690b8.png)
I think all the outliers are cases where the GC kicks in, and it's not what we're trying to look at.

[2017-11-10 09:08] AndreasMadsen commented on #127
@refack what are the outliers?

[2017-11-10 10:22] AndreasMadsen commented on #127
@refack I have made a long comment in the other issue (https://github.com/nodejs/node/pull/16888#issuecomment-343434492), hopefully that will clarify things.

[2017-11-17 00:43] mhdawson opened #171 "Node.js Foundation Benchmarking WorkGroup Meeting 2017-11-20"
## Time

**UTC Mon 20-Nov-2017 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 20-Nov-2017 12:00 (12:00 PM) |
| US / Mountain | Mon 20-Nov-2017 13:00 (01:00 PM) |
| US / Central  | Mon 20-Nov-2017 14:00 (02:00 PM) |
| US / Eastern  | Mon 20-Nov-2017 15:00 (03:00 PM) |
| Amsterdam     | Mon 20-Nov-2017 21:00 (09:00 PM) |

[2017-11-17 03:05] sathvikl commented on #159
We can move the repo to the foundation org. I'm not sure which one it is or the process to do so.

I have created an issue for regarding Ghost 1.0 https://github.com/TryGhost/Ghost/issues/9231
So let's use 0.11 version of Ghost and have it integrated into the Jenkins system.

[2017-11-20 19:56] mhdawson commented on #171
Link for participants: https://hangouts.google.com/hangouts/_/ytl/V3QkphW5Ue6P2G2SFIe3xWl26Uvf3MlRNrHDAXxC9ds=?eid=100598160817214911030

[2017-11-20 19:57] digitalinfinity commented on #171
I will be 5 minutes late- apologies for the inconvenience
________________________________
From: Michael Dawson <notifications@github.com>
Sent: Monday, November 20, 2017 11:56:59 AM
To: nodejs/benchmarking
Cc: Subscribed
Subject: Re: [nodejs/benchmarking] Node.js Foundation Benchmarking WorkGroup Meeting 2017-11-20 (#171)

Link for participants: https://hangouts.google.com/hangouts/_/ytl/V3QkphW5

[2017-11-21 05:06] bmeurer commented on #171
Sorry, I couldn't make the meeting yesterday. Quick status update on our side:

- @psmarshall has started to review the Node core benchmarks ([investigation doc](https://docs.google.com/document/d/1jihKcLOKC2BNFBOXrob0WcalrC-iL8-hBSVUMyE3CqQ)).
- @tebbi has added the web tooling benchmark to the core benchmark suite. Will follow up on the suggestions by @mhdawson.

[2017-11-21 16:19] uttampawar opened #174 "Port node-dc-eis benchmark to use http2 api and add to nodejsbenchmarking"
Opening this issue to track HTTP2 performance using simple metric obtained from dc-eis workload along with experimental branch/patch supporting http2 api.

[2017-11-21 18:41] mhdawson commented on #171
For for minutes: https://github.com/nodejs/benchmarking/pull/173#issuecomment-345918321

[2017-11-21 18:41] #171 closed

[2017-11-22 23:18] mhdawson commented on #138
Benchmark is now running in nightly builds.  I think this issue can now be closed. Closing, please let me know if it should still be open.

[2017-11-22 23:18] #138 closed

[2017-11-22 23:19] mhdawson commented on #120
@MSLaguana  are you still looking at this ?

[2017-11-23 10:34] bmeurer commented on #138
Yes, thanks @tebbi and @mhdawson for getting it up and running!

[2017-11-30 23:16] mhdawson opened #176 "Node.js Foundation Benchmarking WorkGroup Meeting 2017-12-04"
## Time

**UTC Mon 04-Dec-2017 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 04-Dec-2017 12:00 (12:00 PM) |
| US / Mountain | Mon 04-Dec-2017 13:00 (01:00 PM) |
| US / Central  | Mon 04-Dec-2017 14:00 (02:00 PM) |
| US / Eastern  | Mon 04-Dec-2017 15:00 (03:00 PM) |
| Amsterdam     | Mon 04-Dec-2017 21:00 (09:00 PM) |

[2017-12-01 08:34] hashseed commented on #168
Just to recap for those who do not have the full context:

Previously, V8 would always run native JIT code. Linux perf or similar tools would periodically walk the stack and collect PCs from every frame. Those PCs can be attributed to individual code objects, each corresponding to one or more (in case of inlining) functions in the source code.

With the bytecode interpreter (Ignition), this is no

[2017-12-04 04:11] bmeurer commented on #168
@hashseed Good summary. Fact-check passed 👍

There are also additional complications with moving bytecode array code objects, that you need to get right with `perf`. In general, I don't think changing `perf`s stack walker is doable, especially since we'd need the same for `dtrace` soon.

Maybe we can really beef up `--prof` to meet the requirements of Node?

[2017-12-04 09:26] bmeurer commented on #168
Upstream bug: [v8:7155](crbug.com/v8/7155)

[2017-12-04 14:41] targos opened #177 "Run benchmarks with the latest canary build"
I think it would be quite interesting to see where the canary branch is in the benchmark graphs @ https://benchmarking.nodejs.org/

[2017-12-04 17:22] mhdawson commented on #177
Is the branch to build canary-base ?

[2017-12-04 17:47] targos commented on #177
No, it is canary in nodejs/node-v8: https://github.com/nodejs/node-v8/commits/canary

[2017-12-04 19:15] mhdawson commented on #177
Create job to run on that branch. https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-canary/1/console

If that runs ok, then last step would be to edit the configs to add canary to the data included on the charts @bmeurer any chance you could do a PR for that ?

[2017-12-04 19:33] bmeurer commented on #176
Unfortunately, I can't make the meeting today. But I'll follow up on https://github.com/nodejs/benchmarking/issues/177 tomorrow. Otherwise regarding status, I have been looking into a couple of issues discovered via the web-tooling-benchmark, but no big deals so far. We've also been thinking about better benchmark coverage for the `Buffer` class (and thus typed arrays in Node), but that's in early

[2017-12-04 19:52] mhdawson commented on #177
Had to do small fixup, but second one ran ok, kicked off second run so we'll have minimum 2 data points required by the charts.  Job is now setup to run nightly.

[2017-12-04 20:00] mhdawson commented on #176
Link for participants: https://hangouts.google.com/hangouts/_/ytl/AzAZ8iJDSF84DdQMOIw5PkQJ-0wu_mK51FXfIsvqa6o=?eid=100598160817214911030

[2017-12-04 20:01] mhdawson commented on #176
For those who just want to watch http://youtu.be/aTBOc2LH-cg

[2017-12-04 20:04] mhdawson commented on #176
Just waiting for people to join

[2017-12-04 20:13] mhdawson commented on #127
Gareth opened https://github.com/nodejs/node/issues/17359 to let collaborators know about it.

[2017-12-08 12:50] targos commented on #177
The job is running daily and https://github.com/nodejs/benchmarking/pull/178 landed. What else is needed?

[2017-12-11 23:07] mhdawson commented on #177
We need a PR that updates the configuration for the charts to include canary.  Ex:
https://github.com/nodejs/benchmarking/blob/master/benchmarks/dc_eis_throughput/dceisThroughput.json

[code]

Needs to be updated to include the canary data.

This needs to be done for every benchmark config json.

The hardest part may be finding a color that looks reasonable.

[2017-12-16 20:40] bmeurer opened #181 "Performance impact of async_hooks"
I've already started a related discussions on Twitter earlier [here](https://twitter.com/bmeurer/status/941995802435686400), but Twitter doesn't scale for this kind of discussion, so I thought I should move it here, so it's easier to follow the discussion. For background: @jasnell approached me at NodeConfEU in November 2017, asking for help on the performance of [`async_hooks`](https://nodejs.org

[2017-12-16 20:53] bmeurer commented on #181
There's been a related discussion in https://github.com/nodejs/promises/issues/31 earlier this year, which yielded a couple of interesting improvements and insights.

Pinging @nodejs/performance @nodejs/async_hooks

[2017-12-16 21:46] benjamingr commented on #181
Particularly about async_hooks and promises or promises in general?

For async_hooks and promises - I think a server-application benchmark could be good here - with contexts through async functions through several layers of calls - I'd then listen to `promiseResolve` and write interesting things about the app while sending it "user data" and measure how long it takes. "interesting things" can be t

[2017-12-17 17:49] bmeurer commented on #181
Improving promise performance in general is also a good idea, but this particular issue is primarily about the impact of `async_hooks`, i.e. about the performance cliff that you fall off when you enable `async_hooks`.

As for promises in general and in particular `async`/`await` and async iterators, we will need good benchmarks as well to drive meaningful performance work. I've started to collect

[2017-12-17 20:09] AndreasMadsen commented on #181
Specifically, regarding `PromiseHooks` and performance I would like to see:

**`kDestroy` is added.** I think in many cases it is straightforward to know when a `promise` can no longer be refered too. Thus we could emit the `destroy` hook much sooner, in other cases it would be fine to wait for garbage collection, but if V8 could instrument that for us directly it would be great.

I've gotten many

[2017-12-18 06:51] bmeurer commented on #181
@AndreasMadsen Thanks for the feedback, that's very interesting. These seem to be more on the feature request side.

Do you have a suggestion/intuition here how to do that?

So you're saying that by changing the API and adding machinery to implement `kDestroy` on the V8 side we should be able to improve performance significantly?

[2017-12-18 06:51] bmeurer commented on #181
cc @gsathya @caitp

[2017-12-18 07:23] AndreasMadsen commented on #181
Often promises are only "referenced" once, either by `.then()` chaining or they are returned and used in `await`.

[code]

Yes, that would be my guess. Wrapping and unwrapping the `promise` object is definitely the most expensive part of our `PromiseHooks` integration. Not having to do that, should improve performance.

[2017-12-18 07:44] bmeurer commented on #181
cc @jaro-sevcik

[2017-12-18 08:17] benjamingr commented on #181
If V8 could detect that with escape analysis and optimize the return value of that function to an entirely different implementation that would be awesome. Fast libraries all hack this by having the single listener case optimized - but an engine that can prove it and avoid allocating extra stuff would be awesome. In terms of promise hooks I suspect it would also simplify things _a lot_ for the comm

[2017-12-18 08:33] mcollina commented on #181
On the benchmarks side, we can also consider Hapi v17, which is completely async-await based.

The problem with real-world code is that it typically involves a database, and that makes it very hard to measure small improvements. IMHO we should measure:

1. receive a request, performs a query in the DB, returns value as JSON
2. receive a request, performs a query in the DB, performs another query i

[2017-12-18 08:38] benjamingr commented on #181
This is what Doxbee did (the bluebird benchmark suite) which you're familiar with - we can fork and extend it.

[2017-12-18 09:12] mcollina commented on #181
@benjamingr I think we are all more concern on overall impact of async await rather than a comparative measurement between implementations. Plus, I think we should focus on overall performance including a web framework, a database and HTTP requests rather than _just_ the promise/async await layer.

[2017-12-18 11:39] gsathya commented on #181
Thanks @AndreasMadsen, @benjamingr and @mcollina! This is definitely interesting.

This seems surprising to me. I would think that calling out to the javascript hook defined by the user from C++ to be the most expensive part. Have you tried benchmarking with and without the wrapping?

The way escape analysis works is by figuring out if a given allocation is unobservable. But, we lose all that with

[2017-12-18 12:07] bmeurer commented on #181
@mcollina My gut feeling is that we will need some kind of micro-benchmarks to drive individual work items. Plus real-world code to see overall impact and find appropriate areas worth looking into.

@benjamingr Escape analysis could indeed eliminate promises (sometimes), but with promise hooks that becomes impossible, since every promise already *escapes*/*leaks* to the hooks.

[2017-12-18 12:15] AndreasMadsen commented on #181
I admit, I have not done a full matrix comparison. But this was the observation when we initially added the wrapping. It also depends on what hooks are used. I remember that we have some numbers for this but I can't find them.

I can't think of any that actually use the `promise` object. If we had the `kDestroy` hook we could properly live without it. If `kInit` would allow us to return a custom `

[2017-12-18 12:45] bmeurer commented on #181
I've heard that `zone.js` might be abandoned by the Angular folks. And `async_hooks` are available on the Node side only, so they still need a different solution for client side. Not sure who to ask about this?

[2017-12-18 14:03] benjamingr commented on #181
@mcollina

I think what we're measuring `async/await` against here (with async_hooks) is callbacks. I agree with the database assumption, I'd focus on the most common stack and write the same app in two ways (callbacks and promises) and add instrumentation (for async hooks).

I tend to agree with database/web framework and http requests - but we need to make sure those are as thin as possible so w

[2017-12-19 20:05] bmeurer commented on #181
@benjamingr The thing with promise hooks (as required by `async_hooks`) is that we need to pass the `JSPromise` object to Node, which immediately makes all escape analysis useless as TurboFan has no idea what Node does with the object and cannot perform scalar replacement of the fields.

[2017-12-19 20:24] AndreasMadsen commented on #181
@bmeurer As said, we don't actually need the `JSPromise` object in node, we just need a way to pass context.

[2017-12-19 20:26] bmeurer commented on #181
That's not how it's implemented currently. I think I need to look at the Node core side again. Don't you need to slap ids onto the `JSPromise` object?

[2017-12-19 20:30] AndreasMadsen commented on #181
@bmeurer yes we do. If `PromiseHooks` allowed us to set those ids (just one 64bit id really) in `kInit` and then passed them to the other events we wouldn't need the `JSPromise` object.

Our `PromiseHook` code is here: https://github.com/nodejs/node/blob/master/src/async_wrap.cc#L283

[2017-12-21 12:37] targos commented on #177
Proposition: https://github.com/nodejs/benchmarking/pull/182

[2017-12-21 19:48] bmeurer commented on #181
@AndreasMadsen But we still need to materialize the `JSPromise` object to pass it to the `kInit` hook. So you already defeat the escape analysis at that point. Would it be possible to eliminate the need to pass a concrete `JSPromise` object to the promise hooks completely?

[2017-12-21 22:48] AndreasMadsen commented on #181
This is what I'm saying! We are only using it propagating context, so if `PromiseHooks` provided a different way of doing this, such as propagating a 64bit id set in `kInit` then that would work just fine.

[2017-12-22 08:28] bmeurer commented on #181
@AndreasMadsen Staring at the `PromiseHook` on the Node side, you store the `PromiseWrap` object on the `JSPromise` and you do check the parent `JSPromise` during `kInit`. So this would be a major refactoring on how this works. A few questions come to mind here:

- Can we get rid of the `PromiseWrap` for every `JSPromise`?
- Can we move the id slapping logic to V8 instead? So that V8 can set these

[2017-12-22 09:11] AndreasMadsen commented on #181
Correct. The `PromiseWrap` holds the ids (`asyncId` and `triggerAsyncId`) and emits the destroy event. We also send it to the user as the `resource` object, where it contains two values:
[code]

On our side, it would be API breaking but I don't see a big issue here. What would be missing is the `resource.promise` object but I have never seen anyone actually use that. And I don't think it is worth

[2017-12-22 10:08] JiaLiPassion commented on #181
@bmeurer,

Angular current provide a `NgNoopZone` to improve performance, it will not load `zone.js`,but it is just an additional option when user want to fully control when to do `change detection`.

currently in `zone.js`, I want to know when `promise` is really resolved instead of get a `kResolve` callback because I want to
- implement a `asynchooks` based `zone.js`.
- let `zone.js` be able to

[2017-12-22 16:02] ofrobots commented on #181
@AndreasMadsen @bmeurer

Note that async-hooks are still experimental, so the cost of making a semver breaking change is not that high, specially if it has significant benefits. Regardless, if V8 was to implement this today, this would only get into Node 10, a semver major release. Whether or not the change can be backported to Node 8 and 9 would depend on the complexity rather than semver-ness of

[2017-12-26 10:05] guyguyon commented on #181
@bmeurer I've tried to implement a user request context using Async Hooks. I wrote about it a [blog post](https://medium.com/@guysegev/async-hooks-a-whole-new-world-of-opportunities-a1a6daf1990a). We used it for debugging purposes as well when we had problems to understand where exactly our bug is.

[2017-12-26 10:10] benjamingr commented on #181
@guyguyon can you share information about the performance impact and what parts were painful in that experience?

[2017-12-26 10:22] guyguyon commented on #181
I know the idea is to share production experience but I didnt dare to upload it to production yet :/. From our Dev experience, I'm deleting a request context using the `destroy` hook. Since on some resources it will be called by the garbage collector, it caused the request context object to grow fast.

[2018-01-01 19:37] mhdawson opened #183 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-01-02"
## Time

**UTC Tue 02-Jan-2018 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 02-Jan-2018 12:00 (12:00 PM) |
| US / Mountain | Tue 02-Jan-2018 13:00 (01:00 PM) |
| US / Central  | Tue 02-Jan-2018 14:00 (02:00 PM) |
| US / Eastern  | Tue 02-Jan-2018 15:00 (03:00 PM) |
| London        | Tue 02-Jan-2018 20:00 (08:00 PM) |

[2018-01-02 13:42] targos commented on #177
And it's done, thank you all!

[2018-01-02 13:42] #177 closed

[2018-01-02 15:27] mhdawson commented on #136
Survey is live here: https://www.surveymonkey.com/r/NodeBenchmarking

[2018-01-02 20:03] mhdawson commented on #183
Just about to start meeting

[2018-01-02 20:03] mhdawson commented on #183
Meeting link https://hangouts.google.com/hangouts/_/ytl/jWHSnTvdZ2mZMHDa-UtaqlRPG0oa1yZHEAonq1PjYt8=?eid=100598160817214911030

[2018-01-02 20:08] mhdawson commented on #183
Just me so far.  Will wait a bit longer.  It is the day after holidays for many and some may be away longer so not too surprising that we may have trouble getting people.

[2018-01-02 20:15] mhdawson commented on #183
Ok, its 15 minutes after the start time so I'm going to call it for this meeting.  Next meeting is scheduled for
Jan 16.  I'm sure we have more people back then :)

[2018-01-02 20:25] mhdawson commented on #136
We have a dump of the responses so far.  I'm not going to post them here as I believe we should wait for the poll to close before we make the results public in order to avoid influencing the results.  If members of the @nodejs/benchmarking team would like a copy just let me know and I'll send them on through email.

[2018-01-03 03:51] bmeurer commented on #136
@mhdawson Can you send me a copy of the responses so far?

[2018-01-03 15:21] mhdawson commented on #136
@bmeurer I realized some data might have to be stripped out (for example any identifying info) and have just asked the question I should have asked before which is if any of the data is sensitive.  Of course we'll need to share with benchmarking team but I want to agree with the Foundation contact doing the survey how/what we should share.  It may take me a bit more time to do that.

[2018-01-03 15:22] mhdawson commented on #177
@targos good choice of color, thanks for getting this done :)

[2018-01-03 20:42] #183 closed

[2018-01-12 23:44] mhdawson opened #184 "Benchmarking meeting monday 15 Jan"

[2018-01-12 23:46] #176 closed

[2018-01-13 20:09] mhdawson opened #185 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-01-15"

[2018-01-13 20:19] mhdawson opened #186 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-01-15"
## Time

**UTC Mon 15-Jan-2018 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 15-Jan-2018 12:00 (12:00 PM) |
| US / Mountain | Mon 15-Jan-2018 13:00 (01:00 PM) |
| US / Central  | Mon 15-Jan-2018 14:00 (02:00 PM) |
| US / Eastern  | Mon 15-Jan-2018 15:00 (03:00 PM) |
| London        | Mon 15-Jan-2018 20:00 (08:00 PM) |

[2018-01-13 20:19] #185 closed

[2018-01-13 20:20] #184 closed

[2018-01-13 20:25] mhdawson commented on #186
@nodejs/benchmarking reminder that meeting is this Monday.

[2018-01-15 20:00] mhdawson commented on #186
Link for participants https://hangouts.google.com/hangouts/_/ytl/TVEpc5zsJejyr1p3rJDDtzeGi540ArewFeR9muRno9w=?eid=100598160817214911030

[2018-01-15 20:01] mhdawson commented on #186
@bmeurer you going to make it today ?

[2018-01-15 20:04] mhdawson commented on #186
@uttampawar you going to make it

[2018-01-15 20:10] mhdawson opened #187 "New meeting time"
@nodejs/benchmarking

After talking to @bmeurer, to make it easier for some to attend I'm proposing we move the meetings so that we alternate between:

Monday 2 EST
Tuesday 2 EST

Unless I hear any objections I'll move the next meeting.

[2018-01-15 20:11] bmeurer commented on #187
That'd be awesome! 👍

[2018-01-15 20:40] bmeurer opened #188 "Setup bluebird and/or wikipedia benchmarks for promise performance"
Specifically we're interested in the difference between regular runs with these workloads and runs where we have `async_hooks` enabled (see #181 for background).

[2018-01-15 20:53] mhdawson commented on #127
Anything more to be discussed in this issue ?   The benchmark job is now available, publicized and initial issues resolved.

[2018-01-16 12:20] bmeurer commented on #188
Ok, I managed to run the aforementioned benchmarks today with and without `async_hooks`, and the results show a significant slow-down, even with just an empty `init` hook.

![Results for Node 9.3.0](https://raw.githubusercontent.com/bmeurer/async-hooks-performance-impact/master/results-node-9.3.0.png)

The full results and benchmarks are available at https://github.com/bmeurer/async-hooks-performa

[2018-01-16 12:33] bmeurer commented on #181
I set up a [test case](https://github.com/bmeurer/async-hooks-performance-impact) with the popular Bluebird and Wikipedia benchmarks (used by the V8 project), which shows that the impact of just having `async_hooks` enabled (i.e. the PromiseHook enabled in V8) results in significant performance drops.

[2018-01-16 12:44] AndreasMadsen commented on #188
@bmeurer By bluebird, do you mean with https://github.com/petkaantonov/bluebird/pull/1472 applied?

[2018-01-16 13:04] bmeurer commented on #188
No it's the bluebird benchmarks running with native promises.

[2018-01-16 15:46] mike-kaufman commented on #181
@bmeurer do you have some numbers?

[2018-01-16 19:17] mhdawson opened #189 "Initial summary of benchmarking survey results"
The survey will be closing at the end of the month and we are planning to share a summary at the first end user feedback group with those companies that have volunteered to participate.

Before doing that we want to share the results with the benchmarking WG who requested it :)

I'm away the week before this meeting so @dshaw will put together the summary and present at the meeting which is schedu

[2018-01-16 19:38] bmeurer commented on #181
The [bmeurer/async-hooks-performance-impact](https://github.com/bmeurer/async-hooks-performance-impact) repository has the numbers:

![Results for Node 9.3.0](https://raw.githubusercontent.com/bmeurer/async-hooks-performance-impact/master/results-node-9.3.0.png)

[2018-01-17 00:21] ruimarinho commented on #181
We've had to rollback a staged production deploy after confirming a severe performance degradation as well. Same goal as @guyguyon - creating request based contexts The numbers from @bmeurer seem to back this up.

[2018-01-17 04:00] bmeurer commented on #181
@ruimarinho Oh that's pretty bad. Was it due to Promise heavy code? Or just old fashioned callback style? Also what kind of software did you try to deploy using `async_hooks`?

[2018-01-17 07:12] ak239 commented on #188
It looks like to implement async_hooks for promises V8 enters C++ code and then go back into JavaScript land to call actual callback. Should we somehow migrate promise hooks from C++ builtin to TF builtin to get a performance boost?

And probably it is not best place for this question but what is main use case for async_hooks? Is it for some kind of async context tracking?

[2018-01-17 08:39] bmeurer commented on #188
@gsathya already suggested to move the promise hooks to JS and eventually spec them. This would help to reduce the C++ overhead, but so far I don't think that's the only/main bottleneck.

[2018-01-17 13:11] ruimarinho commented on #181
@bmeurer yes - heavy Promise code (using async/await). Full stack http request server, including redis and database connections. We are going to try enabling `async_hooks` without associating any other code to confirm if the issue is simply related to activating them. We used `domains` which in 9.3.0+ run on top of `async_hooks`. We're also using bluebird for most of the modules. /cc @kurayama.

[2018-01-17 13:39] bmeurer commented on #181
@ruimarinho Ok, if you're using bluebird promises, that's going to be slower than native promises already by itself. `async`/`await` though will always use native promises.

[2018-01-17 16:27] mhart commented on #22
Related: https://github.com/nodejs/node/issues/17058

[2018-01-17 21:30] mhdawson commented on #22
@mhart thanks for the cross-post.  We have startup/shutdown being tracked nightly in https://benchmarking.nodejs.org/charts/start_stop.png.  I've been following #17058 and will be interested to see the difference that #17058 makes.

[2018-01-17 21:39] mhdawson commented on #186
PR for minutes https://github.com/nodejs/benchmarking/pull/190

[2018-01-17 21:39] #186 closed

[2018-01-18 05:24] bmeurer commented on #181
Accidentally commented on the TSC thread instead of this one. So for future reference, I also did a test run of simple `hapi` and `koa` servers (using @mcollina's `autocannon` tester), again with and without `async_hooks` enabled to get more real-worldish numbers (the Promise benchmarks arguably really stress promises pretty heavily). The results were pretty interesting (with latest Node 9.4.0):

[2018-01-18 23:28] ruimarinho commented on #181
Very interesting data @bmeurer, thanks for the insights on this subject. We definitely hit the `with async_hooks (all)` scenario since the current domains implementation on top of `async_hooks` registers all handlers. That's more in line with what we've seen in production.

Does this hold true even even when `await Promise.all([p1, p2])` where `const Promise = require('bluebird')`?

[2018-01-19 07:06] bmeurer commented on #181
In that case you'll probably use bluebird promises for the `Promise.all` and native promises for the `await`, which I guess is not what you want. The ES2017 spec forces `await` and `async function` to always use native promises (which I consider a good thing FWIW). I think @gsathya brought this up earlier.

[2018-01-22 23:30] sathvikl opened #191 "Issues with existing benchmark scripts"
I am adapting the run scripts written for acmeair.sh and [ run-dc-eis.sh](https://github.com/nodejs/benchmarking/blob/master/experimental/benchmarks/node-dc-eis/run-dc-eis.sh)
for ghost.js [run-ghost-js.sh](https://github.com/sathvikl/benchmarking/blob/add_ghostjs/experimental/benchmarks/ghost-bench/run-ghost-js.sh#L314)

I am trying to add a timeout functionality for the whole script, so Jenkins

[2018-01-23 01:26] uttampawar commented on #159
@mhdawson Sathvik has prepared ghost.js v0.11 (older version) and ghost.js v1.17 (latest stable LTS) to be submitted to benchmarking. My question is do we really care about older version of this application? They do not have LTS support for v0.11 anymore. My suggestion is to use the latest version only. Please share your thoughts so that we can submit PR. Thanks.

[2018-01-24 14:05] mhdawson opened #192 "Node.js Foundation Benchmarking WorkGroup Meeting 2018-01-29"
## Time
** NOTE TIME CHANGED TO 7:00 PM UTC **

**UTC Mon 29-Jan-2018 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 29-Jan-2018 11:00 (11:00 PM) |
| US / Mountain | Mon 29-Jan-2018 12:00 (12:00 PM) |
| US / Central  | Mon 29-Jan-2018 13:00 (01:00 PM) |
| US / Eastern  | Mon 29-Jan-2018 14:00 (02:00 PM) |
| London

[2018-01-27 11:16] gareth-ellis opened #193 "community benchmark run.sh changes"
I'm putting this here to cover a few changes I think are necessary to the community benchmark job in jenkins.

Currently the version we run is from the core-benchmarks branch in the benchmarking repo, I'll enter a PR to bring that into master and then update the job in jenkins to run from master.

Once done, I have a few more changes I want to apply to make things clearer in the job output.

1) I

[2018-01-29 16:10] mhdawson commented on #192
@dshaw a reminder that you are on for Initial summary of benchmarking survey results #189

[2018-01-29 16:14] mhdawson commented on #192
@nodejs/benchmarking @dshaw as per https://github.com/nodejs/benchmarking/issues/187 making the time 1 hour earlier today. So 2 EST.  @dshaw can you confirm you can make that.

[2018-01-29 16:25] mhdawson commented on #187
Times updated, closing